// Compatibility with older themes. These are not styles we plan on carrying over to future projects.
// However, we're using some of the same variables for future compatibility.

$richEditor-code_fontSize: .86em !default;
$richEditor-inlineCode_borderColor: #a3a3a3;
$richEditor-inlineCode_borderRadius: $global-borderRadius;
$richEditor-inlineCode_borderWidth: 1px;
$richEditor-inlineCode_verticalPadding: .07em !default;
$richEditor-inlineCode_horizontalPadding: .5em !default;
$richEditor-codeBlock_padding: 16px !default;
$richEditor-code_bg: mix($global-color_fg, $global-color_bg, 5%);
$richEditor-code_fg: #000000 !default;

// Code
.userContent {
    .code {
        display: inline-block;
        font-size: $richEditor-code_fontSize;
        vertical-align: middle;
        line-height: 1em;
        box-sizing: border-box;
        font-family: monospace;
        //background: transparent;
        max-width: 100%;
        margin: 0;
        //border: {
        //    radius: $richEditor-inlineCode_borderRadius;
        //    width: $richEditor-inlineCode_borderWidth;
        //    style: solid;
        //    color: $richEditor-inlineCode_borderColor;
        //}
        padding: {
            top: $richEditor-inlineCode_verticalPadding;
            bottom: $richEditor-inlineCode_verticalPadding;
            left: $richEditor-inlineCode_horizontalPadding;
            right: $richEditor-inlineCode_horizontalPadding;
        }
    }

    .codeInline {
        display: inline-block;
    }

    .codeBlock {
        display: block;
        overflow-x: auto;
        border: 0;
        word-wrap: normal;
        line-height: 1.4;
        white-space: pre;
        border-radius: 0;
        background: none;
        padding: 12px;
        //background-color: $richEditor-code_bg;
    }
}
