// Compatibility with older themes. These are not styles we plan on carrying over to future projects.
// However, we're using some of the same variables for future compatibility.

$richEditor-code_fontSize: .86em !default;
$richEditor-inlineCode_borderColor: #a3a3a3;
$richEditor-inlineCode_borderRadius: $global-borderRadius;
$richEditor-inlineCode_borderWidth: 1px;
$richEditor-inlineCode_verticalPadding: .07em !default;
$richEditor-inlineCode_horizontalPadding: .5em !default;
$richEditor-codeBlock_padding: 16px !default;
$richEditor-code_bg: mix($global-color_fg, $global-color_bg, 5%);
$richEditor-code_fg: #000000 !default;

// Code
.userContent {
    .code {
        display: inline-block;
        vertical-align: middle;
        line-height: inherit;
        font-size: .9em;
        box-sizing: border-box;
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        max-width: 100%;
        margin: 0;
    }

    .codeInline {
        display: inline-block;
        white-space: normal;
    }

    .codeBlock {
        display: block;
        overflow-x: auto;
        word-wrap: normal;
        line-height: 1.4;
        white-space: pre;
    }
}
