[client]
default_character_set = utf8mb4

[mysqld]
sql_mode = "ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"

log_error = /var/log/mysql/error.log

character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci

max_allowed_packet = 100M

# Disable query caching.
query_cache_type = 0
query_cache_size = 0

slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
log_queries_not_using_indexes = 1
long_query_time = 1

innodb_file_per_table  = 1
innodb_thread_concurrency = 0
innodb_read_io_threads  = 10
innodb_write_io_threads = 10
innodb_flush_log_at_trx_commit = 2
innodb_flush_method    = O_DIRECT

innodb_log_file_size = 128M

[mysqldump]
max_allowed_packet = 100M

