<div class='DismissMessage Warning userContent-error'>
    $title
    <a href='$link' rel='nofollow' title='$title'>
        <span class='icon icon-warning-sign userContent-errorIcon'>Warning</span>
    </a>
</div>
