<div class='DismissMessage Warning userContent-error'>
    {% if errorUrl is defined %}
        <a href='{{ errorUrl }}' rel='nofollow' title='{{ title }}'>
            <span class='icon icon-warning-sign userContent-errorIcon'><span class="sr-only">Warning</span></span>
            {{ title }}
        </a>
    {% else %}
       <span>
            <span class='icon icon-warning-sign userContent-errorIcon'><span class="sr-only">Warning</span></span>
            {{ title }}
       </span>
    {% endif %}
</div>
