<div class='DismissMessage Warning userContent-error'>
    <a href='{{ errorUrl }}' rel='nofollow' title='{{ title }}'>
        <span class='icon icon-warning-sign userContent-errorIcon'><span class="sr-only">Warning</span></span>
        {{ title }}
    </a>
</div>
