$embedText-header_fontSize: $global-medium_fontSize !default;
$embedText-title_fontWeight: $global-bold_fontWeight !default;
$embedText-content_boxShadowColor: rgba($global-color_fg, .3) !default;
$embedText-content_bg: #ffffff !default;
$embedText-content_boxShadow: 0 1px 3px 0 $embedText-content_boxShadowColor !default;

.embedText-content {
    display: block;
    background: $embedText-content_bg;
    box-shadow: $embedText-content_boxShadow;

    &,
    &:hover,
    &:focus {
        color: inherit;
        text-decoration: none !important;
    }
}

.embedText-body {
    display: block;
    position: relative;
    overflow: hidden;
    text-align: left;
    pointer-events: initial !important;
}

.embedText-main {
    padding: $embeddedText_padding;
    box-sizing: border-box;
}

.embedText-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: $embedText-header_fontSize;
    line-height: $global-condensed_lineHeight;
    //margin-bottom: $utility-baseUnit;
}

.embedText-titleLink,
.embedText-title {
    display: block;
    width: 100%;
    padding: 0;
    font-size: $embedText-header_fontSize;
    line-height: $global-condensed_lineHeight;
    font-weight: $embedText-title_fontWeight;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.embedText-titleLink {
    margin: 0;
    color: inherit;
}

.embedText { // for compatibility
    .embedText-title {
        margin: {
            top: #{(1 - $global-condensed_lineHeight) * .5em} !important;
            right: 0;
            bottom: #{$global-medium_fontSize / 2.2};
            left: 0;
        }
    }
}

// Edit Mode

.richEditor {
    .embedText-titleLink {
        pointer-events: none;
    }
}
