$embedQuote-text_color            : $quote-fg !default;
$embedQuote-userPhoto_size        : 24px !default;
$embedQuote-toggleButton_padding  : 12px !default;

.embedQuote {
    width: 100%;
}

.embedQuote-content {
    width: 100%;
    border-left: 6px solid $quote-border_color;
}

.embedQuote-header {
    position: relative;
    padding-right: 40px;
}

.embedQuote-userLink {
    display: inline-flex;
    align-items: center;
}

.embedQuote-userName {
    margin: 0 0 0 $metaText_margin;
    padding: 0;
    color: $metaText_color;
    font-weight: $global-bold_fontWeight;
    font-size: $metaText_fontSize;
}

.embedQuote-userPhoto {
    display: block;
    width: $embedQuote-userPhoto_size;
    height: $embedQuote-userPhoto_size;
    border-radius: $global-borderRadius;
}

.embedQuote-excerpt {
    color: $embedQuote-text_color;
    white-space: normal;

    h1, h2, h3, h4, h5, h6 {
        color: $embedQuote-text_color;
    }

    a {
        color: $embedQuote-text_color;
        text-decoration: underline;
    }
}

.embedQuote-collapseButton {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    height: $richEditor-menuButton_size;
    width: auto;
    padding: 0 $embedQuote-toggleButton_padding;

    &:hover {
        @include editorButtonHoverStyles;
    }

    &:focus {
        @include editorButtonFocusStyles;
    }

    &:active {
        @include editorButtonActiveStyles;
    }
}

.embedQuote-chevronUp,
.embedQuote-chevronDown {
    width: 8px;
    height: 4px;
    display: inline-block;
    vertical-align: .2em;
}

.embedQuote-dateTime {
    font-size: $metaText_fontSize;
    color: $metaText_color;
    margin-left: $metaText_margin * 2;
}

.embedQuote-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: {
        top: #{$embeddedText_padding - ($richEditor-menuButton_size - $embedQuote-userPhoto_size)/2};
        left: $embeddedText_padding;
        right: #{$embeddedText_padding - $embedQuote-toggleButton_padding};
        bottom: 0;
    }
}

.embedQuote-body {
    display: block;
    margin: 0;
}
