// Moderation

.content-cell {
  word-break: break-word;
}

// Cateogories add/edit
// Registration
.category-url-code,
.invite-url-code {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


// Emoji

.radiolist-label[for="Form_Garden-dot-EmojiSet"] {
  display: none;
}

.CheckboxCell {
  padding-left: $spacer;
  padding-right: $spacer;

  .icheckbox {
    margin-right: 0;
  }
}

.main .content .control-panel {
  display: none;
}

@include media-breakpoint-down(md) {
  .main .content .control-panel {
    display: block;
  }
}

table,
form {
  h2 {
    margin-top: 0;
  }
}

.label-selector .theme-description {
  display: none;
}

body {
  transition: all 250ms;
}

ul {
  margin-bottom: 0;
}

.drop-enabled {
  @extend .active;
}

// TODO: I don't know where to put this yet.
.main {
  background-color: $white;
  border-left: $border-width solid $border-color;
  border-right: $border-width solid $border-color;
}

// Makes room for the collapse button when it exists on the categories page.
.nestable-collapse ~ .nestable-content > .plank-title {
  padding-left: to-rem(39);
}
