// Moderation

.content-cell {
  word-break: break-word;
}

// Cateogories add/edit
// Registration
.category-url-code,
.invite-url-code {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}



.category-url-code {
    display: block;
    vertical-align: middle;

    .btn {
        margin-left: auto;
        display: inline;
        vertical-align: middle;
    }

    &.isOpen {
        display: block;
        //line-height: 36px;

        .form-control {
            width: 140px;
        }


        .Save.btn {
            padding-top: 1.5px;
            padding-bottom: 1.5px;
        }

        #Form_UrlCode {
            display: inline !important;
            min-width: 140px;
            padding-top: .5px;
            padding-bottom: .5px;
            vertical-align: middle;
        }
    }
}

.category-url {
    word-break: break-word;
    display: inline;
    line-height: 24px;
}


// Emoji

.radiolist-label[for="Form_Garden-dot-EmojiSet"] {
  display: none;
}

.CheckboxCell {
  padding-left: $spacer;
  padding-right: $spacer;

  .icheckbox {
    margin-right: 0;
  }
}

.main .content .control-panel {
  display: none;
}

@include media-breakpoint-down(md) {
  .main .content .control-panel {
    display: block;
  }
}

table,
form {
  h2 {
    margin-top: 0;
  }
}

.label-selector .theme-description {
  display: none;
}

body {
  transition: all 250ms;
}

ul {
  margin-bottom: 0;
}

.drop-enabled {
  @extend .active;
}

// TODO: I don't know where to put this yet.
.main {
  background-color: $white;
  border-left: $border-width solid $border-color;
  border-right: $border-width solid $border-color;
}

// Makes room for the collapse button when it exists on the categories page.
.nestable-collapse ~ .nestable-content > .plank-title {
  padding-left: 39px;
}
