.ToggleFlyout {
  position: relative;
}

.ToggleFlyout.Open {
  z-index: 110;
  /* above Item:hover */
}

.ToggleFlyout.Open .Button-Options {
  color: #0291db;
  fill: #0291db;
}

.ToggleFlyout.Open .Button-Options .SpFlyoutHandle {
  border-top-color: #0291db;
}

.ToggleFlyout .Flyout {
  position: absolute;
  top: 100%;
  /* right: -10px; This causes text overflows when flyout items are long */
  display: none;
}

.ToggleFlyout,
.Button-Options,
.OptionsTitle {
  display: inline-block;
}

.Button-Options {
  cursor: pointer;
  line-height: 1;
}

.Button-Options:hover {
  color: #0291db;
  fill: #0291db;
}

.Button-Options:hover .SpFlyoutHandle {
  border-top-color: #0291db;
}

.OptionsMenu .Flyout {
  right: -0;
}

.Flyout .Author .PhotoWrap {
  margin: 0;
}

.FlyoutMenu {
  width: 300px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: solid 1px;
}

.FlyoutButton {
  cursor: pointer;
}

.FlyoutLeft .Flyout {
  right: inherit;
}

.SpFlyoutHandle,
.DropHandle {
  display: inline-block;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 4px;
  border-color: #555a62 transparent transparent transparent;
  position: relative;
  bottom: -2px;
  vertical-align: middle;
}

.MenuItems {
  color: #555a62;
  background: #fff;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  line-height: 16px;
  min-width: 180px;
  padding: 6px 0;
}

.MenuItems .icon {
  fill: rgba(85, 90, 98, 0.8);
  margin-right: 6px;
  vertical-align: top;
}

.MenuItems .dropdown-header {
  color: #A3A3A3;
  font-size: 12px;
  padding: 6px 12px;
}

.MenuItems .dropdown-menu-link {
  display: block;
  color: inherit;
  padding: 7px 12px 7px 12px;
}

.MenuItems .dropdown-menu-link.danger {
  color: #FF1010;
}

.MenuItems .dropdown-menu-link:hover {
  background: #f2f5fa;
}

.MenuItems .selected:after {
  content: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%230291DB%22%3E%3Cpath%20d%3D%22M7.5721325%2C12.1125141%20C7.5714572%2C12.1131928%207.57078083%2C12.1138709%207.57010342%2C12.1145483%20C7.35254964%2C12.3321021%207.0688103%2C12.4422832%206.78434933%2C12.4429854%20C6.49721771%2C12.4413055%206.21268196%2C12.3329648%205.99426545%2C12.1145483%20L3.32760891%2C9.44789175%20C2.89237254%2C9.01265538%202.88927326%2C8.31009706%203.32746273%2C7.8719076%20C3.76261837%2C7.43675196%204.46257481%2C7.43118171%204.90344688%2C7.87205378%20L6.78218443%2C9.75079133%20L11.2025906%2C5.3303852%20C11.6399896%2C4.89298617%2012.3443011%2C4.88813372%2012.7824905%2C5.32632319%20C13.2176462%2C5.76147883%2013.224448%2C6.46020374%2012.7784285%2C6.90622316%20L7.57416542%2C12.1104863%20C7.57348803%2C12.1111637%207.57281%2C12.11184%207.57213133%2C12.1125153%20L7.5721325%2C12.1125141%20Z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E);
  display: block;
  height: 16px;
  width: 16px;
  float: right;
}

.MenuItems .no-icon .dropdown-menu-link {
  padding-left: 34px;
}

.MenuItems hr {
  border-color: #e5e5e5;
  border-top-style: dotted;
  margin: 6px 0;
}

.dd {
  color: #555a62;
  padding: 18px;
  position: relative;
  fill: #555a62;
}

.dd * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dd-list {
  position: relative;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 36px;
}

.dd-item > button {
  border: 0;
  background: none;
  position: absolute;
  top: 0;
  left: 30px;
  padding: 9.5px 6px;
  cursor: pointer;
}

.dd-item > button:active, .dd-item > button:hover {
  color: #0291db;
  fill: #0291db;
}

.dd-item .options {
  float: right;
  fill: rgba(85, 90, 98, 0.6);
  margin-top: -7px;
  margin-right: -6px;
}

.dd-item .OptionsTitle {
  display: inline-block;
  padding-right: 2px;
  line-height: 1;
}

.dd-item .Button-Options {
  padding: 9.5px;
}

.dd-item .ToggleFlyout .Flyout {
  top: 28.5px;
}

.dd-handle {
  padding: 9.5px;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: move;
  cursor: -moz-grab;
  cursor: grab;
  line-height: 1;
  fill: rgba(85, 89, 97, 0.2);
}

.dd-handle:hover {
  fill: rgba(85, 90, 98, 0.6);
}

.dd-content {
  display: block;
  border: solid 1px rgba(85, 89, 97, 0.2);
  background: #fdfdff;
  border-radius: 2px;
  padding: 6px 9px 6px 60px;
  margin: 3px 0;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  margin-top: 0;
  margin-left: 0;
  opacity: .8;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.dd-dragel > .dd-item > .dd-handle {
  fill: #555a62;
}

.dd-placeholder,
.dd-empty {
  margin: 3px 0;
  padding: 0;
  background: #f1faff;
  border: 1px dashed #0291db;
  min-height: 36px;
  border-radius: 2px;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.SpFlyoutHandle,
.DropHandle {
  border-top-color: rgba(85, 90, 98, 0.6);
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-16 {
  height: 16px;
  width: 16px;
}

.bigcrumbs {
  border-bottom: solid 1px rgba(85, 89, 97, 0.2);
  fill: #555a62;
  padding-left: 6px;
}

.bigcrumbs .crumb {
  display: inline-block;
  line-height: 24px;
  padding: 6px 24px 6px 12px;
  position: relative;
  fill: #555a62;
  color: #555a62;
}

.bigcrumbs .crumb:hover {
  fill: #0291db;
  color: #0291db;
}

.bigcrumbs .crumb:before, .bigcrumbs .crumb:after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -12px;
  width: 0;
  border: solid 12px transparent;
  border-top-width: 19px;
  border-bottom-width: 19px;
  border-left-color: rgba(85, 89, 97, 0.2);
}

.bigcrumbs .crumb:after {
  content: '';
  border-left-color: #fff;
  right: -11px;
}

.bigcrumbs .crumb:before {
  content: '';
}

.bigcrumbs .crumb:last-child:before, .bigcrumbs .crumb:last-child:after {
  display: none;
}

.bigcrumbs .icon-root {
  padding: 0 8px;
  margin-bottom: 4px;
}

.heading-bar .actions {
  float: right;
  padding: 6px 18px 0 0;
}
/*# sourceMappingURL=admin.css.map */