/applications/
!/applications/conversations/
!/applications/dashboard/
!/applications/vanilla/
/cache/
!/cache/.gitkeep
/conf/
!/conf/config-defaults.php
!/conf/constants.php
!/conf/readme.txt
/locales/
!/locales/.gitkeep
/plugins/
!/plugins/AllViewed/
!/plugins/ButtonBar/
!/plugins/Debugger/
!/plugins/EmojiExtender/
!/plugins/Facebook/
!/plugins/Flagging/
!/plugins/GettingStarted/
!/plugins/Gravatar/
!/plugins/GooglePlus/
!/plugins/GooglePrettify/
!/plugins/Quotes/
!/plugins/IndexPhotos/
!/plugins/VanillaInThisDiscussion/
!/plugins/StopForumSpam/
!/plugins/editor/
!/plugins/ProfileExtender/
!/plugins/HtmLawed/
!/plugins/PrivateCommunity/
!/plugins/Twitter/
!/plugins/vanillicon/
!/plugins/SplitMerge/
!/plugins/Tagging/
!/plugins/VanillaStats/
!/plugins/OpenID/
!/plugins/oauth2/
/themes/
!/themes/2011Compatibility/
!/themes/EmbedFriendly/
!/themes/bittersweet/
!/themes/default/
!/themes/mobile/
/uploads/
!/uploads/.gitkeep
*vanillaforums*
*.kpf
.DS_Store
Thumbs.db
*.swp
_notes
*/_archive/*
~*
composer-local.json
.project
.settings
.buildpath
.idea/*
/nbproject/
/vendor/
node_modules/
bower_components/
npm-debug.log
/build/
!/build/build.xml
!/build/package-include.txt
!/build/package-exclude.txt
/tests/cache/
/cgi-bin/