/applications/*
!/applications/conversations/
!/applications/dashboard/
!/applications/vanilla/
/build/*
!/build/.storybook
!/build/entries
!/build/scripts
!/build/tsconfig.json
!/build/.htaccess
!/build/build.xml
!/build/package-include.txt
!/build/package-exclude.txt
!/build/README.md
!/build/webpack.aliases.js
/cache/*
.cache
!/cache/.htaccess
/conf/*
!/conf/.htaccess
!/conf/config-defaults.php
!/conf/constants.php
!/conf/readme.txt
/dist/*
/locales/*
!/locales/.gitkeep
/plugins/*
!/plugins/AllViewed/
!/plugins/ButtonBar/
!/plugins/Debugger/
!/plugins/editor/
!/plugins/emojiextender/
!/plugins/Facebook/
!/plugins/Flagging/
!/plugins/GettingStarted/
!/plugins/Gravatar/
!/plugins/GooglePlus/
!/plugins/GooglePrettify/
!/plugins/IndexPhotos/
!/plugins/HtmLawed/
!/plugins/OpenID/
!/plugins/oauth2/
!/plugins/pockets/
!/plugins/PrivateCommunity/
!/plugins/ProfileExtender/
!/plugins/Quotes/
!/plugins/recaptcha/
!/plugins/rich-editor/
!/plugins/SplitMerge/
!/plugins/StopForumSpam/
!/plugins/stubcontent/
!/plugins/swagger-ui/
!/plugins/Tagging/
!/plugins/Twitter/
!/plugins/vanillaconnect/
!/plugins/VanillaStats/
!/plugins/VanillaInThisDiscussion/
!/plugins/vanillicon/
/themes/*
!/themes/2011Compatibility/
!/themes/EmbedFriendly/
!/themes/bittersweet/
!/themes/default/
!/themes/mobile/
!/themes/theme-boilerplate/
!/themes/keystone/
!/themes/theme-api-test/
/uploads/*
!/uploads/.gitkeep
*vanillaforums*
*.kpf
.DS_Store
.htaccess
Thumbs.db
*.swp
_notes
*/_archive/*
~*
composer-local.json
/.htaccess
.project
.settings
.buildpath
.idea/*
.vscode
.awcache
/nbproject/
/vendor/
node_modules/
bower_components/
npm-debug.log
/tests/cache/
/cgi-bin/
phpunit.xml
yarn-error.log
git-diff.txt
phpcs-diff.json
