language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - hhvm

sudo: false

matrix:
  fast_finish: true

cache:
  - apt

addons:
  apt:
    packages:
      - nginx
      - realpath
  hosts:
    - vanilla.test

install:
  - composer self-update
  - composer install -o
  - tests/travis/nginx/install-nginx.sh

script:
  - tests/travis/php-lint.sh .
  - phpunit -c phpunit.xml.dist
  - cat /tmp/error.log
  - cat /tmp/access.log