<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/phpunit.php"
        >
    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="date.timezone" value="America/Montreal"/>
        <const name="TESTMODE_ENABLED" value="true"/>

        <env name="TEST_BASEURL" value="http://vanilla.test:8080" />
        <env name="TEST_DB_NAME" value="vanilla_test"/>
        <env name="TEST_DB_USER" value="circleci" />
        <env name="TEST_DB_PASSWORD" value="" />
        <env name="TEST_DB_HOST" value="127.0.0.1" />
        <env name="TEST_SPHINX_HOST" value="127.0.0.1" />
    </php>

    <testsuites>
        <testsuite name="Library">
            <directory suffix="Test.php">./tests/Library/</directory>
        </testsuite>
        <testsuite name="Formatting">
            <directory suffix="Test.php">./tests/Library/Vanilla/Formatting</directory>
        </testsuite>
        <testsuite name="Models">
            <directory suffix="Test.php">./tests/Models</directory>
            <directory suffix="Test.php">./applications/*/tests/Models</directory>
            <directory suffix="Test.php">./plugins/*/tests/Models</directory>
        </testsuite>
        <testsuite name="APIv0">
            <directory suffix="Test.php">./tests/APIv0</directory>
        </testsuite>
        <testsuite name="APIv2">
            <directory suffix="Test.php">./tests/APIv2</directory>
            <directory suffix="Test.php">./applications/*/tests/APIv2</directory>
            <directory suffix="Test.php">./plugins/*/tests/APIv2</directory>
        </testsuite>
        <testsuite name="Sphinx">
            <directory suffix="Test.php">./tests/Sphinx</directory>
            <directory suffix="Test.php">./applications/*/tests/Sphinx</directory>
            <directory suffix="Test.php">./plugins/*/tests/Sphinx</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">applications/conversations</directory>
            <directory suffix=".php">applications/dashboard</directory>
            <directory suffix=".php">applications/vanilla</directory>

            <directory suffix=".php">library</directory>

        </whitelist>
    </filter>
</phpunit>
