<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/phpunit.php"
        >
    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="date.timezone" value="America/Montreal"/>

        <env name="baseurl" value="http://vanilla.test:8080" />
        <env name="dbname" value="vanilla_test"/>
        <env name="dbuser" value="travis" />
        <env name="dbpass" value="" />
    </php>

    <testsuites>
        <testsuite name="Library">
            <directory suffix="Test.php">./tests/Library/</directory>
        </testsuite>
        <testsuite name="Models">
            <directory suffix="Test.php">./tests/Models</directory>
        </testsuite>
        <testsuite name="APIv0">
            <directory suffix="Test.php">./tests/APIv0</directory>
        </testsuite>
        <testsuite name="APIv2">
            <directory suffix="Test.php">./tests/APIv2</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">library</directory>
            <exclude>
                <directory suffix=".php">library/vendors</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
