.Discussion {

    .DataList,
    .MessageList {

        .Item {

            .Item-Header {
                background: transparent;
            }

            .Username {
                color: $global-color_primary;

                &:focus,
                &:hover {
                    color: $global-color_primaryAlt;
                }
            }
        }
    }
}

.DataList,
.MessageList {

     .Item.Read,
     .Item:not(.CategoryHeading) {
         border-left-width: 0;
         border-right-width: 0;
     }

    .Item:not(.CategoryHeading):first-child {
        border-top-width: 0;
    }

    .Item:not(.CategoryHeading):last-child {
        border-bottom-width: 0;
    }
 }
