.DS_Store
Thumbs.db
*/.sass-cache/*
*.scssc
*.sassc
*.kpf
*.swp
_notes
~*
.project
.settings
.buildpath
.idea
login/config.php
login/embed.html
login/functions.jsconnect.php
login/sso.php
*.log
utils/mustacher/vendor/*
vendor/
node_modules/
bower_components/
