// Fixes for the image cropper

.change-picture {
    max-width: 100%;
}

.box-crop .box-source {
    max-width: 100%;
    overflow: auto;
}

@media screen and (max-width: 600px) {
    .Popup {
        .box-crop .box-source {
            display: none;
        }

        .change-picture .thumbnail-message {
            display: none;
        }
    }
}
