<a href="{{ sanitizeUrl(url) }}" data-embedJson="{{ embedJson }}" class="embedLinkLoader">
    {{ url }}
    <svg class="embedLinkLoader-failIcon" title="${title}" aria-label="${title}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <title>{{ errorMessage }}</title>
        <circle cx="8" cy="8" r="8" style="fill: #f5af15"/>
        <circle cx="8" cy="8" r="7.5" style="fill: none;stroke: #000;stroke-opacity: 0.122"/>
        <path d="M11,10.4V8h2v2.4L12.8,13H11.3Zm0,4h2v2H11Z" transform="translate(-4 -4)" style="fill: #fff"/>
    </svg>
</a>