<div class="js-embed embedResponsive" data-embedjson="{{ data|json_encode }}">
    <a
        href="{{ downloadUrl|default(url) }}"
        download
        aria-label="{{ name }}"
    >
        {{ name ?: url }}
    </a>
</div>
