<div class="embedExternal embedImage">
    <div class="embedExternal-content">
        <a class="embedImage-link" href="{{ sanitizeUrl(url) }}" rel="nofollow noopener" target="_blank">
            <img
                class="embedImage-img"
                src="{{ url }}"
                alt="{{ name }}"
            />
        </a>
    </div>
</div>
