// Buttons
//
// Find the dashboard button styling here.
//
// Styleguide 4.

//
// Base styles
//


.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $line-height, $btn-border-radius);
  @include transition(all .2s ease-in-out);

  &,
  &:hover {
    text-decoration: none;
  }

  //@include hover-focus {
  //  text-decoration: none;
  //}
  //
  //&.focus {
  //  text-decoration: none;
  //}

  &:active,
  &.active {
    background-image: none;
    outline: 0;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;

    &,
    &:hover {
      color: $btn-link-disabled-color;
      border-color: $btn-link-disabled-color;

      svg {
        fill: $btn-link-disabled-color;
      }
    }
  }
}

.btn + .btn {
  margin-left: $spacer / 2;
}

.btn-icon + .btn-icon {
  margin-left: 0;
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
  cursor: not-allowed;
}

//
// Alternate buttons
//

.btn-primary {
  min-width: $btn-min-width;
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border, $btn-primary-bg, $btn-primary-color, $btn-primary-color);
}

.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border, $btn-primary-bg, $btn-primary-color, $btn-primary-color);
}

// Remove all backgrounds
.btn-primary-outline {
  @include button-outline-variant($btn-primary-bg);
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: normal;
  color: $link-color;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    @include box-shadow(none);
  }

  &,
  &:focus,
  &:active {
    border-color: transparent;
  }

  @include hover {
    border-color: transparent;
  }

  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }

  &:disabled {
    @include hover-focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


//
// Button Sizes
//

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  + .btn-block {
    margin-top: $spacer / 4;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.btn-icon {
  @extend .btn-link;
  @extend .icon;
  padding: to-rem(3);
  margin: 0;
  margin-left: .5rem;
  font-size: $font-size-sm;
  line-height: to-rem(24);

  &:first-child {
    margin-left: 0;
  }

  svg {
    height: to-rem(24);
  }
}

// Icon buttons

.btn-icon-border {
  @extend .btn-secondary;
  @extend .icon;
  $btn-icon-height: 28;
  $btn-icon-padding-v: (to-rem($control-height) - to-rem($btn-icon-height) - ($border-width * 2)) / 2;
  padding: $btn-icon-padding-v $btn-icon-padding-v * 2;
  margin: 0 0 0 .5rem;

  &:first-child {
    margin-left: 0;
  }

  svg {
    height: to-rem($btn-icon-height);
  }

  &:hover {
    svg {
      fill: $white;
    }
  }
}


// Button group

.btn-group {
  font-size: 0;

  .btn {
    border-radius: 0;
    margin-right: -$input-btn-border-width;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}

// Make the div behave like a button
.btn-group,
.btn-group-vertical {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  vertical-align: middle;

  > .btn {
    // Bring the "active" button to the front
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
    //@include hover {
    //  z-index: 2;
    //}
  }
}

// Prevent double borders when buttons are next to each other
.btn-group {
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -$input-btn-border-width;
  }
}
