.card {
  .list-group-item {
    font-weight: 500;
    background-color: $grey-lighter;

    &:hover {
      background-color: lighten($grey-lighter, 1%);
    }

    .icon {
      float: right;
    }
  }

  svg {
    position: relative;
    width: $font-size-base;
  }

  .media-sm-title {
    margin-bottom: $spacer / 4;

    a {
      color: $grey-dark;
    }
  }

  .media-sm-image-wrap {
    @include image-wrap();
    margin-right: $spacer;
  }

  .media-sm {
    align-items: flex-start;
  }

  .btn-media-sm {
    margin-top: $spacer;

    svg {
      width: $font-size-xs;
    }

    &:hover svg {
      fill: $white;
    }
  }
}

.card-user {
  .card-footer {
    border-top: 0;
    padding: $spacer * 1.25;
  }
}

.card-footer {
  text-align: center;
}

.drop {
  z-index: 1005;
}
