// Forms
//
// Find the dashboard form styling here.
//
// Styleguide 3.

@mixin list-reset() {

  &,
  ul,
  ol {
    padding-left: 0;
  }

  li {
    list-style: none;
  }
}


.radio,
.checkbox {
  margin-bottom: 0;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: $spacer / 4;
}


.list-reset {
  &,
  ul,
  ol {
    @include list-reset();
  }
}

form {
  ul,
  ol {
    @include list-reset();
  }
}

label,
.label {
  font-weight: 500;
  margin-bottom: 0;
}

.form-control {
  line-height: 1.5;
  padding-top: ($control-height-rem - ($border-width * 2) - ($font-size-base * $line-height)) / 2;
  padding-bottom: ($control-height-rem - ($border-width * 2) - ($font-size-base * $line-height)) / 2;
  border: $border-width solid #ccc;
}

// Forms
//
//
//
// Styleguide 3.1.

// Form layout
//
// Here's how to build a basic form field.
//
// .stacked - Stacks radio or checkboxes.
//
// Markup:
// <form>
//   <ul>
//     <li class="form-group row">
//       <div class="label-wrap">
//          <label for="fieldID">Field</label>
//          <div class="info">Info text for field</div>
//       </div>
//       <div class="input-wrap">
//         <input type="text" id="fieldID" class="form-control">
//       </div>
//     </li>
//   </ul>
// </form>
//
// Styleguide 3.1.1

.label-wrap {
  img {
    @extend .padded;
    max-width: 50%;
    max-height: 200px;
  }
}

.Info,
.Info2,
.info {
  display: block;
  font-size: $font-size-sm;
  line-height: $line-height-lg;
  color: $grey;
}

.label-title {
  font-weight: 500;
  margin-bottom: $spacer / 4;
}

// Form grid
.form-group {
  > .input-wrap {
    @extend .col-sm-16;
    @extend .col-xs-24;

    &.no-label {
      @extend .col-sm-offset-8;
      @extend .col-xs-offset-0;
    }
  }

  > .label-wrap {
    @extend .col-sm-8;
    @extend .col-xs-24;
  }

  > .label-wrap-wide {
    @extend .col-sm-8;
    @extend .col-xs-24;
    flex-grow: 1;
  }

  .input-wrap-right {
      @extend .row-padding-left;
      @extend .row-padding-right;
  }
}

.input-wrap > .form-group > * {
  padding-left: 0;
}

.input-wrap-multiple {
  display: flex;

  > *:last-child {
    margin-left: $spacer / 2;
  }
}

.stacked label {
  display: block;
}

.row-padding-left {
  padding-left: $padding-default;
}

.row-padding-right {
  padding-right: $padding-default;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-group.row {
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px dotted $grey-light;

  &:first-child {
    border-top: 1px dotted $grey-light;
  }

  //Reset
  padding-top: 1rem;
  margin-bottom: 0;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: $spacer;
}


// Toggles
//
// Toggles can either be a checkbox form element or an anchor.
//
// Styleguide 3.3.

// Anchor toggle
//
// Here's how to build an anchor toggle.
//
// .toggle-wrap-on - On state
//
// Markup:
// <div class="toggle-wrap {{modifier_class}}">
//   <a>
//     <div class="toggle-well"></div>
//     <div class="toggle-slider"></div>
//   </a>
// </div>
//
// Styleguide 3.3.1.

// Calculated variables
$toggle-slider-width: $toggle-height - ($toggle-padding * 2) - ($toggle-border-width * 2);
$toggle-slider-padding: $toggle-padding + $toggle-border-width;
$toggle-width: $toggle-height * 2;

.toggle-wrap {
  display: block;
  position: relative;
  width: $toggle-width;
  height: $toggle-height;
}

.toggle-well {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: $toggle-height * 2;
  height: $toggle-height;
  background-color: $white;
  border-radius: $toggle-height / 2;
  border: $toggle-border-width solid $grey;
  transition: background .4s;
  cursor: pointer;
}

.toggle-slider {
  display: block;
  position: absolute;
  top: $toggle-slider-padding;
  left: $toggle-slider-padding;
  width: $toggle-slider-width;
  height: $toggle-slider-width;
  border-radius: ($toggle-height - ($toggle-padding)) / 2;
  border: $toggle-border-width solid $grey;
  background-color: $white;
  outline: 0;
  transition: left .4s;
  cursor: pointer;
}

.toggle-well-on {
  background-color: $brand-primary;
}

.toggle-slider-on {
  left: $toggle-width - $toggle-slider-width - $toggle-slider-padding;
}

.toggle-slider-active {
  left: ($toggle-width / 2) - ($toggle-slider-width / 2);
  transition: left .4s;
}

.toggle-wrap-on {
  .toggle-well {
    @extend .toggle-well-on;
  }

  .toggle-slider {
    @extend .toggle-slider-on;
  }
}

.InProgress,
.toggle-wrap-active {
  .toggle-slider {
    @extend .toggle-slider-active;
  }
}

.toggle-box-label-wrap {
  padding-left: $padding-default;
}

// Checkbox toggle
//
// Here's how to build an checkbox toggle.
//
// Markup:
// <div class="toggle-wrap">
//   <input id="toggle-checkbox" type="checkbox" />
//   <label for="toggle-checkbox"></label>
// </div>
//
// Styleguide 3.3.2.

.toggle-wrap {
  label {
    display: inline;
  }

  input[type="checkbox"] {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;

    + label {
      &::before,
      &::after {
        content: '';
      }

      &::before {
        @extend .toggle-well;
      }

      &::after {
        @extend .toggle-slider;
      }
    }
  }

  // When checked, move and change background color
  input[type="checkbox"]:checked + label::before {
    @extend .toggle-well-on;
  }

  input[type="checkbox"]:checked + label::after {
    @extend .toggle-slider-on;
  }
}

// Color Pickers
//
//
//
// Markup:
// <div class="js-color-picker color-picker ">
//   <input type="text" class="js-color-picker-value color-picker-value hidden" />
//   <input type="text" class="js-color-picker-text color-picker-text form-control" />
//   <span class="js-color-picker-preview color-picker-preview"></span>
//   <input type="color" class="js-color-picker-color color-picker-color" />
// </div>
//
// Styleguide 3.4

.color-picker {
  position: relative;
  @extend .input-wrap;
}

// Hide the html color input
.color-picker-color {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0;
}

.color-picker-preview {
  position: absolute;
  top: $spacer / 4;
  right: ($spacer / 4) + $border-width;
  width: 2.5rem;
  height: 2rem - ($spacer / 4);
  background: $black;
  border: $border-width solid $border-color;
  cursor: pointer;
}

// File
//
// Custom file input.

.file-upload {
  position: relative;
  display: inline-block;
  width: 100%;
  font-weight: 400;
  cursor: pointer;

  input {
    margin: 0;
    filter: alpha(opacity = 0);
    opacity: 0;
  }
}

.file-upload-choose {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: $control-padding-y $spacer * 3 / 4;
  color: $grey;
  border: $input-btn-border-width solid $input-border-color;
  border-radius: $border-radius;
}

.file-upload-browse {
  position: absolute;
  top: 0;
  right: 0;
  @extend .btn;
  @extend .btn-secondary;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// Focus state
.file input:focus ~ .file-custom {
  @include box-shadow(0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9);
}


// Select
//
// Replaces the browser default select with a custom one, mostly pulled from
// http://primercss.io.
//
// Includes IE9-specific hacks (noted by ` \9`).

select.form-control {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC);
  padding-right: 2rem;
}

select {
  display: inline-block;
  max-width: 100%;
  padding: .375rem 2rem .375rem .75rem;
  padding-right: .75rem \9;
  color: $input-color;
  vertical-align: middle;
  background-color: #fff;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-image: none \9;
  background-size: 8px 10px;
  border: $input-btn-border-width solid $input-border-color;
  border-radius: $border-radius;
  // Use vendor prefixes as `appearance` isn't part of the CSS spec.
  -moz-appearance: none;
  -webkit-appearance: none;

  &:focus {
    border-color: #51a7e8;
    outline: none;
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, .075), 0 0 5px rgba(81, 167, 232, .5));
  }

  // Hides the default caret in IE11
  &::-ms-expand {
    opacity: 0;
  }
}

select + select {
  margin-left: $spacer / 2;
}


// Label selectors
//
// Label selectors replace checkboxes and radios with a image and/or text selector.
//
// Markup:
// <form>
// <ul class="label-selector">
//   <li class="label-selector-item">
//     <input type="radio" id="babySeal" name="babyAnimals">
//     <label for="babySeal">
//       <div class="image-wrap">
//         <img class="label-selector-image" src="./public/resources/images/baby-seal.jpg" alt="Baby Seal">
//         <div class="overlay">
//           <div class="buttons">
//             <a class="btn btn-overlay">Button</a>
//           </div>
//           <div class="selected">
//             selected icon
//           </div>
//         </div>
//       </div>
//       <div class="title">Baby Seal</div>
//       <div class="info">by Author</div>
//       <p class="description">Choose this happy baby seal. It's so very happy.</p>
//     </label>
//   </li>
//   <li class="label-selector-item">
//     <input type="radio" id="puppy" name="babyAnimals">
//     <label for="puppy">
//       <div class="image-wrap">
//         <img class="label-selector-image" src="./public/resources/images/puppy.jpg" alt="Puppy">
//         <div class="overlay">
//           <div class="buttons">
//             <a class="btn btn-overlay">Button</a>
//           </div>
//           <div class="selected">
//             selected icon
//           </div>
//         </div>
//       </div>
//       <div class="title">Puppy</div>
//       <div class="info">by Author</div>
//       <p class="description">Choose this sleepy puppy. Sooo tired, puppy.</p>
//     </label>
//   </li>
// </ul>
// </form>
//
// Styleguide 3.5.

.label-selector {
  @extend .row;
  @include list-reset();

  label {
    padding-left: 0;
    cursor: pointer;
  }

  input[type=radio],
  input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }

  .active,
  input[type=radio]:checked ~ label,
  input[type=radio]:checked ~ label {
    cursor: default;

    .overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      opacity: 1;
      background-color: $white;
      background-color: rgba(255,255,255,.7);

      > .buttons {
        display: none;
      }

      > .selected {
        display: block;
      }
    }

    .label-selector-image {
      opacity: .5;
    }
  }

  .label-selector-image {
    display: block;
    width: 100%;
  }

  .title {
    text-align: center;
    font-weight: 500;
  }

  .image-wrap {
    position: relative;
    display: block;
    margin-bottom: $spacer / 2;
    @include image-wrap-border(0);

    &:hover .overlay {
      height: 100%;
    }
  }

  .selected {
    display: none;

    svg {
      display: block;
      width: 84px;
      fill: $brand-success;
    }
  }

  .overlay {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    z-index: 20;
    background-color: $brand-primary;
    opacity: .9;
    overflow: hidden;
    transition: all .1s;
    text-align: center;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    padding: $spacer / 2;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    > .btn {
      display: block;
      margin: ($spacer / 6) ($spacer / 4);
      max-height: $line-height * $font-size-base + ($btn-padding-y * 2) + ($border-width * 2);
      min-width: 5rem;
    }
  }

  .description {
    display: none;
  }
}

.theme-wrap {
  position: relative;
  margin-bottom: $spacer / 2;

  .image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include image-wrap-border(0);

    .label-selector-image {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }
}

.mobile-theme-wrap {
  position: relative;
  overflow: hidden;
  margin-bottom: $spacer / 2;

  .mobile-frame {
    position: relative;
    bottom: 0;
  }

  svg {
    display: block;
    fill: rgba(85,90,98,.27);
  }

  .image-wrap {
    position: absolute;
    bottom: .7%;
    left: 8%;
    width: 84%;
    height: 86%;
    margin-bottom: 0;
    overflow: hidden;
    @include image-wrap-border(0);

    &::after {
      border-bottom: 0;
    }
  }
}

.Homepage .label-selector-item {
  @extend .grid-item-large;

}

.label-selector-item:not(.no-grid) {
  @extend .grid-item;

  padding: $spacer $spacer ($spacer / 2);
}

.btn-overlay {
  @include button-variant($white, transparent, $white, $white, $nav-navbar-active-link-active-bg, $white);
}

// Search input
//
// Search inputs have a hidden button and a search icon on the input.
//
// Markup:
// <form>
//   <div class="search-wrap">
//     <div class="icon-wrap icon-search-wrap"><svg /></div>
//     <input class="form-control">
//     <button type="submit" class="search-submit">Search</button>
//     <div class="icon-wrap icon-clear-wrap"><svg /></div>
//   </div>
// </form>
//
// Styleguide 3.6.


.search-wrap {
  position: relative;

  .form-control {
    border-radius: $control-height / $rem-base / 2 * 1rem;
    padding-left: $spacer * 2.5;
  }

  .icon-wrap {
    @extend .icon;
    $btn-icon-height: 24;
    $btn-icon-padding-v: (to-rem($control-height) - to-rem($btn-icon-height)) / 2;
    padding: $btn-icon-padding-v $btn-icon-padding-v * 2;
    margin: 0 0 0 .5rem;

    &:first-child {
      margin-left: 0;
    }

    svg {
      height: to-rem($btn-icon-height);
    }

    position: absolute;
    top: 0;
  }

  .icon-clear-wrap {
    right: 0;
  }

  .icon-search-wrap {
    left: 0;
  }

  .search-info {
    margin-top: $spacer / 4;
    font-style: italic;
  }
}

// Hide the button
.search-submit {
  position: absolute;
  left: -9999px;
}

.textbox-suffix {
  position: relative;

  input {
    padding-right: $spacer * 1.5;
    width: $btn-min-width;
    text-align: right;
  }

  &::after {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: $control-height-rem;
    padding-top: ($control-height-rem - $font-size-sm) / 2;
    padding-right: $spacer / 2;
    font-size: $font-size-sm;
    line-height: 1;
    color: $grey;
    content: attr(data-suffix);
  }
}


// iCheck
.icheck-label {
  padding-left: 0;
}

.iradio,
.icheckbox {

  label {
    padding-left: 0;
    height: $spacer;
    vertical-align: middle;
  }

  display: inline-block;
  width: $spacer;
  height: $spacer;
  margin-right: $spacer / 4;
  vertical-align: middle;
  border: $border-width solid $border-color;
  cursor: pointer;

  &:hover,
  &:focus,
  .icheck-label:hover &,
  .icheck-label:focus & {
    background-color: $brand-primary;
    border-color: $brand-primary;

    &:before {
      display: block;
      color: $white;
    }
  }
}

.iradio {
  border-radius: $spacer / 2;

  &.checked:before {
    position: absolute;
    display: block;
    top: -$border-width;
    left: -$border-width;
    width: $spacer;
    height: $spacer;
    border: $border-width * 4 solid $brand-primary;
    border-radius: $spacer / 2;
    background-color: $white;
    content: '';
  }
}

.icheckbox.checked {
  @extend %icon;
  font-size: $font-size-sm;
  text-align: center;
  background-color: $brand-primary;
  border-color: $brand-primary;

  &:before {
    display: block;
    margin-top: ($spacer - $font-size-sm) / 2 - $border-width;
    color: $white;
    @include char-content($icon-ok);
  }
}

label[id^=iCheck] {
  padding-left: 0;
}

// Text input with a button

.text-input-button {
  display: flex;
  align-items: center;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn {
    margin-left: -$border-width;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: inherit;
  }

  .label-wrap {
    flex-shrink: 0;
    display: block;
    margin-right: $spacer / 2;

    label {
      line-height: 1;
      margin-bottom: 0;
    }
  }
}
