
//GRID TODO: Move
// Starts 4 wide
.grid-item {
  @extend .col-xs-12;
  @extend .col-sm-8;
  @extend .col-lg-8;
  @extend .col-xl-6;
}

.grid-image {
  display: block;
  width: 100%;
}

.grid-image-wrap {
  position: relative;
  @include image-wrap-border(0);
}

// Starts 3 wide
.grid-item-large {
  @extend .col-xs-12;
  @extend .col-sm-8;
  @extend .col-lg-12;
  @extend .col-xl-8;
}

.grid-item-fixed {
  @extend .col-xs-12;
}
