.media {
  @extend .row;
  padding: $spacer $padding-default;
  margin-bottom: 0;
  border-bottom: 1px solid $border-color;
}

.media-options {
  display: flex;
  flex-wrap: wrap;
  align-self: center;

  > *:not(:first-child) {
    margin-left: $spacer * 2;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
    align-items: center;
    align-self: flex-start;

    > *:not(:first-child) {
      margin-left: 0;
    }

    > *:not(:last-child) {
      margin-top: $spacer / 2;
    }
  }
}


//
// Alignment
//

.media-right {
  padding-left: $spacer;
}

.media-left {
  padding-right: $spacer;
}


//
// Media item
//

.media-heading {
  margin-top: 0;
  margin-bottom: $spacer / 2;
}

.media-title {
  font-weight: 500;
  margin-bottom: $spacer / 4;
}

.media-description {
  line-height: $line-height-lg;
}

.media-callout {
  background-color: $grey-lighter;

  .info {
    font-size: $font-size-tables;
    font-weight: 300;
  }

  .flag {
    margin-top: -.0625rem;
    margin-bottom: $spacer / 2;
  }

  .media-title {
    margin-bottom: $spacer * (2 / 3);
  }

  .media-description {
    font-weight: 300;
  }

  .media-image {
    height: 10rem;
    border: 1px solid $border-color;
  }
}

//GRID TODO: Move
// Starts 4 wide
.grid-item {
  @extend .col-xs-12;
  @extend .col-sm-8;
  @extend .col-lg-8;
  @extend .col-xl-6;
}

.grid-image {
  display: block;
  width: 100%;
}

.grid-image-wrap {
  position: relative;
  @include image-wrap-border(0);
}

// Starts 3 wide
.grid-item-large {
  @extend .col-xs-12;
  @extend .col-sm-8;
  @extend .col-lg-12;
  @extend .col-xl-8;
}
