// Navbar
//
// Find the navbar styling here.
//
// No styleguide reference.

$navbar-border-color: rgba(0,0,0,.125);
$navbar-short-height: 3rem;

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  height: $navbar-height;
  color: $white;
  background-color: $brand-primary;
  font-weight: 100;
  letter-spacing: .0375rem;
  border: 1px solid $navbar-border-color;
  z-index: 1;

  .vanilla-logo {
    width: 5rem;
  }

  .title {
    color: $white;
  }

  .logo + .title {
    margin-left: $spacer;
  }

  img {
    height: $spacer * 2.75;
  }

  .nav-item {
    text-align: center;
    border-right: 1px solid $navbar-border-color;

    + .nav-item {
      margin: 0;
    }

    &:first-child {
      border-left: 1px solid $navbar-border-color;
    }
  }

  .nav-link {
    position: relative;
    min-width: to-rem(180);
    padding: ($navbar-height - (($font-size-xs * $line-height-lg) + ($font-size-base * $line-height-lg))) / 2;
    color: $white;
    border-radius: 0;

    &.active {
      &,
      &:hover {
        background-color: $nav-navbar-active-link-active-bg;

        > * {
          opacity: 1;
        }
      }
    }

    &.hover,
    &:hover {
      background-color: $nav-navbar-active-link-active-bg;
    }
  }

  .navbar-memenu,
  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: to-rem(240);
  }

  &.navbar-short {
    height: $navbar-short-height;

    .nav-link {
      padding: ($navbar-short-height - ($font-size-base * $line-height-lg)) / 2 - $border-width;
    }

    .nav-link-description {
      display: none;
    }

    img {
      height: $spacer * 2;
    }
  }

  @include media-breakpoint-down(lg) {
    .navbar-brand,
    .navbar-memenu {
      min-width: inherit;
    }
  }

  @include media-breakpoint-down(md) {
    &,
    &.navbar-short {
      justify-content: flex-start;
      height: $navbar-short-height;

      .nav {
        flex-grow: 1;
        justify-content: space-between;
      }

      .nav-item {
        width: 100%;
      }

      .nav-link {
        min-width: inherit;
        width: 100%;
        font-size: $font-size-sm;
        padding: (($navbar-short-height - ($font-size-sm * $line-height-lg)) / 2) 0;
      }

      .nav-link-description {
        display: none;
      }

      .navbar-memenu,
      .navbar-brand {
        display: none;
      }
    }
  }

  .nav {
    display: flex;
  }

  .nav-link-description {
    font-size: $font-size-xs;
    line-height: $line-height-lg;
    opacity: .75;
  }

  .nav-link-heading {
    line-height: $line-height-lg;
    opacity: .75;
  }
}

.nav-icons {
  margin-right: $spacer;

  svg {
    display: block;
    fill: $white;
    height: (($font-size-xs * $line-height-lg) + ($font-size-base * $line-height-lg)) - (2 * $border-width);
  }

  .navbar-short & {
    .nav-link {
      padding-top: (($navbar-short-height - (($font-size-xs * $line-height-lg) + ($font-size-base * $line-height-lg))) / 2);
      padding-bottom: (($navbar-short-height - (($font-size-xs * $line-height-lg) + ($font-size-base * $line-height-lg))) / 2);
    }
  }

  .nav-link {
    min-width: inherit;
  }
}

.navbar-profile {
  cursor: pointer;

  .icon {
    opacity: .75;
  }
}

.btn-navbar {
  position: relative;
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: $spacer;
  opacity: .75;

  svg {
    position: relative;
    fill: $white;
    width: $font-size-xs;
  }

  @include button-variant($white, transparent, $white, $white, $nav-navbar-active-link-active-bg, $white);
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, .575rem, $line-height-sm, $btn-border-radius-navbar);
}
