// Panel
//
// Find the panel styling here.
//
// No styleguide reference.

.panel {
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;

  code {
    word-wrap: break-word;
  }
}

.panel-content {
  width: 204px;
}

.panel-left-toggle {
  display: none;
}

.panel-left {
  padding-left: $spacer;

  .panel-content {
    float: right;
  }

  .btn-signout {
    display: none;
  }
}

.panel-right {
  color: $grey-dark;
  font-weight: 200;
  padding-right: $spacer;


  .panel-content {
    padding-left: $spacer;
    float: left;
  }

  h2,
  h3 {
    padding-bottom: $spacer / 2;
    margin-bottom: $spacer / 2;
    border-bottom: 1px dotted $grey-dark-border;
  }

  h2 {
    letter-spacing: .0625rem;
    font-weight: 100;
    text-transform: uppercase;
  }

  .help,
  .Help {
    a {
      color: $brand-primary;
      border-bottom: $border-width dotted $brand-primary;

      &,
      &:hover {
        text-decoration: none;
      }
    }
  }

  ul {
    @include list-reset();
  }

  li {
    margin-bottom: $spacer / 4;
    font-size: to-rem(12);
  }

  ol {
    padding-left: $spacer;
  }

  .Aside,
  .aside {
    margin-bottom: $spacer * 3;
  }
}

@include media-breakpoint-down(md) {
  .panel-right {
    display: none;
  }

  .panel-left {
    display: none;
  }

  .panel-left-toggle {
    display: block;
    color: $white;
    font-size: $font-size-lg;

    &:hover,
    &:active,
    &:focus {
      color: $white;
      text-decoration: none;
      outline: 0;
    }

    &:hover,
    &:active {
      background-color: $nav-navbar-active-link-active-bg;
    }
  }

  .drawer-show .panel-left {
    position: absolute;
    display: block;
    width: $drawer-width;
    height: 100%;
  }
}

.control-panel {
  font-size: to-rem(12);
  color: $grey-light-text;
  margin-bottom: $spacer * 2;

  li {
    line-height: to-rem(18);
    margin-bottom: 0;

    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .control-panel-heading {
    font-size: to-rem(16);
    font-weight: 500;
    color: $grey-dark;
    padding-bottom: $spacer / 2;
    margin-bottom: $spacer / 2;
    border-bottom: 1px dotted $grey-dark-border;
  }

  .control-panel-subheading {
    margin-top: $spacer / 2;
    margin-bottom: $spacer / 4;
    font-weight: 500;
  }

  .control-panel-footer {
    margin-top: $spacer;
  }

  svg {
    width: to-rem(18);
    fill: $grey-light-text;
  }

  .control-panel-list-item-label {
    max-width: to-rem(102);
  }
}

.btn-control-panel {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-xs, $line-height-sm, $btn-border-radius);
  @include button-variant($grey, $btn-secondary-bg, $grey, $btn-primary-bg, $btn-primary-color, $btn-primary-color);
}
