@include media-breakpoint-down(md) {
  $font-size-table: to-rem(11);
}

.table-wrap {
  display: block;
  margin-top: 0;
  margin-right: (-$padding-default);
  margin-bottom: 0;
  margin-left: (-$padding-default);

  .header-block + & {
    margin-top: -$border-width;
  }
}

// not date picker table. kludge. should style on classname instead.
table:not(.table-condensed) {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;

  ul {
    padding-left: 0;
  }

  td.options {
    white-space: nowrap;

    > * {
      display: inline-block;
      white-space: nowrap;
      margin-right: $spacer / 4;
      vertical-align: middle;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .grow {
    width: 100%;
  }

  thead {
    tr {
      background-color: $grey-light;
    }

    th, td {
      padding: ($spacer / 2) ($spacer * .75);
      border: 1px solid #eee;
      border-top: 1px solid #ddd;
      border-bottom: (2 * $table-border-width) solid $table-border-color;
      text-transform: uppercase;
      font-weight: 500;
      font-size: $font-size-sm;
      line-height: $line-height-lg;
      vertical-align: middle;
      white-space: nowrap;

      &:last-child {
        border-right: 0;
      }
    }
  }

  tbody {
    font-size: $font-size-tables;
    tr {
      &:hover {
        background-color: #f9fdfe;
      }
    }
  }

  th,
  td {
    padding: $table-cell-padding $padding-default;
    line-height: $line-height;
    vertical-align: middle;
    border-top: $table-border-width solid $table-border-color;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  .table {
    background-color: $body-bg;
  }

  &.no-hover {
    tbody tr {
      &:hover {
        background-color: inherit;
      }
    }
  }
}


.attach-top td {
  // Hovering bg color doesn't really work here
  border-top: 0;
  padding-top: 0;
}

.CheckBoxGrid {

  .checkbox {
    margin-bottom: 0;
  }

  th {
    font-weight: $headings-font-weight;
  }

  a {
    color: $grey-dark;

    &:hover {
      color: $brand-primary;
    }
  }

  thead {
    tr {
      background-color: $grey-light;
    }

    td {
      text-align: center;
      padding: ($spacer / 2) ($spacer / 2);
      border: 1px solid #eee;
      border-top: 1px solid #ddd;
      text-transform: uppercase;
      font-weight: 500;
      font-size: $font-size-sm;
      line-height: $line-height-lg;
      vertical-align: middle;
      width: 10%;

      &:last-child {
        border-right: 0;
      }
    }

    th {
      font-weight: 700;
      max-width: to-rem(180);
      min-width: to-rem(180);
      @extend .truncate;
    }
  }

  tbody {
    td {
      padding: ($spacer / 2) ($spacer * .75);
      text-align: center;
    }
  }

  @media screen and (max-width: 575px) {
    table-layout: fixed;

    thead,
    tbody {
      td,
      th {
        font-size: to-rem(12);
        padding: $spacer / 4;
      }
    }

    tbody th {
      font-size: to-rem(13);
    }

    thead {
      td {
        position: relative;
        a {
          position: relative;
          display: block;
          transform: rotate(90deg);
          top: -$spacer;
        }
        width: $spacer * 2;
        text-align: center;
        height: to-rem(90);
      }
    }
  }
}




.Section-DashboardHome {
  table {
    thead {
      tr {
        background-color: transparent;
      }

      th, td {
        border: 0;
        border-bottom: $border-width * 2 solid #ddd;
      }
    }

    th, td {
      border-top-width: $border-width * 2;
    }

    tr {
      &:last-child {
        border-bottom: $border-width * 2 solid $table-border-color;
      }
    }

    td {
      text-align: center;
    }

    th {
      padding-left: 0;
    }

    tbody {
      th {
        font-weight: 400;
      }
    }
  }

  .dashboard-widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
      flex-grow: 1;
      max-width: 50%;
      padding: $spacer;

      @include media-breakpoint-down(md) {
        max-width: inherit;
        width: 100%;
        padding-left: $spacer 0;
      }
    }
  }

  .dashboard-widget-title {
    font-size: 1rem;
    font-weight: 500;
  }

  .Feed {
    padding-top: $spacer / 2;
  }

  .FeedItem {
    position: relative;
    padding: $spacer * .75 0;
    border-bottom: $border-width * 2 solid #eee;

    &:hover {
      background-color: #f9fdfe;
    }

    &:first-child {
      border-top: $border-width * 2 solid #ddd;
    }

    h2 {
      padding: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      border-top: 0;
      border-bottom: 0;
      @extend .media-sm-title;
      text-overflow: ellipsis;
    }

    .FeedDescription {
      @extend .media-sm-info;

      strong {
        font-weight: 400;
      }

      p {
        margin-bottom: 0;
        display: inline-block;
      }

      .details p {
        margin-bottom: 0;
        display: initial;
      }
    }


    .FeedDescription,
    h2 {
      margin-right: 102px;
    }

    .Date {
      position: absolute;
      right: 0;
      width: 102px;
      top: $spacer * .75 + (to-rem(30) / 2) - ($font-size-tables / 2);
      text-align: right;


      @extend .media-sm-info;
    }
  }
}

.tj-meta {
  margin-top: ($spacer / 2);

  .table-meta-item {
    font-size: $font-size-sm;
  }

  .table-meta-item-data {

  }

  .table-meta-item-label {
    font-weight: 500;

    // Disable links in labels.
    a {
      color: $grey-dark;
      pointer-events: none;
      cursor: default;
    }
  }
}


.content-cell {
  min-width: to-rem(200);
}
