.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: $spacer / 2;
  padding-bottom: $spacer;

  > * {
    flex-shrink: 0;
    margin-top: $spacer / 2;
    margin-right: $spacer;

    &:last-child {
      margin-right: 0;
    }
  }

  .toolbar-main {
    flex-grow: 1;
  }
}

.toolbar-stats {
  > *:not(.nav-stats) {
    margin-top: $spacer * 2;
  }
}
