// Variables
//
// Here are the dashboard variables.
//
// No styleguide reference.

$enable-flex: true;

@function to-rem($px) {
  @return ($px / $rem-base * 1rem);
}

// Colors

$white: #fff;
$black: #000;

// Override the grays
$gray-dark:                 #555a62;
$gray:                      lighten(#555a62, 25%);
$gray-light:                #f6f9fb;
$gray-lighter:              #f4f6fb;
$gray-lightest:             #fbfcfc;

// Map our grEys
$grey-dark:                 $gray-dark;
$grey:                      $gray;
$grey-light:                $gray-light;
$grey-lighter:              $gray-lighter;
$grey-lightest:             $gray-lightest;

$grey-dark-border:          #ededed; // belongs between grey and grey-light.
$grey-light-text:           #727d83; // belongs between grey and grey-dark.

$brand-primary:             #0291db;
$brand-secondary:           #f5296d;
$brand-success:             #6bc573;
$brand-info:                #a1b8c6;
$brand-warning:             #faae42;
$brand-danger:              #fa2e1f;


$semantic-colors: (
  primary: $brand-primary,
  secondary: $brand-secondary,
  success: $brand-success,
  info: $brand-info,
  warning: $brand-warning,
  danger: $brand-danger
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               24;
$grid-gutter-width:          36 / 16 * 1rem;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:     "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:          Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:           $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$rem-base:                   16;
$font-size-root:             $rem-base * 1px;

$font-size-base:             .875rem;
$font-size-lg:               1.25rem !default;
$font-size-sm:               .75rem;
$font-size-xs:               .675rem;

$font-size-h1:               2rem;
$font-size-h2:               1.125rem;
$font-size-h3:               1rem;
$font-size-h4:               1rem;
$font-size-h5:               .925rem;
$font-size-h6:               .875rem;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;

$line-height:                1.5 !default;

$headings-font-family:       inherit !default;
$headings-font-weight:       400;
$headings-line-height:       1.1 !default;
$headings-color:             inherit !default;

$header-block-height:        to-rem(60);

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer:                     to-rem(18);
$spacer-x:                   $spacer !default;
$spacer-y:                   $spacer !default;
$border-width:               to-rem(1);

// Body
//
// Settings for the `<body>` element.

$body-bg:                    $grey-light;
$body-color:                 $gray-dark !default;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:         (4 / 3);
$line-height-sm:         1.5;

$border-radius:          to-rem(2);
$border-radius-lg:       .25rem;
$border-radius-sm:       .05rem;

$component-active-color: #fff !default;
$component-active-bg:    $brand-primary !default;

$caret-width:            .375em !default;
$caret-width-lg:         $caret-width !default;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$control-height:                 36;
$control-height-rem:             ($control-height / $rem-base * 1rem);
$control-padding-y:              ($control-height-rem - ($border-width * 2) - ($font-size-base * $line-height)) / 2;

$btn-min-width:                  $spacer * 6.75;
$btn-padding-x:                  1rem !default;
$btn-padding-y:                  $control-padding-y;
$btn-font-weight:                normal !default;
$btn-line-height:                1;

$btn-min-width:                  to-rem(96);

$btn-primary-color:              $brand-primary;
$btn-primary-bg:                 $white;
$btn-primary-border:             $btn-primary-color !default;

$btn-secondary-color:            $gray-dark !default;
$btn-secondary-bg:               #fff !default;
$btn-secondary-border:           #ccc !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                $btn-info-bg !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             $btn-success-bg !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             $btn-warning-bg !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              $btn-danger-bg !default;

$btn-link-disabled-color:        $grey-dark-border;

$btn-padding-x-sm:               .75rem;
$btn-padding-y-sm:               .125rem;

$btn-padding-x-lg:               1.25rem !default;
$btn-padding-y-lg:               .75rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:              $border-radius !default;
$btn-border-radius-lg:           $border-radius-lg !default;
$btn-border-radius-sm:           $border-radius-sm !default;

$btn-border-radius-navbar:       $btn-padding-y-sm + ($line-height-sm / 2);

// Navs

$nav-link-padding:                          .375em 1em;
$nav-link-hover-bg:                         $gray-lighter !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;

$nav-tabs-border-color:                     #ddd !default;

$nav-tabs-link-border-width:                $border-width !default;
$nav-tabs-link-hover-border-color:          $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $gray !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;

$nav-pills-link-hover-bg:                   #e8ecf2;

$nav-pills-border-radius:                   $border-radius !default;
$nav-pills-active-link-hover-bg:            $component-active-bg !default;
$nav-pills-active-link-hover-color:         $component-active-color !default;

$nav-pills-panel-border-radius:             $border-radius 0 0 $border-radius;

$navbar-height:                             $spacer * 4;
$nav-navbar-active-link-active-bg:          #0cb0f8;

// Checkbox toggles
$toggle-border-width:                       $border-width;
$toggle-height:                             $control-height-rem;
$toggle-padding:                            to-rem(2);

// Padding
$padding-default:                           $grid-gutter-width / 2;
$border-color:                              #ddd;

$font-size-tables:                          to-rem(13);

// Cards
$card-spacer-x:            1.25rem !default;
$card-spacer-y:            .75rem !default;
$card-border-width:        1px !default;
$card-border-radius:       $border-radius !default;
$card-border-color:        $border-color;
$card-border-radius-inner: $card-border-radius !default;
$card-cap-bg:              $white;
$card-bg:                  #fff !default;

$card-link-hover-color:    #fff !default;

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
) !default;


$icon-sizes: (
  9: 9,
  12: 12,
  16: 16,
  24: 24,
  30: 30,
  48: 48
);

// Dropdowns
$dropdown-font-size: 14px !default;
$dropdown-min-width: 180px !default;
$dropdown-padding-y: 5px !default;
$dropdown-margin-top: 2px !default;
$dropdown-color: $body-color !default;
$dropdown-bg: #fff !default;
//$dropdown-border-color: rgba(0, 0, 0, .15) !default;
//$dropdown-border-width: 0 !default;
$dropdown-divider-bg: #e5e5e5 !default;
$dropdown-box-shadow: 0 1px 3px rgba(0, 0, 0, .3) !default;

$dropdown-link-color: $body-color !default;
$dropdown-link-hover-bg: #f2f5fa !default;

$dropdown-item-padding-x: 12px !default;

$dropdown-header-font-size: 12px;
$dropdown-header-color: #a3a3a3 !default;

// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.

$state-success-text:             $white;
$state-success-bg:               $brand-success;
$state-success-border:           $brand-success;

$state-info-text:                $white;
$state-info-bg:                  $brand-info;
$state-info-border:              $brand-info;

$state-warning-text:             $white;
$state-warning-bg:               $brand-warning;
$state-warning-border:           $brand-warning;

$state-danger-text:              $white;
$state-danger-bg:                $brand-danger;
$state-danger-border:            $brand-danger;


$alert-border-radius:            0;

//Drawer

$drawer-width:                   222px;

$modal-inner-padding:            to-rem(18);

// Category settings stuff.
$icon-color: transparentize($body-color, .4);
$icon-size: 16px;

$tree-background: #fdfdff;
$tree-border: $border-color;
$tree-item-height: 36px;
$tree-padding: 6px;
$tree-icon-padding: (($tree-item-height - $icon-size - 1px) / 2);

$placeholder-background: #f1faff;
$placeholder-border: #0291db;
