// This file is a kludge of select form styles to be used **ONLY** on the
// admin-new section and should be promptly replaced with JSS.
// This kludge exists, because importing all of admin.css into this new section
// create many bugs in shared section, chiefly analytics.

@import "src/admin_variables";
@import "maps/bootstrapVariables";
@import "maps/bootstrapMixins";
@import "src/mixins";
@import "maps/vanillicon";
@import "maps/vendorSubset";
@import "new-components/imageUpload";

$staticVariables: false;
@import "../../../packages/vanilla-theme-core/scss/base/variables";

#app {
    display: flex;
    flex-direction: column;
    flex: 1;
}

// Copied from applications/dashboard/scss/src/_buttons.scss L114

.heading {
    // Clear out defaults
    margin: 0;
}

.btn-secondary {
    min-width: $btn-min-width;
    @include button-variant(
        $btn-secondary-color,
        $btn-secondary-bg,
        $btn-secondary-border,
        $btn-primary-bg,
        $btn-primary-color,
        $btn-primary-color,
        $btn-secondary-color,
        lighten($brand-primary, 50%),
        $btn-secondary-border
    );
}

// Copied from applications/dashboard/scss/new-components/_formElements.scss L104

$lineHeight-base: 1.428571429;
$fontSize-large: 16px !default;
$fontSize-default: 14px !default;
$fontSize-small: 12px !default;
$utility-baseUnit: 6px;
$formElement_height: $utility-baseUnit * 6 !default;
$global-button_minWidth: 16 * $utility-baseUnit !default;
$global_borderRadius: 6px;
$global-button_radius: $global_borderRadius;

// Copied from applications/dashboard/scss/legacy/_style.scss L838
.info {
    display: block;
    font-size: 12px;
    line-height: 1.3333333333;
    color: #949aa2;
}

ul {
    margin-bottom: 0;
}

a:focus,
a:hover {
    text-decoration: none;
}
