// ## Vendors
//
// Dashboard 3 - A new dashboard design for Vanilla.
//
// @author    Becky Van Bussel <beckyvanbussel@gmail.com>
//

@import 'src/variables';
@import 'src/svgs';
@import 'maps/bootstrapVariables';
@import 'maps/bootstrapMixins';
@import 'maps/bootstrapAnimation';
@import 'src/mixins';

@import 'maps/vanillicon';
@import 'maps/vendorSubset';
@import 'maps/dashboard';
@import 'maps/extensions';

@import 'legacy/category-settings';
@import 'legacy/jcrop';
