$embedLoader_width: 135px !default;
$embedLoader-box_bg: #FFFFFF !default;
$embedLoader-box_boxShadow: 0 0 2px 0 rgba(0, 0, 0, .3) !default;
$embedLoader_spinner-width: 42px !default;
$embedLoader-spinner-color: #0291db !default;
$embedLoader-embedError-bg: rgba(255, 57, 52, .12) !default;
$embedLoader-embedError-padding: 15px !default;
$embedLoader-embedError-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3) !default;
$embedLoader-closeButton_width: 24px !default;
$embedLoader-closeButton_opacity: .7 !default;
$embeded-error_bg: rgba(255,57,52,0.12) !default;
$embeded-icon_width: 24px !default;
$embedded-fontWeight_bold: bold !default;
$embedded-linkTitle_fontSize: 14px !default;
$embedded-linkTitle_lineHeight: 1.5 !default;
$embedded-linkImage_width: 225px !default;
$embedded-linkImage_mobileHeight: 52.5%;
$embedded-linkImage_mobileWidth: 100px !default;
$embedVideo_width: 640px;
$embed-spacing: 6px !default;
$embed-focus-color: #0291DB;

.embed {
    display: block;
    user-select: none;
}

.embed-focusableElement {
    transition: 0.2s ease box-shadow;
    cursor: pointer;

    &.embed-twitter {
        border-radius: 4px;
    }

    &:hover {
        box-shadow: 0 0 0 2px rgba($embed-focus-color, 0.5);
    }

    &:focus {
        box-shadow: 0 0 0 2px $embed-focus-color;
    }
}

.embedLoader-icon {
    display: inline-block;
    width: $embeded-icon_width;
    height: $embeded-icon_width;
    flex-basis: $embeded-icon_width;
}

// Loading embed

.embedLoader {
    display: block;
    position: relative;
}

.embedLoader-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $embedLoader-box_bg;
    box-shadow: $embedLoader-box_boxShadow;
    width: $embedLoader_width;
    height: $embedLoader_width;
    margin: auto;
    overflow: hidden;
}

.embedLoader-loader {
    @include spinnerLoader($embedLoader_spinner-width);
}


// Loading Error
.embedLoader-errors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: $embedLoader_width;
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;

    // todo: undo list styles
}

.embedLoader-error {
    display: flex;
    overflow: hidden;
    align-items: center;
    list-style: none;
    margin:0;
    box-shadow: $embedLoader-embedError-shadow;
    padding: $embedLoader-embedError-padding;
    background: $embeded-error_bg;

    + .embedLoader-error {
        margin-top: 12px;
    }

    .embedLoader-warningIcon {
        align-self: flex-start;
    }

    .closeButton {
        opacity: $embedLoader-closeButton_opacity;
        width: $embedLoader-closeButton_width;
        height: $embedLoader-closeButton_width;
        align-self: flex-start;
        margin: 0 0 0 auto;
        cursor: pointer;

        &,
        &:hover,
        &:focus
        {
            background: none !important;
            border: 0 !important;
            color: inherit !important;
            line-height: normal;
            overflow: hidden;
            padding: 0 !important;
            -webkit-appearance: button !important; /* for input */
            -webkit-user-select: none !important; /* for button */
            -moz-user-select: none !important;
            -ms-user-select: none !important;
        }

        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}

.userContent {
    .embedLoader-errorMessage {
        max-width: calc(100% - #{$embeded-icon_width * 3});
        padding-left: $embeded-icon_width;
    }
    .embedLink-title {
        margin: 0;
        &:not(:last-child) {
            margin: 0 0 $embed-spacing;
        }
    }
}

.embed {
    white-space: normal;
}

// Image

.embedImage {
    display: block;
    width: $embedImage_width;
    max-width: 100%;
    margin: auto;
}

// Video

.embedVideo {
    position: relative;
    display: block;
    width: $embedVideo_width;
    max-width: 100%;
    margin: auto;

    iframe,
    .embedVideo-iframe {
        @include absolute-fullSizeOfParent;
    }

    &:focus,
    &:hover {
        .embedVideo-playIcon {
            transform: scale(1.1);
        }
    }
}

.embedVideo-ratio {
    position: relative;
    display: block;
    background-color: #000000;
    margin: 0;
    width: 100%;
    padding: {
        left: 0;
        right: 0;
        bottom: 0;
    };

    &.is21by9 {
        padding-top: #{(9/21*100%)};
    }

    &.is16by9 {
        padding-top: #{(9/16*100%)};
    }

    &.is4by3 {
        padding-top: #{(3/4*100%)};
    }

    &.is1by1 {
        padding-top: 100%;
    }
}

.embedVideo-playButton {
    @include absolute-fullSizeOfParent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    overflow: hidden;

    &::before {
        $bg: rgba(#000, 0.4);
        content: "";
        display: block;
        @include absolute-fullSizeOfParent;
        background: linear-gradient(to bottom, $bg, $bg);
    }
}

.embedVideo-playIcon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: $richEditor-videoPlayIcon_width;
    height: $richEditor-videoPlayIcon_width;
    color: white;
}

.embedVideo-playIconPath {
    stroke: rgba(0, 0, 0, 0.1);
}

// External Embed
.embedExternal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.embedExternal-content {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    user-select: none;

    > * {
        margin: auto !important;
    }
}

.twitter-tweet {
    margin: 0 !important;
}

.richEditor .twitter-tweet {
    pointer-events: none;
}

// Embed link
.embedLink {
    display: block;
    background: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);

    &,
    &:hover,
    &:focus
    {
        color: inherit;
        text-decoration: none !important;
    }
}

.embedLink-body {
    display: block;
    position: relative;
    overflow: hidden;
}

.embedLink-main {
    padding: 18px;
    box-sizing: border-box;

}

.embedLink-image {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: $embedded-linkImage_width;
    height: 100%;

    + .embedLink-main {
        margin-left: auto;
        width: calc(100% - #{$embedded-linkImage_width});
    }

    @include mediaQuery-richEditor_embed {
        position: relative;
        width: 100%;
        padding-top: $embedded-linkImage_mobileHeight;


        + .embedLink-main {
            width: 100%;
        }
    }
}

.embedLink-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: $embedded-linkTitle_fontSize;
    line-height: $embedded-linkTitle_lineHeight;
    margin-bottom: $embed-spacing;
}

.embedLink-userName {
    margin: 0 0 0 12px;
    padding: 0;
    color: #555A62;
    font-weight: $embedded-fontWeight_bold;
}

.embedLink-dateTime {
    font-size: .8em;
    margin: 0 0 0 12px;
    padding: 0;
    color: #737373;
}

.embedLink-title {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: $embedded-linkTitle_fontSize;
    line-height: $embedded-linkTitle_lineHeight;
    font-weight: $embedded-fontWeight_bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.embedLink-source {
    font-size: #{$embedded-linkTitle_fontSize * .86};
    color: rgba(85,90,98,0.72);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.embedLink-excerpt {
    font-size: $embedded-linkTitle_fontSize;
    color: #555A62;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    max-width: 100%;
    line-height: $embedded-linkTitle_lineHeight;
    max-height: #{$embedded-linkTitle_lineHeight * $embedded-linkTitle_fontSize * 3};
}
