.safeEmoji { // All emoji
    display: inline-block;
    font-family: "Segoe UI Emoji", sans-serif;
    vertical-align: middle;
    text-align: center;
    height: 1em;
    width: 1em;
    line-height: 1em;
}

.nativeEmoji { // Real Emojis
    font-family: "Segoe UI Emoji", sans-serif; // Helps with IE
}

.fallBackEmoji { // Image Emoji
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    user-select: none;
}
