@mixin defaultTransition($timing-default: .15s, $easing-default: ease-out, $properties...) {
    transition-property: $properties;
    transition-duration: $timing-default;
    transition-timing-function: $easing-default;
}

@mixin customCubicBezier($startA, $endA, $startB, $endB){
    transition-timing-function: cubic-bezier($startA, $endA, $startB, $endB);
}

@mixin spinnerLoader($dimension: 18px, $thickness: 3px, $color: #0291db, $speed: 0.7s) {
    @include defaultTransition(opacity);
    display: block;
    width: $dimension;
    height: $dimension;
    border-radius: 50%;
    border: {
        top: $thickness solid $color;
        right: $thickness solid rgba($color, 0.2);
        bottom: $thickness solid rgba($color, 0.2);
        left: $thickness solid rgba($color, 0.2);
    }
    transform: translateZ(0);
    animation: spinnerLoader $speed infinite ease-in-out;

    &::after {
        border-radius: 50%;
        width: $dimension;
        height: $dimension;
    }
}

$spinnerOffset: 73deg;
@keyframes spinnerLoader {
    0% {
        transform: rotate($spinnerOffset);
    }
    100% {
        transform: rotate(#{360 + $spinnerOffset});
    }
}

@mixin generateStylesFromMap($map) {
    @each $property, $value in $map {
        #{$property} : $value;
    }
}

@mixin generateButtonClass($buttonMap, $useZIndex: false) {
    & {
        @include generateStylesFromMap(map-get($buttonMap, "default"));
    }

    &:not([disabled]) {
        &:hover {
            @include generateStylesFromMap(map-get($buttonMap, "hover"));

            @if $useZIndex {
                z-index: 2;
            }
        }

        &:active {
            @include generateStylesFromMap(map-get($buttonMap, "focus"));

            @if $useZIndex {
                z-index: 1;
            }
        }
    }
}

// Rich Editor
@mixin mediaQuery-richEditor_mobile {
    @media (max-width: $richEditor-mobileBreakPoint) {
        @content;
    }
}

@mixin mediaQuery-richEditor_notMobile {
    @media (min-width: #{$richEditor-mobileBreakPoint}) {
        @content;
    }
}

@mixin richEditorMobileStyles {

    .richEditor-embedBarScroll {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $richEditor-menuButton_size;
        pointer-events: none;
        background: rgba(255, 165, 0, 0.5);
    }

    .richEditor {
        padding-left: 0;

        &.isFocussed {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            align-items: center;
            max-height: calc(100vh - #{$richEditor-menuButton_size});
            overflow: auto;


            background: rgba(0, 0, 255, 0.25);
            margin: 0 !important;
        }


        &.isSticky {
            .richEditor-embedBar {
                position: fixed;
                bottom: 0;
                left: 0;
                width: calc(100% - #{$richEditor-mobile_spacing * 2 + $richEditor-menu_borderWidth * 2});
                box-sizing: border-box;
                margin: {
                    left: #{$richEditor-mobile_spacing + $richEditor-menu_borderWidth};
                    right: #{$richEditor-mobile_spacing + $richEditor-menu_borderWidth};
                }

                background: rgba(0, 0, 255, 0.5);
            }

            .richEditor-frame {
                padding-bottom: $richEditor-menuButton_size;
            }

            .richEditor-text {

            }

            .embedDialogue {
                position: static;
            }
        }
    }

    .richEditorParagraphMenu {
        display: none !important;
    }

    .FormWrapper {
        padding-left: $richEditor-mobile_spacing;
        padding-right: $richEditor-mobile_spacing;
    }
}



// Temp, do not commit
.Row {
    width: 100% !important;
}

select {
    max-width: 100%;
}


.column-content {
    width: 100% !important;
    margin: 0 !important;
}

