@mixin defaultTransition($timing-default: .15s, $easing-default: ease-out, $properties...) {
    transition-property: $properties;
    transition-duration: $timing-default;
    transition-timing-function: $easing-default;
}

@mixin customCubicBezier($startA, $endA, $startB, $endB){
    transition-timing-function: cubic-bezier($startA, $endA, $startB, $endB);
}

@mixin spinnerLoader($dimension: 18px, $thickness: 3px, $color: #0291db, $speed: 0.7s) {
    @include defaultTransition(opacity);
    display: block;
    width: $dimension;
    height: $dimension;
    border-radius: 50%;
    border: {
        top: $thickness solid $color;
        right: $thickness solid rgba($color, 0.2);
        bottom: $thickness solid rgba($color, 0.2);
        left: $thickness solid rgba($color, 0.2);
    }
    transform: translateZ(0);
    animation: spinnerLoader $speed infinite ease-in-out;

    &::after {
        border-radius: 50%;
        width: $dimension;
        height: $dimension;
    }
}

$spinnerOffset: 73deg;
@keyframes spinnerLoader {
    0% {
        transform: rotate($spinnerOffset);
    }
    100% {
        transform: rotate(#{360 + $spinnerOffset});
    }
}

@mixin generateStylesFromMap($map) {
    @each $property, $value in $map {
        #{$property} : $value;
    }
}

@mixin generateButtonClass($buttonMap, $useZIndex: false) {
    & {
        @include generateStylesFromMap(map-get($buttonMap, "default"));
    }

    &:not([disabled]) {
        &:hover {
            @include generateStylesFromMap(map-get($buttonMap, "hover"));

            @if $useZIndex {
                z-index: 2;
            }
        }

        &:active {
            @include generateStylesFromMap(map-get($buttonMap, "focus"));

            @if $useZIndex {
                z-index: 1;
            }
        }
    }
}

// Rich Editor
@mixin mediaQuery-richEditor_mobile {
    @media (max-width: $richEditor-mobileBreakPoint) {
        @content;
    }
}

@mixin mediaQuery-richEditor_notMobile {
    @media (min-width: #{$richEditor-mobileBreakPoint}) {
        @content;
    }
}

@mixin mediaQuery-richEditor_embed {
    @media (max-width: $richEditor-mobileEmbedBreakPoint) {
        @content;
    }
}

@mixin richEditorMobileStyles {
    .embedDialogue {
        position: static;
    }

    .u-richEditorHiddenOnMobile {
        display: none !important;
    }

    .richEditor {
        padding-left: 0;
    }

    .richEditor-textWrap {
        margin-top: $richEditor-menuButton_size;
    }

    .richEditor-embedBar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        background: #fff;
    }


    .richEditor-menu.insertPopover {
        margin-top: -$richEditor-border_width;
        bottom: auto;
        width: calc(100% - #{$richEditor-border_width * 2});
    }

    .richEditor-embedBarMobileBorder {
        display: block;
    }

    .FormWrapper {
        padding-left: $richEditor-mobile_spacing;
        padding-right: $richEditor-mobile_spacing;

        &.isPastEditorTop {
            .richEditor-embedBar {
                position: fixed;
                width: calc(100% - #{$richEditor-mobile_spacing * 2});
                margin: {
                    right: $richEditor-mobile_spacing;
                    left: $richEditor-mobile_spacing;
                }
            }

            .richEditor-embedBarMobileBorder {
                border: {
                    top-width: 0;
                }
            }
        }

        &:not(.isPastEditorTop) {
            .richEditor-embedBarMobileBorder {
                border: {
                    top-width: 0;
                    right-width: 0;
                    left-width: 0;
                }
            }
        }
    }


}


@mixin editorButtonFocusStyles($offset: -$richEditor-outline_width) {
    outline: {
        width: $richEditor-outline_width;
        offset: #{$offset};
        color: $richEditor-outline_color;
        style: solid;
    }
}

@mixin editorButtonActiveStyles() {
    background-color: $richEditor-selected_bg;
}
