@mixin defaultTransition($timing-default: .15s, $easing-default: ease-out, $properties...) {
    transition-property: $properties;
    transition-duration: $timing-default;
    transition-timing-function: $easing-default;
}

@mixin customCubicBezier($startA, $endA, $startB, $endB){
    transition-timing-function: cubic-bezier($startA, $endA, $startB, $endB);
}

@mixin spinnerLoader($dimension: 18px, $thickness: 3px, $color: #0291db, $speed: 0.7s) {
    @include defaultTransition(opacity);
    display: block;
    width: $dimension;
    height: $dimension;
    border-radius: 50%;
    border: {
        top: $thickness solid $color;
        right: $thickness solid rgba($color, 0.2);
        bottom: $thickness solid rgba($color, 0.2);
        left: $thickness solid rgba($color, 0.2);
    }
    transform: translateZ(0);
    animation: spinnerLoader $speed infinite ease-in-out;

    &::after {
        border-radius: 50%;
        width: $dimension;
        height: $dimension;
    }
}

$spinnerOffset: 73deg;
@keyframes spinnerLoader {
    0% {
        transform: rotate($spinnerOffset);
    }
    100% {
        transform: rotate(#{360 + $spinnerOffset});
    }
}

@mixin generateStylesFromMap($map) {
    @each $property, $value in $map {
        #{$property} : $value;
    }
}

@mixin generateButtonClass($buttonMap, $useZIndex: false) {
    & {
        @include generateStylesFromMap(map-get($buttonMap, "default"));
    }

    &:not([disabled]) {
        &:hover {
            @include generateStylesFromMap(map-get($buttonMap, "hover"));

            @if $useZIndex {
                z-index: 2;
            }
        }

        &:active {
            @include generateStylesFromMap(map-get($buttonMap, "focus"));

            @if $useZIndex {
                z-index: 1;
            }
        }
    }
}

// Rich Editor
@mixin mediaQuery-richEditor_mobile {
    @media (max-width: $richEditor-mobileBreakPoint) {
        @content;
    }
}

@mixin mediaQuery-richEditor_notMobile {
    @media (min-width: #{$richEditor-mobileBreakPoint}) {
        @content;
    }
}

@mixin mediaQuery-richEditor_embed {
    @media (max-width: $richEditor-mobileEmbedBreakPoint) {
        @content;
    }
}

@mixin richEditorMobileStyles {
    .embedDialogue {
        position: static;
    }

    .u-richEditorHiddenOnMobile {
        display: none !important;
    }

    .richEditor {
        padding-left: 0;
    }

    .richEditor-menu.insertPopover {
        left: 0;
        width: calc(100% + #{$global-border-width * 4});
    }

    .richEditor-embedBarMobileBorder {
        display: block;
    }

    .FormWrapper {
        padding-left: $richEditor-mobile_spacing;
        padding-right: $richEditor-mobile_spacing;
    }

    .richEditorParagraphMenu {
        display: none !important;
    }
}


@mixin editorButtonFocusStyles($offset: - $formElement_borderWidth) {
    background: $state-color_focus;
    outline: none;
}

@mixin editorButtonActiveStyles() {
    background-color: $state-color_selected;
}

@mixin ieHack {
    // IE 10 and 11 only
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        @content;
    }
}

@mixin objectFitWithFallback() {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: auto;
    width: 100%;
    @supports (object-fit: cover) {
        object-fit: cover;
        object-position: center;
        height: 100%;
    }
}
