$richEditor_bg                                    : $global-color_bg !default;
$richEditor_horizontalPadding                           : 36px !default;
$richEditor_minHeight                             : 200px !default;
$richEditor_verticalPadding                       : 12px !default;
$richEditor_innerPadding                          : 12px !default;
$richEditor-outline_color                         : rgba($global-color_primary, 0.6) !default;

$richEditor-menuButton_size                       : 36px !default;
$richEditor-floatingButton_size                   : 28px !default;

$richEditor-embedMenu_padding                     : 0 !default;

$richEditor-insertLink_width                      : 387px !default;

$richEditor-flyout_paddingVertical                : 12px !default;
$richEditor-flyout_paddingHorizontal              : 12px !default;
$richEditor-flyout_maxHeight                      : 100vh !default;
$richEditor-flyout_height                         : $richEditor-menuButton_size * 7 !default;

$richEditor-nub_width                             : 12px !default;

$richEditor-menu_borderWidth                      : 1px !default;
$richEditor-menu_offset                           : $richEditor-nub_width !default;

$richEditor-pilcrow_offset                        : 9px!default;
$richEditor-pilcrow_fontSize                      : 14px !default;
$richEditor-pilcrowAnimation_duration             : 0.3s;

$richEditor-emojiGroup_paddingLeft                : 3px !default;
$richEditor-emojiOutline_offset                   : -#{$formElement_borderWidth + 2} !default;

$richEditor-mobileEmbedMenu_borderColor           : $global-color_primary !default;
$richEditor-mobileEmbedMenu_transitionDuration    : .15s !default;
$richEditor-mobileEmbedMenu_transitionTiming      : ease-out !default;

$richEditor-embedButton_offset                    : -$formElement_borderWidth !default;
$richEditor-paragraphMenuButton_offset            : -$formElement_borderWidth + 1 !default;
$richEditor-text_offset                           : 0 !default;

$embedImage_width                                 : 640px !default;

// Break Points
$richEditor-mobile_spacing                        : 18px !default;
$richEditor-mobileBreakPoint                      : 700px !default;
$richEditor-mobileEmbedBreakPoint                 : 550px !default;

.richEditor {
    position: relative;
    display: block;
    padding-left: $richEditor_horizontalPadding;

    &.isDisabled { // Before React has replaced initial HTML
        &,
        .richEditor-button {
            cursor: progress !important;
        }
    }

    color: $global-color_fg;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: $global-color_fg;
    }

    blockquote {
        display: block;
        margin: 0;
    }
}

.richEditor-frame {
    &.InputBox {
        position: relative;
        background: $richEditor_bg;
        height: auto;
        padding: 0;
    }
}

.richEditor-menu {
    display: inline-block;
    position: relative;
    background-color: $global-color_bg;
    border: {
        radius: $global-borderRadius;
        color: $global-border_color;
        style: $global-border_style;
        width: $global-border_width;
    }
    box-shadow: $menu-dropShadow;
}

.richEditorParagraphMenu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: $richEditor-pilcrow_offset;
    left: 0;
    transform: translateX(-100%);
    height: $richEditor-floatingButton_size;
    width: $richEditor_horizontalPadding;
    z-index: 1;
    animation: fadein $richEditor-pilcrowAnimation_duration ease;
    animation-iteration-count: 1;

    .richEditor-button {
        &.isActive {
            &:hover {
                cursor: default;
            }
        }
    }
}

.richEditorParagraphMenu-handle {
    width: $richEditor-floatingButton_size;
    max-width: $richEditor-floatingButton_size;
    min-width: $richEditor-floatingButton_size;
    height: $richEditor-floatingButton_size;
}

.richEditor-text {
    position: relative;
    min-height: $richEditor_minHeight;
    padding: {
        top: $richEditor_verticalPadding;
        right: $richEditor_innerPadding;
        bottom: $richEditor_verticalPadding;
        left: $richEditor_innerPadding;
    }
    outline-color: transparent;
    white-space: pre-wrap !important; // Needed for spaces around embed blots to work properly!

    &:focus {
        outline: {
            offset: $richEditor-text_offset;
            style: solid;
            width: $formElement_borderWidth;
            color: $richEditor-outline_color;
        }
    }
}

.ql-clipboard {
    @include sr-only();
}

.richEditor-menuItems {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin: 0;

    .richEditor-menuItem {
        display: block;
        padding: 0;
        margin: 0;

        .richEditor-button,
        &.richEditor-button {
            width: $richEditor-menuButton_size;
            font-size: #{$richEditor-menuButton_size * 24 / 39};
            line-height: $richEditor-menuButton_size;

            &.emojiChar-🇺🇳 {
                font-size: 10px;
            }
        }

        &:first-child {
            .richEditor-embedButton {
                border-bottom-left-radius: $global-borderRadius;
            }
        }

        &.isRightAligned {
            margin-left: auto;
        }
    }
}



// button reset
.richEditor-nextInput,
.iconButton,
.richEditor-button {
    @include singleLineEllipsis;
    position: relative;
    appearance: none;
    border: 0;
    padding: 0;
    background: none;
    text-align: left;
}



.richEditor-button {
    display: block;
    user-select: none;
    cursor: pointer;

    //.Close-x,
    //.richEditorButton-icon {
    //    opacity: $state-icon_opacity;
    //}


    &.richEditor-formatButton,
    &.richEditor-embedButton {
        height: $richEditor-menuButton_size;
        color: inherit;
    }

    &.emojiGroup {
        display: block;
        width: $richEditor-menuButton_size;
        height: $richEditor-menuButton_size;
        text-align: center;

        &.isSelected {
            @include iconButtonActiveState;
        }
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &:hover {
        @include iconButtonHoverState;
        .Close-x,
        .richEditorButton-icon {
            opacity: 1;
        }
    }

    &:focus {
        @include buttonFocusStateStyles;
        z-index: 2;
        .Close-x,
        .richEditorButton-icon {
            opacity: 1;
        }
    }

    &.isActive {
        @include iconButtonActiveState;
        .Close-x,
        .richEditorButton-icon {
            opacity: 1;
        }
    }

    &.isOpen {
        @include iconButtonActiveState;
    }

    &.richEditor-formatButton {
        &:focus {
            @include buttonFocusStateStyles($richEditor-paragraphMenuButton_offset);
        }
    }
}

.richEditor-menuItem {
    display: block;
    padding: 0;
    margin: 0;

    .richEditor-button,
    &.richEditor-button {
        width: $richEditor-menuButton_size;
        height: $richEditor-menuButton_size;
        max-width: $richEditor-menuButton_size;
        font-size: #{$richEditor-menuButton_size * 24 / 39};
        line-height: $richEditor-menuButton_size;

        &.emojiChar-🇺🇳 {
            font-size: 14px;
        }
    }

    &.isRightAligned {
        margin-left: auto;
    }
}

.richEditor-upload {
    display: none !important;
}

.richEditor-embedBar {
    display: block;
    width: 100%;
    padding: $richEditor-embedMenu_padding;
    margin-top: $formElement-borderWidth;
}

.richEditorButton-icon {
    display: block;
    margin: auto;
    height: $icon-default_size;
    width: $icon-default_size;
    opacity: $state-icon_opacity;
}

.Close-x {
    display: block;
    opacity: $state-icon_opacity;
    cursor: pointer;
}

// Link Menu
.insertLink {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-width: $richEditor-insertLink_width;
    width: 100%;
    padding: {
        left: 5px;
    }
}

.richEditor-close.Close {
    position: relative;
    display: block;
    width: $richEditor-menuButton_size;
    height: $richEditor-menuButton_size;
    line-height: $richEditor-menuButton_size;
    vertical-align: bottom;
    top: auto;
    right: auto;
    text-align: center;
    user-select: none;
    background: transparent;
    cursor: pointer;

    &:focus {
        @include buttonFocusStateStyles;
    }
}

.insertLink-input.InputBox {
  border: 0 !important;
  margin-bottom: 0 !important;
  flex-grow: 1;
  max-width: calc(100% - #{$richEditor-menuButton_size})
}

// Insert Media
.richEditorFlyout {
    position: relative;
    overflow: hidden;
    background-color: $global-color_bg;
    border: {
        radius: $global-borderRadius;
        color: $global-border_color;
        style: $global-border_style;
        width: $global-border_width;
    }
    box-shadow: $menu-dropShadow;
    z-index: 6;

    .InputBox {
        width: 100%;
        box-sizing: border-box;
    }

    .richEditor-close {
        position: absolute;
        top: 0;
        right: 0;
    }

    .Footer {
        display: flex;
    }
}

.richEditorFlyout-header {
    padding: {
        top: $richEditor-flyout_paddingHorizontal / 2;
        right: $richEditor-flyout_paddingHorizontal;
        bottom: $richEditor-flyout_paddingHorizontal / 2;
        left: $richEditor-flyout_paddingHorizontal;
    }
}

.richEditorFlyout-footer {
    padding: {
        top: $richEditor-flyout_paddingVertical;
        bottom: $richEditor-flyout_paddingVertical;
        left: $richEditor-flyout_paddingHorizontal;
        right: $richEditor-flyout_paddingHorizontal;
    }

    &.insertEmoji-footer {
        padding: 0;
    }
}

.richEditorFlyout-title {
    @include longWordEllipsis;
    margin: 0;
    max-width: calc(100% - #{$richEditor-menuButton_size});
    min-height: #{$richEditor-menuButton_size - $richEditor-flyout_paddingVertical};
    font-size: 100%;
    line-height: inherit;
    color: $global-color_fg;

    &:focus {
        outline: 0;
    }
}

.insertMedia-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: {
        left: $richEditor-flyout_paddingHorizontal;
        right: $richEditor-flyout_paddingHorizontal;
        bottom: $richEditor-flyout_paddingVertical;
    }
}

.insertMedia-help {
    margin-right: auto;
    font-size: 12px;
}

.insertMedia-insert {
    margin-bottom: 3px;
}

.richEditorFlyout {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: #{$richEditor-flyout_paddingHorizontal * 2 + 7 * $richEditor-menuButton_size};
    border: $formElement-borderWidth $formElement-borderStyle $formElement_borderColor;
    box-shadow: $menu-dropShadow;
    background: $global-color_bg;
    border-radius: $global-borderRadius;
}

.richEditorFlyout-body {
    padding: {
        left: $richEditor-flyout_paddingHorizontal;
        right: $richEditor-flyout_paddingHorizontal;
    }
}

.insertEmoji-body {
    max-height: $richEditor-flyout_maxHeight;
    height: $richEditor-flyout_height;
}

.content-wrapper {
    height: 100%;
}

.embedDialogue {
    position: relative;
}

.richEditor-insertEmoji {
    font-size: $icon-default_size;
    text-align: center;
    overflow: hidden;

    .fallBackEmoji {
        display: block;
        margin: auto;
    }

    &:focus {
        outline-offset: $richEditor-emojiOutline_offset;
    }
}

.richEditor ~ .TextBoxWrapper {
    display: none;
}

// Nub styles
.richEditor-nubPosition {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    width: $richEditor-nub_width * 2;
    height: $richEditor-nub_width * 2;
    user-select: none;
    transform: translateX(-50%);
    margin-top: -$richEditor-menu_borderWidth;
    pointer-events: none;
}

.richEditor-nub {
    position: relative;
    display: block;
    width: $richEditor-nub_width;
    height: $richEditor-nub_width;
    border: {
        top: $richEditor-menu_borderWidth solid $global-border_color;
        right: $richEditor-menu_borderWidth solid $global-border_color;
    }
    box-shadow: 0 0 5px 1px $menu-dropShadow_color;
    background: $richEditor_bg;
}


// Orientation specific styles
.richEditor-inlineToolbarContainer {
    &.isUp {
        transform: translateY(-$richEditor-menu_offset);

        .richEditor-nubPosition {
            top: 100%;
        }

        .richEditor-nub {
            transform: translateY(-50%) rotate(135deg);
        }
    }

    &.isDown {
        transform: translateY($richEditor-menu_offset);

        .richEditor-nubPosition {
            bottom: 100%;
        }

        .richEditor-nubPosition {
            align-items: flex-end;
            transform: translateY(-50%) translateX(-50%);
            margin-top: $richEditor-menu_borderWidth;
        }
        .richEditor-nub {
            transform: translateY(50%) rotate(-45deg);
        }
    }
}

.richEditor-paragraphToolbarContainer {
    position: absolute;
    left: calc(50% - #{$richEditor_horizontalPadding / 2});


    &.isUp {
        bottom: calc(50% + #{$richEditor_horizontalPadding / 2 - $formElement-borderWidth});
    }

    &.isDown {
        top: calc(50% + #{$richEditor_horizontalPadding / 2 - $formElement-borderWidth});
    }
}

.userContent {
    > * {
        &:not(:last-child) {
            margin-bottom: 1.5em;

            + h1,
            + h2,
            + h3,
            + h4,
            + h5,
            + h6
            {
                margin-top: .6em;
            }
        }

        &:first-child {
            margin-top: 0 !important;
        }
    }

    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    div,
    td,
    th,
    a,
    p
    {
        word-break: break-word;
        text-overflow: ellipsis;
    }
}

.emoji { // old emoji support
    width: 20px;
    height: 20px;
    vertical-align: -.232em;
}

.richEditor-button {
    user-select: none;
    cursor: pointer;
}

// Emoji Groups

.emojiGroups {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.emojiGroup-icon {
    display: block;
    position: relative;
    margin: auto;
    padding: 0;
    width: $icon-default_size;
    size: $icon-default_size;
}

body.hasRichEditor {
    // Hide Preview
    #Form_Preview {
        display: none;
    }
}

// Handle gutter for paragraph menu
@include mediaQuery-richEditor_notMobile {
    body.hasRichEditor {
        // New Discussions
        &.Section-PostDiscussion {
            #DiscussionForm {
                select {
                    max-width: 100%;
                }

                .FormWrapper {
                    padding: {
                        left: $richEditor_horizontalPadding;
                        right: $richEditor_horizontalPadding;
                    }

                    .richEditor {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }

        // Comment
        .CommentForm {
            .CommentFormWrap {
                .Form-HeaderWrap {
                    display: none;
                }

                .FormWrapper {
                    padding-right: 0;
                    padding-left: 0;
                }
            }

            .richEditor {
                padding: {
                    left: $richEditor_horizontalPadding;
                    right: $richEditor_horizontalPadding;

                }

                .richEditor {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            .Buttons {
                padding-right: $richEditor_horizontalPadding;
            }
        }

        .DataListWrap {
            .FormWrapper.FormWrapper-Condensed {

            }
        }

        // New Message
        #EventAddEditForm,
        #GroupForm,
        #MessageForm,
        #ConversationForm {
            .Form-HeaderWrap {
                display: none;
            }

            .FormWrapper {
                padding: {
                    left: $richEditor_horizontalPadding;
                    right: $richEditor_horizontalPadding;
                }

                .richEditor {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }

        &.Profile {
            .FormWrapper.FormWrapper-Condensed {
                padding-right: $richEditor_horizontalPadding;
                padding-left: 0;

                .Activity {
                    .Buttons {
                        padding-left: $richEditor_horizontalPadding
                    }
                }
            }
        }

        &.Section-Conversation {
            .CommentForm {
                .Buttons {
                    padding-right: 0;
                }
            }
        }

        .Popup.hasRichEditor {
            .Border {
                width: 100%;
                box-sizing: border-box;
            }

            .Content {
                margin-top: 10px;
                > h1 {
                    padding-left: $richEditor_horizontalPadding;
                }
            }

            .FormWrapper {
                background: none;
                padding: {
                    top: 3px;
                    left: $richEditor_horizontalPadding;
                    right: $richEditor_horizontalPadding;
                }
            }

            .richEditor {
                padding-left: 0;
            }
        }
    }
}


// Mobile
body.isMobile {
    @include richEditorMobileStyles();
}

@include mediaQuery-richEditor_mobile {
    @include richEditorMobileStyles();
}



