.custom .jcrop-vline,
.custom .jcrop-hline {
    background: yellow;
}

.custom .jcrop-handle {
    border-color: black;
    background-color: #C7BB00;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.jcropper-holder {
    border: 1px black solid;
}

.jcrop-holder {
    text-align: left;
}

.jcrop-vline, .jcrop-hline {
    font-size: 0;
    position: absolute;
    background: white url('images/jcrop.gif') top left repeat;
}

.jcrop-vline {
     height: 100%;
     width: 1px !important;
}

.jcrop-hline {
    width: 100%;
    height: 1px !important;
}

.jcrop-handle {
    font-size: 1px;
    width: 7px !important;
    height: 7px !important;
    border: 1px #eee solid;
    background-color: #333;
    *width: 9px;
    *height: 9px;
}

.jcrop-tracker {
    width: 100%;
    height: 100%;
}

.box-image {
    float: left;
}

.box-crop::after,
.box-crop::before {
    display: table;
    content: '';
}

.box-crop::after {
  clear: both;
}

.box-crop {
    zoom: 1;
    width: 100%;
    display: inline-block;
}
