html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-weight: inherit;
   font-style: inherit;
   font-size: 100%;
   font-family: inherit;
   vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
   outline: 0;
}
body {
   line-height: 1;
   color: black;
   background: white;
}
ol, ul {
   list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
   border-collapse: separate;
   border-spacing: 0;
}
caption, th, td {
   text-align: left;
   font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: "";
}
blockquote, q {
   quotes: "" "";
}
body {
   color: #000;
   font: 75%/1.7em "Helvetica Neue",Helvetica,arial,sans-serif;
   margin: 0;
   padding: 0;
   font-size: small;
	background: #c2e6fc url('images/slicesplash.jpg') no-repeat scroll center top;
}
.SplashInfo {
	margin: 80px 0;
	border-top: 1px solid #A4CFE6;
	border-bottom: 1px solid #A4CFE6;
	background: #E0F4FF;
}
.SplashInfo h1 {
   font-weight:bold;
	text-shadow: #fff 0 1px 0;
	text-align: center;
	border-top: 1px solid #fff;
	color:#02455B;
	font-size:300%;
   margin: 0 0 10px;
	padding: 20px 0 0;
}
.SplashInfo p {
	text-align: center;
	border-bottom: 1px solid #fff;
	margin: 0;
	padding: 0 0 10px;
	color: #076C8E;
	font-size: 20px;
   line-height: 1.6em;
}