.Flyout:before,
.Flyout:after {
   border-bottom: 7px solid #444444;
   border-left: 7px solid transparent;
   border-right: 7px solid transparent;
   content: "";
   left: 9px;
   position: absolute;
   top: -7px;
}
.Flyout:after {
   border-bottom: 7px solid #fff;
   top: -6px;
}
.OptionsMenu .Flyout:before,
.OptionsMenu .Flyout:after {
   left: inherit;
   right: 14px;
}

.MeBox-SignIn {
   display: none;
}
.Profile .MeBox {
   display: none;
}
.UserBox,
.MeBox {
   margin: 10px 0;
}
.UserBox .PhotoWrap,
.MeBox .PhotoWrap {
	float: left;
   margin-right: 5px;
}
.UserBox .WhoIs,
.MeBox .WhoIs {
	min-height: 40px;
	line-height: 1.3;
}
.UserBox .Username,
.MeBox .Username {
	font-weight: bold;
	vertical-align: top;
   font-size: 14px;
}
.UserBox .Email {
   white-space: nowrap;
   overflow: hidden;
}
.MeMenu {
   line-height: 24px;
}
.MeButton {
	padding: 3px 5px;
   border: solid 1px transparent;
	position: relative;
	line-height: 1;
   display: inline-block;
}
.MeButton:hover {
	background: #eee;
	background: rgba(0,0,0,0.07);
}
.MeButton:hover {
	background: #eee;
	background: rgba(0,0,0,0.07);
}
.MeButton .Alert {
	position: absolute;
	top: -2px;
	right: -1px;
	font-size: 9px;
	line-height: 1;
	padding: 2px;
}
.MeMenu em {
	display: none;
}
.MeBox.Inline,
.MeBox.Inline .WhoIs,
.MeBox.Inline .MeMenu {
    display: inline;
    line-height: 24px;
}
.MeBox.Inline > .PhotoWrap {
    float: none;
}
.MeBox.Inline > .PhotoWrap .ProfilePhoto {
    height: 24px;
    width: 24px;
}
.MeBox.Inline .Username {
   margin-right: 4px;
}

.MeBox-SignIn.Inline * {
    display: inline;
}

.MeBox.Inline .SignInIcons img {
    vertical-align: top;
}

.MenuItems {
   line-height: 100%;
   font-size: 11px;
   border: 1px solid #999;
   border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   background: #fff;
   padding: 5px 0;
   box-shadow: 0 5px 10px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
   -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.MenuItems a, .MenuItems a:link, .MenuItems a:visited, .MenuItems a:active {
	display: block;
	text-decoration: none;
   white-space: nowrap;
   color: #333 !Important;
   padding: 3px 15px;
   line-height: 18px;
}
.MenuItems a:hover {
   color: #ffffff !Important;
   text-decoration: none;
   background-color: #004D9F !Important;
}
.MenuItems li > strong {
   font-size: 12px;
   padding: 3px 10px;
   line-height: 18px;
}
.MenuItems hr {
    border: 0;
    border-bottom: 1px solid #ddd;
}
.ToggleFlyout {
   position: relative;
}
.ToggleFlyout.Open {
   z-index: 110; /* above Item:hover */
}
.ToggleFlyout .Flyout {
   position: absolute;
   top: 100%;
   /* right: -10px; This causes text overflows when flyout items are long */
   display: none;
}
.OptionsMenu .Flyout {
   top: 18px;
   right: -9px;
}
.Flyout .Author .PhotoWrap {
    margin: 0;
}
.FlyoutMenu {
   width: 300px;
   background: #fff;
   color: #000;
   border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   box-shadow: 0 5px 10px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
   -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
   border: solid 1px #999;
}
.FlyoutMenu a {
   color: #00419b;
}
.FlyoutButton {
   cursor: pointer;
}
.FlyoutLeft .Flyout {
    right: inherit;
}
.MeBox .Flyout {
    right: inherit;
    left: -4px;
    top: 150%;
}
.MeBox.FlyoutRight .Flyout {
    left: inherit;
    right: -4px;
}
.MeBox.FlyoutRight .Flyout:before,
.MeBox.FlyoutRight .Flyout:after {
   left: auto;
   right: 9px;
}