.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/** Hides the image cropper on mobile themes. This image cropper is not mobile compatible. */
body.isMobile .box-crop .box-source {
  display: none;
}

body.isMobile .change-picture .change-picture-instructions {
  display: none;
}

@media (max-width: 600px) {
  .box-crop .box-source {
    display: none;
  }
  .change-picture .change-picture-instructions {
    display: none;
  }
}

.categoryList-heading + .DataTableWrap > .categoryList-genericHeading {
  display: none;
}

.followButton {
  white-space: nowrap;
  font-size: 10px;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 400;
  padding: 0 5px;
  text-decoration: none;
}

.followButton.isFollowing:not(:hover) {
  opacity: 0.7;
}

.followButton-icon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  vertical-align: sub;
}

.vanillaIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.selectBox {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
}

.PageControls .selectBox {
  margin-right: 15px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.selectBox-label {
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-right: 5px;
}

.selectBox-main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.selectBox-content {
  display: none;
  left: 100%;
  margin-left: -29px;
  margin-top: 10px;
}

.selectBox-toggle {
  position: relative;
  display: inline-block;
  vertical-align: inherit;
  cursor: pointer;
  user-select: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  white-space: nowrap;
  max-height: 100%;
}

.selectBox-toggle:active {
  text-decoration: none;
}

.selectBox-item {
  position: relative;
  display: block;
}

.selectBox-item .dropdown-menu-link.selectBox-link {
  position: relative;
  padding-left: 30px;
}

.selectBox-item.isActive .selectBox-link {
  pointer-events: none;
  cursor: default;
}

.selectBox-link {
  display: block;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none !important;
  text-align: left;
}

.selectBox-selectedIcon {
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 18px;
  height: 18px;
}

.menu-separator {
  background: none;
  border-bottom: 1px solid #dddee0;
  margin: 6px 0;
}

.menu-separator hr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.PageControls {
  position: relative;
}

body.Categories.isMobile .PageControls.Top {
  display: block;
}

.ButtonGroup.discussion-sort-filter-module {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style-compat.css.map */