/* Error: expected "}".
 *     ,
 * 350 | }
 *     |  ^
 *     '
 *   scss/compatibility/editor/_richEditorLegacy.scss 350:2  root stylesheet
 *   scss/style-compat.scss 35:9                             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 350 \2502  }\a     \2502   ^\a     \2575 \a   scss/compatibility/editor/_richEditorLegacy.scss 350:2  root stylesheet\a   scss/style-compat.scss 35:9                             root stylesheet';
}
