.richEditor {
  position: relative;
  display: block;
  padding-left: 36px;
}

.richEditor em {
  font-style: oblique;
}

.richEditor-frame.InputBox {
  position: relative;
  background: white;
  height: auto;
  padding: 0;
}

.richEditor-menu {
  display: inline-block;
  position: relative;
}

.richEditor-menu.FlyoutMenu {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  display: block;
  float: none;
}

.richEditor-inlineNub {
  width: 8px;
  height: 8px;
  background: black;
  position: absolute;
}

.richEditorParagraphMenu {
  position: absolute;
  top: 9px;
  left: 6px;
  height: 24px;
  width: 24px;
}

.richEditor-text {
  position: relative;
  min-height: 200px;
  padding: 9px 12px;
  outline-color: transparent;
}

.richEditor-text .ql-editor {
  min-height: 191px;
}

.richEditor-text:focus {
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
  outline-color: Highlight;
  outline-color: -webkit-focus-ring-color;
  z-index: 1;
}

.ql-clipboard {
  display: none;
}

.richEditor-menuItems {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.richEditor-menuItem {
  display: block;
  margin: 0;
  padding: 0;
}

.richEditor-menuItem .richEditor-button {
  height: 39px;
  width: 39px;
}

.richEditor-menuItem.isRightAligned {
  margin-left: auto;
}

.richEditor-button {
  display: block;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  height: 24px;
  width: 24px;
  background: none;
}

.richEditor-button.richEditorParagraphMenu-handle {
  background: transparent;
}

.richEditor-button.richEditorParagraphMenu-handle .richEditorInline-icon {
  opacity: 1;
}

.richEditor-button:not(:disabled) {
  cursor: pointer;
}

.richEditor-button:focus {
  z-index: 1;
}

.richEditor-button:hover .richEditorInline-icon, .richEditor-button:focus .richEditorInline-icon, .richEditor-button.isActive .richEditorInline-icon {
  opacity: 1;
}

.embedBar {
  display: block;
  width: 100%;
  padding: 0;
}

.richEditorInline-icon {
  display: block;
  margin: auto;
  height: 24px;
  width: 24px;
  opacity: 0.6;
}

.atMention {
  width: 200px;
}

.atMention-items {
  width: 100%;
}

.atMention-items.MenuItems {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  display: block;
}

.atMention-user {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.atMention-photoWrap {
  margin-right: 10px;
}

.atMention-photo {
  width: 30px;
  height: 30px;
}

.atMention-userName {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 40px);
}

.atMention-mark {
  padding: 0;
  font-weight: 600;
}

.atMention-photo {
  display: block;
}

.insertLink.FlyoutMenu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 387px;
  width: 100%;
  padding-left: 5px;
}

.richEditor-close.Close {
  position: relative;
  display: block;
  width: 39px;
  height: 39px;
  line-height: 39px;
  top: auto;
  right: auto;
  text-align: center;
  user-select: none;
}

.insertLink-input.InputBox {
  border: 0 !important;
  flex-grow: 1;
  max-width: calc(100% - 39px);
}

.insertPopover .InputBox {
  width: 100%;
  box-sizing: border-box;
}

.insertPopover .richEditor-close {
  position: absolute;
  top: 0;
  right: 0;
}

.insertPopover .Footer {
  display: flex;
}

.insertPopover-header {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
}

.insertPopover-footer {
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
}

.insertMedia-title {
  margin: 0;
  max-width: calc(100% - 39px);
  min-height: 30px;
}

.insertMedia-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 9px;
}

.insertMedia-help {
  margin-right: auto;
  font-size: 12px;
}

.insertMedia-insert {
  margin-bottom: 3px;
}

.insertPopover-body {
  max-height: 250px;
  overflow: auto;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 12px;
}

.richEditor-emojis {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.richEditor-insertEmoji {
  width: 39px;
  height: 39px;
  font-size: 24px;
}

.richEditor ~ .TextBoxWrapper {
  display: none;
}

.followButton {
  white-space: nowrap;
  font-size: 10px;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 400;
  padding: 0 5px;
  text-decoration: none;
}

.followButton.isFollowing:not(:hover) {
  opacity: 0.7;
}

.followButton-icon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  vertical-align: sub;
}

.vanillaIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.PageControls .selectBox {
  margin-right: 10px;
  float: left;
}

.selectBox {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
}

.selectBox-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  height: 100%;
  margin-right: 5px;
}

.selectBox-main {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  height: 100%;
}

.selectBox-content {
  left: 100%;
  margin-left: -29px;
  margin-top: 10px;
}

.selectBox-toggle {
  position: relative;
  display: block;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  white-space: nowrap;
  max-height: 100%;
}

.selectBox-toggle:active {
  text-decoration: none;
}

.vanillaDropDown-arrow,
.selectBox-selected {
  line-height: 1;
  vertical-align: middle;
}

.selectBox-item {
  position: relative;
  display: block;
}

.selectBox-item .dropdown-menu-link.selectBox-link {
  position: relative;
  padding-left: 30px;
}

.selectBox-item.isActive .selectBox-link {
  pointer-events: none;
  cursor: default;
}

.selectBox-link {
  display: block;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  text-decoration: none !important;
  text-align: left;
}

.selectBox-selectedIcon {
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 18px;
  height: 18px;
}

body.Categories.isMobile .PageControls.Top {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*# sourceMappingURL=style-compat.css.map */