.embedImage {
    display: block;
    width: $embedImage_width;
    max-width: 100%;
    margin: auto;
}

.embedImage-img {
    display: block;
    position: relative;
    margin: {
        left: auto;
        right: auto;
    }
    max-width: 100%;
    max-height: 80vh;
}
