$embedQuote-text_color: $quote-fg !default;
$embedQuote-border_color: $quote-border_color !default;
$embedQuote-userName_fontWeight: $global-bold_fontWeight !default;
$embedQuote-userPhoto_size: 24px !default;
$embedQuote-userPhoto_borderRadius: $global-borderRadius !default;

.embedQuote {
    width: 100%;
}

.embedQuote-content {
    width: 100%;
    border-left: 6px solid $embedQuote-border_color;
}

.embedQuote-header {
    position: relative;
    padding-right: 40px;
}

.embedQuote-userLink {
    display: inline-flex;
    align-items: center;
}

.embedQuote-userName {
    margin: 0 0 0 9px;
    padding: 0;
    color: #555A62;
    font-weight: $embedQuote-userName_fontWeight;
}

.embedQuote-userPhoto {
    width: $embedQuote-userPhoto_size;
    height: $embedQuote-userPhoto_size;
    border-radius: $embedQuote-userPhoto_borderRadius;
}

.embedQuote-excerpt {
    color: $embedQuote-text_color;
    white-space: normal;

    h1, h2, h3, h4, h5, h6 {
        color: $embedQuote-text_color;
    }

    a {
        color: $embedQuote-text_color;
        text-decoration: underline;
    }
}

.embedQuote-collapseButton {
    $paddingInset: 12px;
    margin: {
        left: 0;
        right: -$paddingInset;
        bottom: 0;
        top: 0;
    }
    padding: 0 $paddingInset;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.embedQuote-chevronUp,
.embedQuote-chevronDown {
    width: 8px;
    height: 4px;
    display: inline-block;
    vertical-align: .2em;
}
