.embedResponsive {
    text-align: center;
}

.embedExternal {
    display: inline-flex;
    margin: auto;
    max-width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.embedExternal-content {
    position: relative;
    margin: auto;
    user-select: none;
    width: $embed_width;
    max-width: 100%;
    text-align: center;

    iframe {
        display: block;
    }

    > * {
        margin: auto !important;
    }
}

.embedExternal-ratio {
    position: relative;
    display: block;
    margin: 0;
    width: 100%;
    padding: {
        left: 0;
        right: 0;
        bottom: 0;
    };
}

// Embed Loaders
.embedLinkLoader {
    text-align: left;
}

.embedLinkLoader-failIcon {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0;
    vertical-align: -0.14em;
    user-select: none;
}

.embedLinkLoader-loader {
    @include spinnerLoader(1em, 3px);
    display: inline-block;
    vertical-align: -0.14em;
}

// Edit mode only

.richEditor {
    .embedExternal-content {
        transition: 0.2s ease box-shadow;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 0 2px rgba($embed-focus-color, 0.5);
        }

        &:focus {
            box-shadow: 0 0 0 2px $embed-focus-color;
        }

        > * {
            pointer-events: none; // In edit mode, we never allow clicking into elements.
            cursor: default;
        }
    }
}


// Edit Mode changes
.richEditor { // Only in edit mode
    .embedExternal-content {
        &:hover {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $embed-overlay_hover_color;
            }
        }
    }
}

