// Global
@import "embedGlobalVariables";
@import "embedGlobal";

// Generic
@import "embedVideo";
@import "embedImage";
@import "embedLink";
@import "embedLoader";

// Specific
@import "embedGetty";
@import "embedGiphy";
@import "embedInstagram";
@import "embedImgur";
@import "embedTwitter";
@import "embedSoundCloud";
@import "embedInstagram";
