.embedTwitter {
    .embedExternal-content {
        border-radius: 4px;
        width: auto;
    }
}

// Shadow DOM
.twitter-tweet {
    margin: 0 auto !important;
    min-width: 100% !important;
}

