$black: #000;
$white: #fff;

$vanilla-blue: #1e79a7;
$vanilla-pink: #ff0084;

$grey-1: #333;
$grey-2: #ddd;
$grey-3: #777;
$grey-4: #555;
$grey-5: #eee;
$grey-6: #888;
$grey-7: #444;
$grey-8: #f5f5f5;
$grey-9: #999;
$grey-a: #f8f8f8;
$grey-b: #aaa;
$grey-c: #fdfdfd;
$grey-d: #bbb;
$grey-e: #ccc;
$grey-f: #fafafa;
$grey-g: #f7f7f7;
$grey-h: #f3f3f3;
$grey-i: #f0f0f0;
$grey-j: #666;
$grey-k: #222;
$grey-l: #e8e8e8;
$grey-m: #b1b1b1;
$grey-n: #090909;
$grey-o: #e6e6e6;
$grey-p: #111;
$grey-q: #f6f6f6;

$red-1: #f00;
$red-2: #c91313;
$red-3: #ff3232;
$red-4: #ffc2c2;
$red-5: #b90000;
$red-6: #a00;
$red-7: #d50a0a;
$red-8: #c81818;
$red-9: #ffebe9;
$red-a: #c70028;
$red-b: #fbb;
$red-c: #d00;
$red-d: #ffccc9;

$blue-1: #02475a;
$blue-2: #a5d0e7;
$blue-3: #d3f0ff;
$blue-4: #216ebf;
$blue-5: #004d9f;
$blue-6: #0c3c7e;
$blue-7: #c7e2ff;
$blue-8: #38abe3;
$blue-9: #abdafb;
$blue-a: #cfecff;
$blue-b: #aff;
$blue-c: #cff;
$blue-d: #c0e0fa;
$blue-e: #004d9f;
$blue-f: #00419b;
$blue-g: #abdafb;
$blue-h: #bec8cc;
$blue-i: #c4cde0;
$blue-j: #70727c;

$white-1: #d7d8da;
$white-2: #ffe;
$white-3: #f3f4f8;
$white-4: #ffebe9;
$white-5: #d8ecfc;
$white-6: #fee;
$white-7: #e3f4ff;

$yellow-1: #ffa;
$yellow-2: #c7bb00;
$yellow-3: #ff0;
$yellow-4: #f9edbe;
$yellow-5: #f7e7a7;
$yellow-6: #ffcc00;
$yellow-7: #e6b800;
$yellow-8: #ff9;
$yellow-9: #eec;
$yellow-a: #ff6;
$yellow-b: #c7bb00;
$yellow-c: #fff8ce;
$yellow-d: #c5bea4;
$yellow-e: #deddaf;
$yellow-f: #ffc;

$orange-1: #ff891d;
$orange-2: #ffac1d;

$green-1: #27b30f;
$green-2: #a6C060;

$facebook: #36609e;
$facebook-hover: #294978;

$twitter: #2aa8df;
$twitter-hover: #1c8aba;

$linkedin: #066c9a;
$linkedin-hover: #044a69;

$google: #2a84fc;
$google-hover: #3367d6;

$openid: #f7921c;
$openid-hover: #d87808;

$disqus: #2e9fff;
$disqus-hover: #0087fa;

$github: #6b9ecf;
$github-hover: #4485c3;
