<!DOCTYPE html>
<html lang="<?php echo Gdn::Locale()->Locale; ?>">
<head>
   <?php $this->RenderAsset('Head'); ?>
</head>
<body<?php echo Attribute(array('id' => $BodyIdentifier, 'class' => $this->CssClass)); ?>>
   <div id="Frame">
		<div id="Content">
			<?php $this->RenderAsset('Content'); ?>
		</div>
   </div>
</body>
</html>
