body {
   font: 75%/1.7em "Helvetica Neue",Helvetica,arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
   font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
   font-weight: normal;
   margin: 0;
}
p {
   margin: 0.5em 0 0 0;
   /* font-size: 110%; */
   line-height: 1.6em;
   font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
}
h1 {
   font-size: 180%;
}
h2 {
   font-size: 160%;
}
h3 {
   font-size: 140%;
}
h4 {
   font-size: 120%;
   color: #6C6C6C;
}
h5 {
   font-size: 120%;
   color: #6C6C6C;
}

/* Special formatting for anchors */
a,
a:link,
a:visited,
a:active {
   text-decoration: none;
   color: #2786c2;
}
a:hover {
   text-decoration: none;
   color: #ff0084;
}

/* Common formatting for form inputs */
input.DateBox,
input.InputBox,
textarea {
   font-family: arial;
   color: #222;
   font-size: 14px;
   padding: 3px;
   margin: 0px;
   width: 250px;
}
textarea {
   line-height: 128%;
}
select {
   font-family: arial;
   font-size: 14px;
   color: #222;
   margin: 0px;
   padding: 3px;
   }
select.Day,
select.Year {
   margin-left: 4px;
}
.Button {
   cursor: pointer;
   margin: 0px 0px 0px 0px;
   font-family: Tahoma, 'Trebuchet MS', Arial, Verdana;
   padding: 4px;
   font-size: 11px;
   background: url('button_bg2.png') repeat-x center left #f8f8f8;
   color: #555;
   border: 1px solid #bbb;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   }
input.Button {
   font-weight: bold;
}
.Button:hover {
   color: #333;
   border: 1px solid #888;
}