@import url(reset.css);

/* Begin Typography */
body {
   color: #000 /* Body Default Font Color */;
   font: 75%/1.7em "Helvetica Neue",Helvetica,arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
   font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
   font-weight: normal;
   margin: 0;
}
p {
   margin: 0.5em 0 0 0;
   /* font-size: 110%; */
   line-height: 1.6em;
   font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
}
h1, h2 {
   border-bottom:1px solid #bbb;
   font-size:140%;
   font-weight:bold;
   margin-bottom:10px;
}
h3 {
   font-size: 140%;
}
h4 {
   font-size: 120%;
   color: #6C6C6C /* Body Heading Font Color */;
}
h5 {
   font-size: 120%;
   color: #6C6C6C /* Body Heading Font Color */;
}
a,
a:link,
a:visited,
a:active {
   text-decoration: none;
   color: #2786c2 /* Body Link Font Color */;
}
a:hover {
   text-decoration: none;
   color: #ff0084 /* Body Hover Font Color */;
}
input.DateBox,
input.InputBox,
input.SmallInput,
textarea {
   font-family: arial;
   color: #222;
   font-size: 14px;
   padding: 3px;
   margin: 0px;
   width: 250px;
   border: 1px solid #888;
}
input.SmallInput,
input.InputBox {
   font-size: 15px;
   padding: 6px 3px;
}
input.SmallInput:focus,
input.InputBox:focus,
textarea:focus {
   background: #ffe;
}
textarea {
   line-height: 128%;
}
select {
   font-family: arial;
   font-size: 14px;
   color: #222;
   margin: 0px;
   padding: 3px;
   }
select.Day,
select.Year {
   margin-left: 4px;
}
.Button {
   cursor: pointer;
   margin: 0px 0px 0px 0px;
   font-family: Tahoma, 'Trebuchet MS', Arial, Verdana;
   padding: 4px;
   font-size: 11px;
   background: url('button_bg2.png') repeat-x center left #f8f8f8;
   color: #555;
   border: 1px solid #bbb;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   }
input.Button {
   font-weight: bold;
}
.Button:hover {
   color: #333;
   border: 1px solid #888;
}
/* End Typography */

/* Begin Layout */
body {
   background: #ffffff /* Body Background Color */;
   margin: 0;
   padding: 0;
   text-align: center;
   font-size: small;
   }
.Hidden {
   display: none;
}
#Head {
   background: #44c7f4 /* Banner Background Color */;
   padding: 0;
   text-align: right;
   height: 50px;
}
#Head h1 {
   display: block;
   font-weight: bold;
   margin: 0;
   padding: 21px 7px 0 0;
   border: 0;
   float: left;
}
#Head h1 a span {
   font-size: 24px;
   color:#E4F7FE;
   text-shadow:0 1px 0 #30ACD6;
}
#Head h1 a:hover span {
   color:#f3fcff;
}
div.Menu {
   text-align: right;
   width: 960px;
   margin: 0 auto;
}
ul#Menu {
   float: left;
   margin: 0 auto;
   padding: 22px 0 0 10px;
}
#Head form {
   float: right;
   width: 250px;
   background: #fff;
   padding: 0;
   margin: 15px 0 0;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
}
#Head form input.InputBox {
   width: 204px;
   border: 0;
   padding: 4px 2px 4px 0;
   background: #fff;
   margin: 0;
   -moz-border-radius-topleft: 2px;
   -moz-border-radius-bottomleft: 2px;
   -webkit-border-top-left-radius: 2px;
   -webkit-border-bottom-left-radius: 2px;
   color: #969696;
   font-size: 13px;
}
#Head form input.Button {
   border: 0;
   width: 38px;
   height: 26px;
   background: #E9F9FF /* Panel Background Color */;
   color: #2786C2 /* Panel Font Color */;
   padding: 3px 0 4px;
   margin: 0;
   -moz-border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius-topright: 2px;
   -moz-border-radius-bottomright: 2px;
   -webkit-border-top-right-radius: 2px;
   -webkit-border-bottom-right-radius: 2px;
}
#Body {
   width: 960px;
   text-align: left;
   margin: 15px auto 0 auto;
   }
#Content {
   float: left;
   width: 680px;
   margin: 0 0 40px;
}
/* Progress Bars */
.Loading {
   height: 100px;
   padding: 0 20px;
   background: url('progress.gif') center center no-repeat;
}
.Progress {
   padding: 10px 40px 10px 0;
   background: url('progress.gif') center center no-repeat;
}
/* Messages */
div.Messages {
   text-align: center;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 200;
   margin: 0 !important;
   padding: 0 !important;
   list-style: none !important;
   font-size: 12px;
   display: block;
   width: 100%;
}
* html div.Messages {
  position: absolute;
  width: 100%;/*IE5.5*/
  top: 0;
  left: 0;
  overflow: visible; 
  top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop : document.body.scrollTop);
}
div.Messages ul {
   cursor: pointer;
   width: auto !important;
   border: 0 !important;
   margin: 0 auto !important;
   padding: 4px 8px !important;
   -moz-border-radius-bottomleft: 2px;
   -moz-border-radius-bottomright: 2px;
   -webkit-border-bottom-left-radius: 2px;
   -webkit-border-bottom-right-radius: 2px;
   background: #ff9 !important;
   display:-moz-inline-stack;
   display:inline-block;
   zoom:1;
   *display:inline;
}
div.Messages ul li {
   text-align: left !important;
   border: 0 !important;
   color: #000 !important;
   padding: 0 !important;
   margin: 0 !important;
   list-style-position: outside;
}

div.Errors ul {
   background: #d50a0a !important;
}
div.Errors ul li {
   color: #fff !important;
}

.Warning {
   background: #ff9;
   color: #000;
   padding: 3px 6px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
}

/* Close buttons */
a.Close {
   font-weight: bold;
   font-family: tahoma;
   font-size: 10px;
   text-transform: uppercase;
   color: #bbb;
   background: #f9f9f9;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   padding: 1px 4px 2px 5px;
   margin: 0;
   line-height: 100%;
   border: 1px solid #ddd;
}
a.Close:hover {
   border: 1px solid #bbb;
   color: #999;
   background: #fff;
}
.Errors a.Close,
.StatusMessage a.Close {
   float: right;
   color: #e4c100;
   background: #ffffa4;
   padding: 2px 4px 3px 5px;
   margin: 2px 0 0;
   display: block;
   border: 1px solid #ffd800;
}
.Errors a.Close {
   background: #e11414;
   border: 1px solid #b00;
   color: #ff6;
}
.Errors a.Close:hover {
   color: #ff0;
   background: #d11;
   border: 1px solid #a00;
}
.StatusMessage a.Close:hover {
   background: #ffffe2;
}

/* Panels */
#Panel {
   width: 250px;
   float: right;
}
/* Panel Boxes */
div.Box {
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   background: #e9f9ff /* Panel Background Color */;
   color: #999;
   padding: 6px 10px;
   margin: 0 0 10px 0;
}
div.Box h4 {
   font-size: 110%;
   color: #2786c2 /* Panel Font Color */;
   font-weight: bold;
   margin: 0;
   padding: 0 0 1px;
   border-bottom: 1px solid #caf0fe /* Panel Inlay Border Color */;
}
div.Box dl {
   border-bottom: 1px solid #caf0fe;
   background: #f0fbff;
   padding: 3px;
   font-size: 90%;
   overflow: hidden;
}
div.Box dl dt {
   float: left;
   width: 80px;
   color: #0766a2;
}
div.Box dl dd {
   margin-left: 80px;
}
div.Box p {
   font-size: 100%;
   padding: 0 0 4px;
   color: #555 /* Body Text Font Color */;
}

/* Panel Info */
ul.PanelInfo li {
   background: #f5fcff /* Panel Inlay Background Color */;
   border-bottom: 1px solid #caf0fe /* Panel Inlay Border Color */;
   padding: 2px 4px;
   font-family: tahoma;
   font-size: 80%;
   text-align: right;
}
ul.PanelInfo li h2 {
   text-align: left;
   display: inline;
   font-size: 130%;
   margin-right: 12px;
}
ul.PanelInfo li a {
   float: left;
}
ul.PanelInfo li.Active {
   background: #fff /* Panel Selected Background Color */;
   border-bottom: 1px solid #a3e6ff /* Panel Inlay Border Color */;
}
 
ul.PanelInfo li.Active a {
   color: #2786C2 /* Panel Selected Font Color */;
}

/* Foot */
#Foot {
   padding-top: 20px;
   clear: both;
}


/* Pager */
.MorePager {
   list-style: none;
   margin: 1px 0 0;
   padding: 3px 6px;
   text-align: right;
   background: #e9f9ff;
   }
.MorePager a {
   font-size: 13px;
   font-weight: bold;
   text-align: right;
}
.MorePager a:hover {
   color: #2786c2 !important;
   text-decoration: underline;
}
#PagerLess {
   margin-bottom: 1px;
}
tr#PagerMore td {
   border: 0;
   text-align: right;
}


/* DataList (search results, vanilla discussions, drafts, etc) */
ul.DataList li {
   margin: 0;
   padding: 0 0 4px 0;
   border-bottom: 1px solid #dbe3e6;
}
ul.DataList li li {
   border: 0;
   padding: 0;
}
ul.DataList,
ul.DataList li ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
ul.DataList li ul li.Title {
   float: left;
   width: 560px;
}
ul.DataList li ul li.Meta {
   clear: both;
}
ul.DataList li ul li.Title a {
   border-left: 2px solid #dbe3e6;
   margin: 8px 4px 6px 10px;
   padding: 0 0 0 8px;
   line-height: 130%;
   color: #2b3033 /* Body Link Font Color */;
   font-size: 105%;
   display: block;
}
ul.DataList li ul li.Title h3 {
   padding: 6px 0 0 6px;
   margin: 0;
   font-size: 110%;
   font-weight: bold;
}
ul.DataList li ul li.Title h3 a {
   display: inline;
   border: 0;
   padding: 0;
   margin: 0;
   color: #2d7bb2 /* Body Link Font Color */;
}
ul.DataList li ul li.Meta {
   font-family: tahoma;
   margin-left: 5px;
   font-size: 80%;
   color: #80828c /* Meta Label Font Color */;
}
ul.DataList li ul li.Meta span,
ul.DataList li ul li.Meta span a,
ul.DataList li ul li.Meta strong {
   margin-right: 12px;
}
ul.DataList li ul li.Meta strong {
   background: #ff0;
   padding: 2px 4px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
}
ul.DataList li ul li.Meta a {
   color: #2b2d33 /* Meta Font Color */;
}
li.DiscussionRow ul.Discussion {
   /* Fixes an IE7 Spacing issue */
   display: inline !important;
}

/* Announcements */
ul.Announcements {
   padding: 0 0 20px;
}


/* Vanilla Discussion List Colors
Classes applied to List Items are:
Bookmarked: the user has bookmarked that topic
Announcement: the discussion has been announced
Mine: the user created the discussion
New: there are new comments since the last viewed the discussion
*/
.Mine { background: #F5FCFF; }
li.New { background: #ffd; }
ul.DataList li ul li.Meta a.Category {
   background: #fafafa;
   padding: 2px 4px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
}
ul.DataList li.Mine ul li.Meta a.Category {
   background: #fafdff;
}
ul.DataList li.New ul li.Meta a.Category {
   background: #ffe;
}

/* Vanilla Categories */

.Categories {
   list-style: none;
   margin: 0;
   padding: 0;
}
body.Discussions h1,
body.Categories h1,
body.Categories #Content h2 {
   margin: 0;
}
h1 span {
   color: #555 /* Body Text Font Color */;
   padding: 0 4px;
   font-size: 70%;
}
body.Categories h1 a {
   color: #000;
}
.More {
   list-style: none;
   margin: 1px 0 20px;
   padding: 3px 6px;
   text-align: right;
   background: #e9f9ff;
   }
.More a {
   font-size: 13px;
   font-weight: bold;
   text-align: right;
}
.More a:hover {
   color: #2786c2 !important;
   text-decoration: underline;
}

/* CommentOption is presented to the user in place of the add comment form when they don't have a valid session. */

.CommentOption {
   margin: 1px 0 0;
   padding: 3px 6px;
   background: #e9f9ff;
   color: #555 /* Body Text Font Color */;
}

/* Back is the same as MorePager... */
.Back {
   margin: 0;
   padding: 3px 6px;
   text-align: right;
   background: #e9f9ff /* Panel Background Color */;
   margin-top: 1px;
   }
.Back a {
   color: #2786C2 /* Panel Font Color */;
   font-size: 12px;
   font-weight: normal;
   text-align: right;
}
.Back a:hover {
   color: #2786c2 /* Panel Font Color */ !important;
   text-decoration: underline;
}
.Back {
   text-align: left;
   -moz-border-radius-bottomright: 2px;
   -moz-border-radius-bottomleft: 2px;
   -webkit-border-bottom-right-radius: 2px;
   -webkit-border-bottom-left-radius: 2px;
}


#Panel a.Bookmark,
a.NewDiscussion {
   padding: 6px 0;
   display: block;
   text-align: center;
   font-size: 16px;
   font-weight: bold;
   -moz-border-radius: 2px;
   -webkig-border-radius: 2px;
   background: #44c7f4 /* Banner Background Color */;
   color: #fff /* Banner Font Color */;
   text-decoration: none;
   margin: 0 0 10px 0;
}
a.NewDiscussion:hover {
   background: #11e420 /* Menu Hover Background Color */;
   color: #fff /* Menu Hover Font Color */;
}
#Panel a.Bookmark {
   background: #9f0;
   color: #fff;
}
#Panel a.Bookmark:hover {
   background: #ff6b39;
   color: #fff;
}

/* Vanilla Drafts */
body.Drafts h1 {
   margin: 0;
}
ul.Drafts li ul {
   display: inline;
}
ul.Drafts li ul li.Title {
   float: none;
   width: auto;
}
ul.Drafts li ul li.Title h3 {
   float: left;
   margin: 0 0 2px;
}
ul.Drafts li ul li.Title a.DraftCommentLink {
   clear: left;
   display: block;
}
ul.Drafts li ul li.Title a.DeleteDraft {
   float: right;
   width: auto;
   padding: 4px;
   margin: 3px 1px 0 0;
   font-family: Tahoma, 'Trebuchet MS', Arial, Verdana;
   font-size: 10px;
   font-weight: normal;
   background: url('button_bg2.png') repeat-x center left #f8f8f8;
   border: 1px solid #bbb;
   -moz-border-radius: 2px;
   -webkig-border-radius: 2px;
   color: #555 /* Body Text Font Color */;
   cursor: pointer;
   line-height: 100%;
}
ul.Drafts li ul li.Topic a.DeleteDraft:hover {
   color: #333;
   border: 1px solid #888;
}

/*
  Discussion/Comment Option (dropdown) Menu customizations
  (the layout css for these is in /applications/garden/design/menu.css)
*/
a.Bookmark,
a.Bookmarking {
   float: right;
   display: block;
   background: url('star_light.png') center center no-repeat;
   height: 22px;
   width: 22px;
   margin: 2px 2px 0 4px;
}
a.Bookmark span,
a.Bookmarking span {
   display: none;
}
a.Bookmarked {
   background: url('star_yellow.png') center center no-repeat;
}
a.Bookmarking {
   background: url('star_blue.png') center center no-repeat;
}
ul.Discussion li.Options {
   float: right;
	height: 22px;
	width: 120px;
}
ul.Options li.Parent strong {
   display: block;
   padding: 4px;
   margin: 3px 4px 0 0;
   font-family: Tahoma, 'Trebuchet MS', Arial, Verdana;
   font-size: 10px;
   font-weight: normal;
   background: url('button_bg2.png') repeat-x center left #f8f8f8;
   border: 1px solid #bbb;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   color: #555;
   cursor: pointer;
   line-height: 100%;
}
ul.Options li.Parent strong:hover {
   color: #333;
   border: 1px solid #888;
}
ul.Options li.Active strong:hover,
ul.Options li.Active strong {
   color: #fff;
   background: #9c9c9c !important;
   border: 1px solid #9c9c9c;
   -moz-border-radius-bottomleft: 0;
   -moz-border-radius-bottomright: 0;
   -webkit-border-bottom-left-radius: 0;
   -webkit-border-bottom-right-radius: 0;
}
ul.Options li {
   float: right;
}
ul.Options li.Active {
   background: none;
}
ul.Options li.Active ul {
   border: 1px solid #9c9c9c;
   background: #fafafa;
   -moz-border-radius-bottomleft: 2px;
   -moz-border-radius-bottomright: 2px;
   -webkit-border-bottom-left-radius: 2px;
   -webkit-border-bottom-right-radius: 2px;
}
ul.Options li.Active ul li a {
   background: none;
}
ul.Options li.Active a {
   color: #595959;
}
ul.Options li.Active a:hover {
   background: #8d8d8d;
   color: #fff;
}


/* Panel Discussions */
ul.PanelDiscussions li {
   background: #f5fcff /* Panel Inlay Background Color */;
   border-bottom: 1px solid #caf0fe /* Panel Inlay Border Color */;
   padding: 2px 4px;
}
ul.PanelDiscussions li strong {
   font-weight: bold;
   display: block;
}
ul.PanelDiscussions div.Meta {
   font-size: 90%;
}
ul.PanelDiscussions div.Meta span,
ul.PanelDiscussions div.Meta strong {
   margin-right: 8px;
}
ul.PanelDiscussions div.Meta span a {
   margin-left: 8px;
}
ul.PanelDiscussions div.Meta strong {
   font-weight: normal;
   display: inline;
   color: #80828C;
   background: #ff6;
   padding: 0 2px;
}

/* Vanilla Comments */

body.Discussion #Content {
   margin-bottom: 20px;
}
body.Discussion #Content h2 {
   font-size:140%;
   font-weight:bold;
   margin: 0;
   color: #333 /* Body Heading Font Color */;
   padding: 6px 0;
   line-height: 1;
}
body.Discussion #Content h2 span {
   padding: 0 10px;
   color: #777;
   font-size: 12px;
}

.Preview,
.Preview li,
.Preview ul,
.Preview ul li,
#Discussion,
#Discussion li,
#Discussion ul,
#Discussion ul li {
   list-style: none;
   margin: 0;
   padding: 0;
}
#Discussion {
   margin-bottom: 1px;
}
#Discussion .Comment {
   border-bottom: 1px solid #ddd;
}
/* Fixes IE 7 Glitch */
*:first-child+html #Discussion .Comment {
   overflow: hidden;
}
.Preview li ul.Info,
#Discussion li ul.Info {
   font-size: 11px;
   color: #777;
   padding: 8px 0 0 8px;
}
.Preview li ul.Info {
   padding: 0;
}
.Preview li ul.Info li.Author img,
#Discussion li ul.Info li.Author img {
   height: 40px;
   width: 40px;
   border: 0;
   margin: 0 10px 0 0;
   float: left;
}
.Preview li ul.Info li,
#Discussion li ul.Info li {
   display: inline;
   line-height: 2.5;
}
.Preview li ul.Info li.Created,
#Discussion li ul.Info li.Created,
#Discussion li ul.Info li.Permalink {
   padding-left: 10px;
}
.Preview li ul.Info li.Author a,
#Discussion li ul.Info li.Author a {
   font-size: 15px;
   font-weight: bold;
}
.Preview li .Body,
#Discussion li .Body {
   clear: both;
   padding: 1px 8px 2px;
   line-height: 170%;
   font-size: 110%;
   color: #454545 /* Body Text Font Color */;
}
.Body p {
   margin: 8px 0;
}
.Body code,
.Body pre {
   display: block;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   background: #ff9;
   padding: 4px 8px;
   white-space: pre;
   font-family: monospace;
   overflow: auto;
}
.Body strong {
   font-weight: bold;
}
.Body em {
   font-style: oblique;
}

#Discussion fieldset,
#Discussion form {
   margin: 0;
   padding: 0;
}

/* Comment Preview */
div.Popup ul.Preview li.Comment {
   padding: 0;
}
div.Popup ul.Preview li.Comment div.Body {
   min-height: 53px;
}

#PagerMore {
   margin-bottom: 1px;
}

/* Comment Form */
#CommentForm {
   background: #e9f9ff /* Panel Background Color */;
   padding: 8px;
}
div.Popup #CommentForm {
   background: none;
   border: 0;
   padding: 0;
}
#CommentForm h3 {
   font-size: 115%;
   color: #2786C2 /* Panel Font Color */;
   font-weight: bold;
}
div.Popup #CommentForm h3 {
   color: #000;
}
#CommentForm textarea {
   width: 650px;
   height: 100px;
   min-height: 100px;
   margin: 0 0 6px;
}
div.Popup #CommentForm textarea {
   width: 470px;
   max-height: 500px;
}
#CommentForm input.Button,
#DiscussionForm input.Button {
   margin-right: 6px;
}

body.Post #Panel {
   display: none;
}
body.Post #Content {
   width: auto;
}
body.Post #CommentForm,
#DiscussionForm {
   border: 0;
   background: #daf4fd;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   padding: 8px 10px 10px;
}
#CommentForm label.Heading,
#DiscussionForm label.Heading {
   font-weight: bold;
   font-size: 120%;
   color: #2786c2 /* Panel Font Color */;
   line-height: 100%;
   display: block;
   margin-bottom: 4px;
}
body.Post #CommentForm textarea,
#DiscussionForm textarea {
   width: 930px;
   height: 100px;
   min-height: 100px;
   max-height: 400px;
   margin: 0 0 6px;
}
#DiscussionForm input.InputBox {
   width: 930px;
   margin-bottom: 10px;
}
#DiscussionForm div.Category {
   padding: 0 0 10px;   
}
#DiscussionForm div.Category label {
   padding: 0 8px 0 0;
}
a.Cancel {
   margin-left: 20px;
}
#DiscussionForm ul {
   margin: 0 0 8px;
}
#DiscussionForm ul.PostOptions li {
   display: inline;
   padding: 0 8px 0 0;
}
#DiscussionForm ul.PostOptions label {
   display: inline;
   font-weight: normal;
   font-size: 95%;
   color: #555 /* Body Text Font Color */;
}

/* Panel Boxes */

#Panel ul.Discussions {
   border: 0;
}

/* Powered by Vanilla Footer */

#Foot {
   text-align: center;
   margin: 8px 0;
}
#Foot div {
   display: inline;
   font-family: 'lucida grande','helvetica neue',helvetica,arial,sans-serif;
   padding: 4px 9px;
   font-size: 13px;
   color: #ddd;
   background: #f8f8f8;
   -moz-border-radius: 20px;
   line-height: 1;
   border: 1px solid #eee;
}
#Foot a {
   color: #ccc;
}
#Foot a:hover {
   color: #aaa;
}

/* Info blocks */
div.Info {
   font-size: 13px;
   background: #fafafa;
   border: 1px solid #eee;
   color: #888;
   -moz-border-radius: 4px;
   padding: 6px;
   margin: 0 0 10px;
}

/* Dismiss Messages */

a.DismissMessage {
   font-size: 11px;
   line-height: 1;
   float: right;
   background: #fafafa;
   padding: 4px;
   border: 1px solid #eee;
   -moz-border-radius: 2px;
   color: #aaa;
   margin: 4px;
}
a.DismissMessage:hover {
   background: #fafafa;
   border: 1px solid #ddd;
   color: #777;
}

/* End Typography */