// Vanillicon Icons
// -----------------------------------------------------------------------------
// Font Vanillicon uses the Unicode Private Use Area (PUA) to ensure screen
// readers do not read off random characters that represent icons

$icon-adjust: "\f100";
$icon-agree: "\f101";
$icon-align-center: "\f102";
$icon-align-justify: "\f103";
$icon-align-left: "\f104";
$icon-align-right: "\f105";
$icon-angry: "\f106";
$icon-archive: "\f107";
$icon-arrow-down: "\f108";
$icon-arrow-left: "\f109";
$icon-arrow-right: "\f10a";
$icon-arrow-up: "\f10b";
$icon-ban: "\f10c";
$icon-bar-chart: "\f10d";
$icon-bell: "\f10e";
$icon-bold: "\f10f";
$icon-bookmark: "\f110";
$icon-bookmark-empty: "\f111";
$icon-bug: "\f112";
$icon-bullhorn: "\f113";
$icon-bullseye: "\f114";
$icon-calendar: "\f115";
$icon-camera: "\f116";
$icon-caret-down: "\f117";
$icon-caret-left: "\f118";
$icon-caret-right: "\f119";
$icon-caret-up: "\f11a";
$icon-certificate: "\f11b";
$icon-check: "\f11c";
$icon-check-empty: "\f11d";
$icon-check-sign: "\f11e";
$icon-chevron-down: "\f11f";
$icon-chevron-left: "\f120";
$icon-chevron-right: "\f121";
$icon-chevron-sign-down: "\f122";
$icon-chevron-sign-left: "\f123";
$icon-chevron-sign-right: "\f124";
$icon-chevron-sign-up: "\f125";
$icon-chevron-up: "\f126";
$icon-circle: "\f127";
$icon-circle-blank: "\f128";
$icon-cloud: "\f129";
$icon-cloud-download: "\f12a";
$icon-cloud-upload: "\f12b";
$icon-code: "\f12c";
$icon-cog: "\f12d";
$icon-cogs: "\f12e";
$icon-collapse: "\f12f";
$icon-collapse-top: "\f130";
$icon-comment: "\f131";
$icon-comments: "\f132";
$icon-compass: "\f133";
$icon-compose: "\f134";
$icon-crown: "\f135";
$icon-dashboard: "\f136";
$icon-discussion: "\f137";
$icon-dot-circle: "\f138";
$icon-dropbox: "\f139";
$icon-edit: "\f13a";
$icon-edit-sign: "\f13b";
$icon-ellipsis: "\f13c";
$icon-exclamation-sign: "\f13d";
$icon-expand: "\f13e";
$icon-external-link: "\f13f";
$icon-eye-close: "\f140";
$icon-eye-open: "\f141";
$icon-facebook: "\f142";
$icon-facebook-alt: "\f143";
$icon-file: "\f144";
$icon-file-text: "\f145";
$icon-filter: "\f146";
$icon-flag: "\f147";
$icon-flame: "\f148";
$icon-folder-close: "\f149";
$icon-folder-open: "\f14a";
$icon-font: "\f14b";
$icon-frown: "\f14c";
$icon-gift: "\f14d";
$icon-github: "\f14e";
$icon-globe: "\f14f";
$icon-google-plus: "\f150";
$icon-google-plus-alt: "\f151";
$icon-group: "\f152";
$icon-hand-down: "\f153";
$icon-hand-left: "\f154";
$icon-hand-right: "\f155";
$icon-hand-up: "\f156";
$icon-heart: "\f157";
$icon-home: "\f158";
$icon-inbox: "\f159";
$icon-indent-left: "\f15a";
$icon-indent-right: "\f15b";
$icon-info-sign: "\f15c";
$icon-italic: "\f1ba";
$icon-jail: "\f15e";
$icon-key: "\f15f";
$icon-lightbulb: "\f160";
$icon-link: "\f161";
$icon-linkedin: "\f162";
$icon-linkedin-alt: "\f163";
$icon-list-ol: "\f164";
$icon-list-ul: "\f165";
$icon-lock: "\f166";
$icon-lol: "\f167";
$icon-mail: "\f168";
$icon-mail-open: "\f169";
$icon-map-marker: "\f16a";
$icon-meh: "\f16b";
$icon-menu: "\f16c";
$icon-minus-sign: "\f16d";
$icon-mobile-phone: "\f16e";
$icon-mod: "\f16f";
$icon-note: "\f170";
$icon-ok: "\f171";
$icon-ok-circle: "\f172";
$icon-ok-sign: "\f173";
$icon-paper-clip: "\f174";
$icon-paragraph: "\f175";
$icon-pencil: "\f176";
$icon-permalink: "\f177";
$icon-picture: "\f178";
$icon-pinterest: "\f179";
$icon-pinterest-alt: "\f17a";
$icon-play-circle: "\f17b";
$icon-plus-sign: "\f17c";
$icon-poll: "\f17d";
$icon-preview: "\f17e";
$icon-pushpin: "\f17f";
$icon-question: "\f180";
$icon-question-sign: "\f181";
$icon-quote: "\f182";
$icon-refresh: "\f183";
$icon-remove: "\f184";
$icon-remove-sign: "\f185";
$icon-repeat: "\f186";
$icon-reply: "\f187";
$icon-reply-all: "\f188";
$icon-report: "\f189";
$icon-resize-full: "\f18a";
$icon-resize-small: "\f18b";
$icon-retweet: "\f18c";
$icon-rss: "\f18d";
$icon-search: "\f18e";
$icon-select: "\f18f";
$icon-share: "\f190";
$icon-shield: "\f191";
$icon-sign-blank: "\f192";
$icon-signin: "\f193";
$icon-signout: "\f194";
$icon-skull: "\f195";
$icon-smile: "\f196";
$icon-source: "\f197";
$icon-spam: "\f198";
$icon-star: "\f199";
$icon-star-empty: "\f19a";
$icon-star-half-empty: "\f19b";
$icon-steam: "\f19c";
$icon-strikethrough: "\f19d";
$icon-subscript: "\f19e";
$icon-superscript: "\f19f";
$icon-table: "\f1a0";
$icon-tag: "\f1a1";
$icon-tags: "\f1a2";
$icon-th: "\f1a3";
$icon-th-large: "\f1a4";
$icon-th-list: "\f1a5";
$icon-thumbs-down: "\f1a6";
$icon-thumbs-up: "\f1a7";
$icon-ticket: "\f1a8";
$icon-time: "\f1a9";
$icon-trash: "\f1aa";
$icon-troll: "\f1ab";
$icon-trophy: "\f1ac";
$icon-twitter: "\f1ad";
$icon-twitter-alt: "\f1ae";
$icon-underline: "\f1af";
$icon-undo: "\f1b0";
$icon-unlink: "\f1b1";
$icon-unlock: "\f1b2";
$icon-user: "\f1b3";
$icon-vcard: "\f1b4";
$icon-video: "\f1b5";
$icon-warn: "\f1b6";
$icon-warning-sign: "\f1b7";
$icon-wtf: "\f1b8";
$icon-zendesk: "\f1b9";
