h1, h2, h3, h4, h5, h6 {
	color:#1C2A47;
	font-family: 'lucida grande','Lucida Sans Unicode', tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
ul.Conversations div.Meta a.Name,
a,
a:link,
a:visited,
a:active,
ul.Conversations div.Meta a.Name:hover,
a:hover {
   text-decoration: none;
	color: #3B5998;
}
#Body {
	margin: 0;
	position: relative;
	width: 100%;
	clear: left;
}
#Head {
	background: #3B5998;
	padding: 0;
	margin: 0;
	text-align: left;
	position: relative;
}
#Content {
	float: none;
	width: auto;
	margin: 0;
	position: relative;
}
#Panel {
	display: none;
}


/* Popups */
div.Popup h1,
div.Popup h2 {
	background: #3b5998;
	border: none;
}
a.Close {
	color: #EDEFF4;
}
body.Post a.Close {
	color: inherit;	
}

/* Banner */
.Banner {
	padding: 0;
	text-align: left;
	position: relative;
}
.Banner ul {
	background: #3B5998;
	padding: 0;
	margin: 0;
	width: 100%;
	float: left;
}
.Banner ul li {
	display: block;
	padding: 0;
	margin: 0;
	float: left;
}
.Banner ul li a {
	font-weight: bold;
	padding: 3px 6px;
	font-size: 11px;
	color: #fff;
	display: block;
}
.Banner ul li a:hover {
	background: #4b67a1;
}
.Banner ul li a.NewDiscussion em,
.Banner ul li a.NewConversation em {
	display: none;
}
.Banner ul li a.NewDiscussion,
.Banner ul li a.NewConversation {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px 6px 4px;
	display: block;
	border-left: 1px solid #627AAD;
}
.Banner ul li.Connect,
.Banner ul li.SignInItem {
	float: right;
}
.Banner ul li.SignInItem a {
	padding-left: 6px;
	padding-right: 6px;
	border-left: 1px solid #627AAD;
}
.Banner ul li.Connect a {
	line-height: 1;
	padding: 3px 2px;
}

.Banner ul li a.NewDiscussion img,
.Banner ul li a.NewConversation img {
	vertical-align: middle;
}
.Banner ul li a span {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 1px 2px 0 1px;
	background: #f00;
	border-right: 1px solid #a00;
	border-bottom: 1px solid #a00;
	color: #fff;
	font-size: 9px;
	position: relative;
	top: -3px;
	line-height: 1;
}

/* Activities */
form.Activity textarea,
body.Entry input.DateBox,
body.Entry input.InputBox,
body.Entry textarea,
#ConversationForm textarea.MultiComplete,
#ConversationForm .TextBox,
#MessageForm textarea,
div.Comment div.CommentForm,
div.Comment div.CommentForm textarea,
div.CommentForm textarea,
#DiscussionForm input.InputBox,
#DiscussionForm textarea {
	width:98%;
}
input.DraftButton,
input.PreviewButton {
	display: none;
}
div.Preview div.Message,
ul.MessageList div.Message {
	clear: none;
}

/* Tabs & Profile */
body.Profile #Body {
	background: #EDEFF4;
}
body.Profile #Panel {
	display: block;
	float: none;
	margin: 0;
}
div.Photo {
	max-width: 60%;
	float: left;
	margin: 6px;
}
div.User {
	padding: 6px 6px 0 6px;
}
div.Photo img {
	width: 100%;
	display: block;
}
#Status {
	line-height: 1.2;
	color: #555;
	background: none;
	padding: 0;
}
body.Profile #Content {
	float:none;
	width: auto;
	margin: 0;
}
div.Tabs,
#UserOptions,
body.Profile #Panel div.Box,
body.Discussion div.HeadingTabs ul {
	display: none;
}
body.Discussion div.HeadingTabs {
	display: block;
}
body.Discussion div.HeadingTabs div.SubTab {
	line-height: normal;
	margin: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
div.ProfileTabs {
	display: block;
	background: transparent;
	padding: 6px 0 0;
	border-bottom: 1px solid #BEC8CC;
	clear: both;
}
div.Tabs ul {
	padding: 0 6px;
	white-space: nowrap;
}
div.MessageForm {
	padding: 8px 8px 5px;
}
div.MessageForm div.Tabs {
	padding: 0 8px;
}
div.Tabs li a,
div.Tabs li a:link,
div.Tabs li a:hover,
div.Tabs li a:active,
div.Tabs li a:visited {
	font-size: 11px;
	line-height: 11px;
   margin: 0;
   border: none;
   border-radius: 3px 3px 0 0;
   -moz-border-radius: 3px 3px 0 0;
   -webkit-border-radius: 3px 3px 0 0;
   background: #D8DFEA;
   text-decoration: none;
   padding: 4px 10px 5px;
	color: #3B5998;
}
div.Tabs li a:hover {
   text-decoration: underline;
}
a.Active,
div.Tabs li.Active a {
   background: #fff;
   margin: 0;
   border: 1px solid #BEC8CC;
	border-bottom: none;
   display: inline-block;
   font-weight: bold;
   text-decoration: none;
   padding: 6px 10px;
	position: relative;
	top: 1px;
}
div.Tabs li a span {
   line-height: 1;
   font-size: 80%;
   padding: 0 3px;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   font-weight: normal;
	background: #E3F4FF;
   color: #70727C;
   margin: 0 0 0 4px;
}
form.Activity {
	background: #fff;
	padding-bottom: 10px;
	border-bottom: 1px solid #D8DFEA;
}
body.Profile ul.Activities {
	background: #fff;
	margin: 0;
	border-top: none;
}
ul.Activities div.ItemContent {
	max-width: none;
}
ul.Activities li.Item {
	padding: 4px 6px;
}
ul.Activities div.Photo {
	margin: 2px 0 0;
}
ul.Activities div.Excerpt a,
ul.Activities div.Meta a {
	color: #3B5998;
}
ul.DataList div.OptionButton {
	display: none;
}
body.Profile .Loading {
	background-color: #fff;
	border-bottom: 1px solid #BEC8CC;
}



/*
div.DiscussionsTabs div.SubTab {
	font-size: 11px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-top: 1px solid #aaa;
	background: #f3f3f3;
	margin:0;
	padding:4px 8px;
}
div.HeadingTabs ul {
	margin: 8px 0 0;
}
*/
body.Discussion a.Bookmark {
	display: none;
}
div.Preview {
	border: 1px solid #aaa;
	background: #fff;
	margin:0 0 8px;
	padding: 8px;
}
a.TabLink,
a.TabLink:link,
a.TabLink:visited,
a.TabLink:active,
a.TabLink:hover,
div.MorePager a,
div.MorePager a:link,
div.MorePager a:visited,
div.MorePager a:active,
div.MorePager a:hover {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: none;
	border: none;
	color: #3B5998;
	line-height: 1;
	padding: 3px 6px;
	text-decoration: none;	
}

/* Entry Pages */
body.Entry #Content {
	float:none;
	margin:0 auto;
	text-align:center;
	width:auto;
	background: #EDEFF4;
}
body.Entry #Content div.Box {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background: transparent;
	border-bottom: none;
	margin: 0;
	padding: 10px;
}
body.Entry #Content form {
	padding: 0 6px 6px;
}
div.MultipleEntryMethods {
	width: 290px;
}
body#dashboard_entry_password div.Methods,
body#dashboard_entry_signin div.Methods,
div.Methods {
	background: #D3D8E7;
	border-left: none;
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	font-size: 14px;
	color: #02475A;
	font-weight: bold;
	text-align: left;
}
div.Methods div.Method {
	padding: 10px 3px 0;
}

/* Messages */
div.Errors ul,
div.Popup div.Errors ul {
	border: 1px solid #a00 !important;
}
div.Messages,
div.Popup div.Messages {
   text-align: left;
   position: inherit;
   top: auto;
   left: auto;
   z-index: auto;
	margin: 10px 0 !important;
}
div.Messages {
	margin: 0 !important;
}
div.Messages ul,
div.Popup div.Messages ul {
	display: block;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
* html div.Messages,
* html div.Popup div.Messages {
  position: inherit;
  width: auto;
  top: auto;
  left: auto;
  overflow: auto; 
}
div.DismissMessage {
	color: #000;
	background: #ffd;
	border-bottom: 1px solid #ccc;
	padding:6px 8px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	margin: 0;
}
div.DismissMessage a.Dismiss:hover {
	color: #000;
}
div.Warning {
	background: #d00;
	border: none;
	border-bottom: 1px solid #b00;
	color: #fff;
	text-shadow: 1px 1px 1px #444;
}
div.Warning a.Dismiss {
	color: #fff;
}
#Content div.Box {
	color: #000;
	background: #D3F0FF;
	border: none;
	border-bottom: 1px solid #A5D0E7;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

/* Discussions */
ul.Discussions {
	background: #fff;
}
ul.Discussions div.Meta span.Author {
	font-weight: bold;
	margin-right: 8px;
}
ul.Discussions div.Meta span.LastCommentBy,
ul.Discussions div.Meta span.LastCommentDate {
	margin-right: 0;
}
ul.DataList div.Options {
	display: none;
}
ul.DataList a.Title {
	display: inline;
	margin: 0 10px 0 0;
}
.Mine {
	background: #EDEFF4;
}
body.Profile ul.Discussions .Mine {
	background: #fff;
}
ul.DataList span.Counts,
body.Profile ul.DataList .Mine span.Counts {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 2px;
	background: #EDEFF4;
	color: #3B5998;
	font-size: 11px;
	line-height: 1;
}
ul.DataList .Mine span.Counts {
	background: #fff;
}
ul.DataList span.NewCounts,
ul.DataList .Mine span.NewCounts {
	background: #ff0;
}
ul.Discussions li img {
	height: 45px;
	width: 45px;
	padding: 0 6px 0 4px;
	float: left;
}
ul.Discussions div.ItemContent, ul.Drafts div.ItemContent {
	margin: 0 0 0 4px;
}
div.MessageForm,
#DiscussionForm,
#ConversationForm,
#MessageForm {
	margin: 0;
	border:0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: #F2F2F2;
	border-bottom: 1px solid #BEC8CC;
}
#DiscussionForm form,
#ConversationForm form {
	border: none;
	background: transparent;
	padding: 6px;
}
#DiscussionForm h2,
#MessageForm h2,
#ConversationForm h2 {
	display: none;
}
.NumberedPager,
#PagerMore,
#PagerAfter {
	margin: 0;
	padding: 3px 0;
	border-bottom: 1px solid #BEC8CC;
}
ul.Discussion,
body.Discussion #Content {
	margin-bottom: 0;
}
.Foot {
	background: none;
	border-bottom: 1px solid #BEC8CC;
}
li.Editing {
	background: #EDEFF4;
}
div.MorePager {
	text-align: center;
	font-size: 14px;
	line-height: 2;
}

/* Foot */
#Foot {
	border-bottom: 1px solid #BEC8CC;
}
#Foot div {
	width: auto;
	margin: 0;
}
#Foot {
	font-size: 11px;
	margin: 0;
	background: #f8f8f8;
}
div.FootMenu {
	position: absolute;
	margin: 6px 0 0;
	right: 6px;
}
div.FootMenu span {
	color: #444;
	margin-left: 6px;
}
#Foot a.SignIn {
	color: #3B5998;
}

/* Autocomplete */
.ac_results {
   border: 1px solid #d7d8da;
	color: #000;
   border-top: 0;
   background-color: white;
}
.ac_results li {
   border-bottom: 1px solid #d7d8da;
}
.ac_lastitem {
   border-bottom: 0 !important;
}
.ac_results strong {
   background: #dbe1ec;
}
.ac_over strong {
   background: #5670a6;
}
.ac_over {
   background: #3b5998;
   color: #fff;
}