body {
   -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color:#1C2A47;
	font-family: 'lucida grande','Lucida Sans Unicode', tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
ul.Conversations .Meta a.Name,
a,
ul.Conversations .Meta a.Name:hover,
a:hover {
   text-decoration: none;
	color: #3B5998;
}
#Body {
	padding: 3px;
	position: relative;
	width: auto;
	clear: left;
}
.BreadcrumbsWrapper {
   margin: 6px 3px;
   font-size: 11px;
   color: #888;
}
.Breadcrumbs a {
   color: #555;
}
#Head {
	background: #3B5998;
	padding: 0;
	margin: 0;
	text-align: left;
	position: relative;
}
#Content {
	float: none;
	width: auto;
	margin: 0;
	position: relative;
}
/* Hide Stuff */
.DraftButton,
.PreviewButton,
input.DraftButton,
input.PreviewButton,
.CheckBoxColumn,
.HomepageTitle,
#Panel {
	display: none;
}
a.Close {
	color: #555;
}
body.Post a.Close {
	color: inherit;
}

/* Banner */
.Banner {
	padding: 0;
	text-align: left;
	position: relative;
}
.Banner ul {
	background: #3B5998;
	padding: 0;
	margin: 0;
	width: 100%;
	float: left;
}
.Banner ul li {
	display: block;
	padding: 0;
	margin: 0;
	float: left;
}
.Banner ul li a {
	font-weight: bold;
	padding: 3px 6px;
	font-size: 11px;
	color: #fff;
	display: block;
}
.Banner ul li a:hover {
	background: #4b67a1;
}
.Banner ul li a.NewDiscussion em,
.Banner ul li a.NewConversation em {
	display: none;
}
.Banner ul li a.NewDiscussion,
.Banner ul li a.NewConversation {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px 6px 4px;
	display: block;
	border-left: 1px solid #627AAD;
}
.Banner ul li.Connect,
.Banner ul li.SignInItem {
	float: right;
}
.Banner ul li.SignInItem a {
	padding-left: 6px;
	padding-right: 6px;
	border-left: 1px solid #627AAD;
}
.Banner ul li.Connect a {
	line-height: 1;
	padding: 3px 2px;
}

.Banner ul li a.NewDiscussion img,
.Banner ul li a.NewConversation img {
	vertical-align: middle;
}
.Banner ul li a span {
	background: #f00;
	border-right: 1px solid #a00;
	border-bottom: 1px solid #a00;
	color: #fff;
}

/* Activities */
.Preview .Message,
ul.MessageList .Message {
	clear: none;
}

#Content .BoxProfileFilter {
   display: block;
}
.Photo img {
	display: block;
}
#Status {
	line-height: 1.2;
	color: #555;
	background: none;
	padding: 0;
}
body.Profile #Content {
	float:none;
	width: auto;
	margin: 0;
}
.MessageForm {
	padding: 8px 8px 5px;
}
.MessageForm .Tabs {
	padding: 0 8px;
}
form.Activity {
	background: #fff;
	padding-bottom: 10px;
	border-bottom: 1px solid #D8DFEA;
}
body.Profile ul.Activities {
	/* background: #fff; */
	margin: 0;
	border-top: none;
}
ul.Activities .ItemContent {
	max-width: none;
}
ul.Activities li.Item {
	padding: 4px 6px;
}
ul.Activities .Photo {
	margin: 2px 0 0;
}
ul.Activities .Excerpt a,
ul.Activities .Meta a {
	color: #3B5998;
}
body.Profile .Loading {
	background-color: #fff;
	border-bottom: 1px solid #BEC8CC;
}
.DataList .Item {
   padding: 4px 0;
}
body.Discussion a.Bookmark {
	display: none;
}
.Preview {
	border: 1px solid #aaa;
	background: #fff;
	margin:0 0 8px;
	padding: 8px;
}
.Pager {
   float: none;
   font-size: 120%;
   text-align: center;
}
.Pager a,
.Pager span {
   margin: 0 6px;
}

/* Entry Pages */
.MultipleEntryMethods {
	width: 290px;
}
body#dashboard_entry_password .Methods,
body#dashboard_entry_signin .Methods,
.Methods {
	background: #D3D8E7;
	border-left: none;
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	font-size: 14px;
	color: #02475A;
	font-weight: bold;
	text-align: left;
}
.Methods .Method {
	padding: 10px 3px 0;
}

/* Messages */
.Errors ul,
.Popup .Errors ul {
	border: 1px solid #a00 !important;
}
.Messages,
.Popup .Messages {
   text-align: left;
   position: inherit;
   top: auto;
   left: auto;
   z-index: auto;
	margin: 10px 0 !important;
}
.Messages {
	margin: 0 !important;
}
.Messages ul,
.Popup .Messages ul {
	display: block;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
* html .Messages,
* html .Popup .Messages {
  position: inherit;
  width: auto;
  top: auto;
  left: auto;
  overflow: auto;
}
.Warning {
	background: #d00;
	border: none;
	border-bottom: 1px solid #b00;
	color: #fff;
	text-shadow: 1px 1px 1px #444;
}
.Warning a {
	color: #fff;
   text-decoration: underline;
}
#Content .Box {
	color: #000;
	background: #D3F0FF;
	border: none;
	border-bottom: 1px solid #A5D0E7;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

/* Discussions */
ul.Discussions {
	background: #fff;
}
ul.Discussions .Meta span.Author {
	font-weight: bold;
}
.MItem {
    margin-left: 4px;
    margin-right: 4px;
}
ul.DataList a.Title {
	display: inline;
	margin: 0 10px 0 0;
}
ul.DataList span.Counts,
body.Profile ul.DataList .Mine span.Counts {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 2px;
	background: #EDEFF4;
	color: #3B5998;
	font-size: 11px;
	line-height: 1;
}
ul.DataList .Mine span.Counts {
	background: #fff;
}
ul.DataList span.NewCounts,
ul.DataList .Mine span.NewCounts {
	background: #ff0;
}
ul.Discussions li img {
	height: 45px;
	width: 45px;
	float: left;
   margin-right: 5px;
}
ul.Discussions .ItemContent, ul.Drafts .ItemContent {
	margin: 0 0 0 4px;
}
li.Editing {
	background: #EDEFF4;
}
.MorePager {
	text-align: center;
	font-size: 14px;
	line-height: 2;
}
td.BigCount.CountDiscussions {
   width: 80px; /* Fix overlap glitch in category table homepage */
}

/* Foot */
.FootMenu {
	margin: 10px 0;
}
.FootMenu span {
	color: #444;
	margin: 0 6px;
}
#Foot a.SignIn {
	color: #3B5998;
}

/* Autocomplete */
.ac_results {
   border: 1px solid #d7d8da;
	color: #000;
   border-top: 0;
   background-color: white;
}
.ac_results li {
   border-bottom: 1px solid #d7d8da;
}
.ac_lastitem {
   border-bottom: 0 !important;
}
.ac_results strong {
   background: #dbe1ec;
}
.ac_over strong {
   background: #5670a6;
}
.ac_over {
   background: #3b5998;
   color: #fff;
}
.Tag {
    background: #EDEFF4;
    color: #485F8F;
    border: solid 1px #A1AABC;
}
.Mine .Tag {
   background: #F8FAFE;
}
.Tag a {
    color: #485F8F;
}
.Tabs li a span {
   background: #F8FAFE;
   color: #485F8F;
}
.RssButton {
   display: none;
}

/* Datatable stuff */
.DataTable .BlockColumn {
   display: none;
}
td.BigCount {
   width: 70px;
}
.CategoryDescription {
   display: none;
}
.ChildCategories b {
   display: none;
}
.PageDescription {
   display: none;
}

.CommentFormWrap .Author {
    display: none;
}
.CommentForm .FormWrapper {
    padding: 10px;
}

/* Data counts */
.CountItemWrap {
    width: auto; /* Keep counts from being mushed together */
}
