@import "~swagger-ui/dist/swagger-ui.css";

.swagger-ui.swagger-ui {
    text-align: left;
    font-family: inherit !important;

    .wrapper {
        padding: 0;
        margin: 0;
    }

    // Hide this unwanted tag.
    .response-col_links {
        display: none;
    }

    // Hide unneeded inputs
    .parameters-col_description {
        input,
        select,
        [data-reach-combobox] {
            display: none;
        }
    }

    .execute-wrapper:empty {
        display: none;
    }

    thead .response-col_status {
        font-size: 12px;
    }

    tbody .response-col_status {
        padding-top: 24px;
    }

    @media (screen and max-width: 600px) {
        .table-container {
            padding-bottom: 0;
        }

        tbody tr {
            display: block;
        }

        tbody td {
            display: block;
        }

        thead {
            display: none;
        }

        .parameters-col_name {
            padding: 0;
        }

        .parameter__name {
            font-size: 18px;
        }
    }

    // Fix the margin on the example tabs
    .model-example .tab {
        margin: 0;
        margin-bottom: 10px;
    }

    .tabitem::before {
        display: none;
    }

    // Wrap the endpoint description to their own line.

    .opblock-summary-path.opblock-summary-path.opblock-summary-path {
        width: 100%;
        max-width: initial;
        line-height: 1.2;
    }

    .opblock-summary-method {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: inherit;
    }

    .opblock-summary-description {
        padding: 0 10px;
        padding-top: 1px;
        font-family: inherit;

        &:empty {
            display: none;
        }
    }

    .opblock-tag {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 12px;
        padding-left: 0;
        padding-right: 0;
        font-family: inherit;
    }

    .opblock-summary-control {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        padding-left: 105px;
        padding-right: 40px;
        min-height: 40px;

        .arrow {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }

    .parameter__name.required:after {
        white-space: nowrap;
    }

    .authorization__btn {
        display: none;
    }

    .loading-container {
        .loading::after {
            min-width: 48px;
        }
    }

    .renderedMarkdown *:first-child {
        margin-top: 0;
    }

    .parameter__name {
        white-space: nowrap;

        &.required::after {
            display: block;
            padding-left: 0;
        }
    }

    select[multiple] {
        min-height: 200px;
    }
}

.tryIt .swagger-ui {
    .parameters-col_description {
        input,
        select,
        [data-reach-combobox] {
            display: block;
        }
    }

    .try-out {
        display: block;
    }
}
