$color_bg: #f5f5f6;
$color_fg: #555A62;
$color_link: #0291DB;
$color_link-hover: #0276b3;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer {
    background: $color_bg;
    color: $color_fg;
    font-size: 14px;
    line-height: 1.5;
    padding: 18px 0;
}

.footer-wrap {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin: 0 auto;
}

.footer a {
    color: $color_link;

    &:hover {
        color: $color_link-hover;
    }
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: -3px;
}

.footer-col {
    padding: 0 3px;
}

.footer-col-copyRight {
    justify-content: flex-start;
}

.footer-col-logo {
    justify-content: flex-end;
}

.footer-col-copyRight,
.footer-col-logo {
    flex: 1;
    display: flex;
}

.logo {
    width: 120px;
    height: 28px;
    opacity: .6;
}

@media screen and (max-width: 768px) {

    .footer-row {
        display: block;
    }

    .footer-col {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }

    .footer-col:first-child {
        margin-top: 0;
    }

    .footer-col:last-child {
        margin-bottom: 0;
    }

    .footer-col-copyRight,
    .footer-col-logo {
        justify-content: center;
    }

    .logo {
        margin: 0 auto;
    }
}
