{#
    This is an example footer.
    You will likely want to modify to match you brand.
    See https://success.vanillaforums.com/kb/articles/171-a-themes-structure#footer

    Styles from the styles.css asset will apply to this header.
 #}
<!-- Main footer START -->
<footer class="footer">
    <div class="footer-wrap">
        <div class="footer-row">
            <div class="footer-col footer-col-copyRight">
                <p class="footer-copyright">{{ t('© Vanilla Foundation Theme') }} {{ "now"|date("Y") }}</p>
            </div>
            <div class="footer-col footer-col-logo">
                <div class="logo">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 2815.48 420.49"
                        class="PoweredbyVanilla"
                    >
                        <path
                            d="M0 140.72h47.68v84.68c10.98-14.11 25.09-26.97 49.24-26.97 36.07 0 57.08 23.83 57.08 62.41v108.83h-47.67v-93.78c0-22.58-10.66-34.19-28.85-34.19s-29.8 11.6-29.8 34.19v93.77H0V140.72ZM180.65 140.72h50.18v42.34h-50.18v-42.34Zm1.25 60.84h47.67v168.11H181.9V201.56ZM259.67 402.92l16.31-35.75c17.25 9.72 34.5 15.37 56.77 15.37 32.62 0 47.99-15.68 47.99-45.79v-8.15c-14.11 16.93-29.48 27.28-54.89 27.28-39.2 0-74.64-28.54-74.64-78.41v-.63c0-50.18 36.07-78.41 74.64-78.41 26.03 0 41.4 10.98 54.26 25.09v-21.95h47.67v130.16c0 30.11-7.21 52.06-21.33 66.18-15.68 15.68-39.83 22.58-72.45 22.58-27.29 0-53-6.27-74.33-17.57Zm121.06-125.45v-.63c0-22.9-17.88-38.89-41.09-38.89-23.21 0-40.77 15.99-40.77 38.89v.63c0 23.21 17.56 38.89 40.77 38.89 23.21 0 41.09-16 41.09-38.89ZM454.75 140.72h47.67v84.68c10.98-14.11 25.09-26.97 49.24-26.97 36.07 0 57.08 23.83 57.08 62.41v108.83h-47.67v-93.78c0-22.58-10.66-34.19-28.85-34.19s-29.8 11.6-29.8 34.19v93.77h-47.67V140.72ZM626.29 286.56v-.63c0-47.98 34.19-87.5 83.11-87.5 56.14 0 81.86 43.6 81.86 91.27 0 3.76-.31 8.15-.63 12.55H673.64c4.7 21.64 19.76 32.93 41.09 32.93 16 0 27.6-5.02 40.77-17.25l27.29 24.15c-15.68 19.45-38.26 31.36-68.69 31.36-50.49 0-87.82-35.44-87.82-86.88Zm118.55-14.11c-2.82-21.33-15.37-35.76-35.44-35.76-19.76 0-32.62 14.11-36.38 35.76h71.82ZM811.02 201.57h47.67v33.87c9.72-23.21 25.4-38.26 53.63-37.01v49.87h-2.51c-31.68 0-51.12 19.13-51.12 59.28v62.1h-47.68V201.57ZM1016.53 140.73h47.67v228.95h-47.67V140.73ZM1085.84 286.57v-.63c0-48.3 38.89-87.5 91.27-87.5 52.06 0 90.64 38.58 90.64 86.88v.63c0 48.3-38.89 87.5-91.27 87.5-52.06 0-90.64-38.58-90.64-86.88Zm134.86 0v-.63c0-24.78-17.88-46.42-44.22-46.42-27.29 0-43.6 21.01-43.6 45.79v.63c0 24.78 17.88 46.42 44.22 46.42 27.28 0 43.6-21.01 43.6-45.79ZM1288.12 402.93l16.31-35.75c17.25 9.72 34.5 15.37 56.77 15.37 32.62 0 47.99-15.68 47.99-45.79v-8.15c-14.11 16.93-29.48 27.28-54.89 27.28-39.2 0-74.64-28.54-74.64-78.41v-.63c0-50.18 36.07-78.41 74.64-78.41 26.03 0 41.4 10.98 54.26 25.09v-21.95h47.67v130.16c0 30.11-7.22 52.06-21.33 66.18-15.68 15.68-39.83 22.58-72.45 22.58-27.28 0-53-6.27-74.33-17.57Zm121.06-125.45v-.63c0-22.9-17.88-38.89-41.09-38.89-23.21 0-40.77 15.99-40.77 38.89v.63c0 23.21 17.56 38.89 40.77 38.89 23.21 0 41.09-16 41.09-38.89ZM1484.76 140.73h50.18v42.34h-50.18v-42.34Zm1.25 60.84h47.67v168.11h-47.67v-168.1ZM1555.32 286.57v-.63c0-47.98 36.7-87.5 88.13-87.5 31.68 0 51.43 10.66 67.12 28.23l-29.17 31.36c-10.66-11.29-21.33-18.51-38.26-18.51-23.83 0-40.77 21.01-40.77 45.79v.63c0 25.72 16.62 46.42 42.65 46.42 16 0 26.97-6.9 38.58-17.88l27.91 28.23c-16.31 17.88-35.13 30.74-68.68 30.74-50.49 0-87.5-38.89-87.5-86.88ZM1789.38 196.77h28.5l58.34 143.85 58.68-143.85h27.83l-75.44 174.7h-22.8l-75.11-174.7ZM1984.54 319.83v-.67c0-36.55 30.18-56 74.11-56 22.13 0 37.89 3.02 53.31 7.38v-6.04c0-31.18-19.11-47.28-51.63-47.28-20.46 0-36.55 5.36-52.65 12.74l-7.71-21.13c19.11-8.72 37.89-14.42 63.04-14.42s43.25 6.37 55.99 19.11c11.73 11.74 17.77 28.5 17.77 50.63v105.96h-24.82v-26.15c-12.07 15.76-32.19 29.84-62.7 29.84-32.19 0-64.72-18.44-64.72-53.98Zm127.75-13.41v-16.77c-12.74-3.69-29.84-7.38-50.97-7.38-32.53 0-50.63 14.08-50.63 35.88v.67c0 21.8 20.12 34.54 43.59 34.54 31.86 0 58.01-19.45 58.01-46.94ZM2194.46 196.77h25.82v30.18c11.4-18.78 29.51-33.86 59.35-33.86 41.92 0 66.39 28.17 66.39 69.41v107.63h-25.82V268.87c0-32.19-17.43-52.31-47.95-52.31-29.84 0-51.97 21.79-51.97 54.32v99.25h-25.82V196.77ZM2406.06 196.77h25.82v173.35h-25.82V196.77ZM2496.93 125.36h25.82v244.77h-25.82V125.36ZM2587.81 125.36h25.82v244.77h-25.82V125.36ZM2663.25 319.83v-.67c0-36.55 30.17-56 74.1-56 22.13 0 37.89 3.02 53.32 7.38v-6.04c0-31.18-19.11-47.28-51.64-47.28-20.45 0-36.55 5.36-52.64 12.74l-7.71-21.13c19.11-8.72 37.89-14.42 63.04-14.42 24.48 0 43.26 6.37 56 19.11 11.74 11.74 17.77 28.5 17.77 50.63v105.96h-24.81v-26.15c-12.07 15.76-32.19 29.84-62.7 29.84-32.19 0-64.71-18.44-64.71-53.98ZM2791 306.42v-16.77c-12.74-3.69-29.84-7.38-50.97-7.38-32.52 0-50.63 14.08-50.63 35.88v.67c0 21.8 20.12 34.54 43.59 34.54 31.85 0 58.01-19.45 58.01-46.94Z"
                            fill="currentColor"
                        />
                        <circle
                            cx="2416.37"
                            cy="114.72"
                            r="41.32"
                            transform="rotate(-7.2 2414.725 114.74)"
                            fill="currentColor"
                        />
                        <path
                            d="M0 2.44h22.46c13.34 0 21.64 7.57 21.64 19.04v.16c0 12.77-10.25 19.44-22.78 19.44H10.01v18.31H0V2.44Zm21.64 29.61c7.57 0 12.29-4.23 12.29-10.17v-.16c0-6.67-4.8-10.17-12.29-10.17H10.01v20.5h11.63ZM50.45 38.15v-.16c0-12.29 9.76-22.46 22.94-22.45 13.18 0 22.86 10.01 22.86 22.29v.16c0 12.2-9.76 22.37-23.02 22.37S50.45 50.35 50.45 38.15Zm35.96 0v-.16c0-7.57-5.45-13.83-13.18-13.83-7.89 0-12.94 6.18-12.94 13.67v.16c0 7.49 5.45 13.75 13.1 13.75s13.02-6.18 13.02-13.59ZM100.65 16.43h10.09l8.62 29.45 9.52-29.61h8.46l9.52 29.61 8.79-29.45h9.93L151.5 59.71h-8.87l-9.6-29.37-9.68 29.37h-8.79l-13.91-43.28ZM169.89 38.07v-.16c0-12.29 8.71-22.37 20.99-22.37 13.67 0 20.58 10.74 20.58 23.11 0 .89-.08 1.79-.16 2.77h-31.57c1.06 7 6.02 10.9 12.37 10.9 4.8 0 8.22-1.79 11.63-5.13l5.78 5.13c-4.07 4.88-9.68 8.05-17.57 8.05-12.45 0-22.05-9.03-22.05-22.29Zm31.81-3.17c-.65-6.35-4.39-11.31-10.9-11.31-6.02 0-10.25 4.64-11.15 11.31h22.05ZM221.39 16.43h9.84v9.68c2.68-6.43 7.65-10.82 15.21-10.5v10.41h-.57c-8.62 0-14.64 5.61-14.64 17v16.35h-9.84V16.43ZM251.17 38.08v-.16c0-12.29 8.71-22.37 20.99-22.37 13.67 0 20.58 10.74 20.58 23.11 0 .89-.08 1.79-.16 2.77h-31.57c1.06 7 6.02 10.9 12.37 10.9 4.8 0 8.22-1.79 11.63-5.13l5.78 5.13c-4.07 4.88-9.68 8.05-17.57 8.05-12.45 0-22.05-9.03-22.05-22.29Zm31.81-3.17c-.65-6.35-4.39-11.31-10.9-11.31-6.02 0-10.25 4.64-11.15 11.31h22.05ZM300.47 37.99v-.16c0-14.24 9.68-22.29 19.93-22.29 7.08 0 11.55 3.5 14.64 7.57V0h9.84v59.39h-9.84v-7.16c-3.17 4.47-7.65 8.05-14.64 8.05-10.09 0-19.93-8.05-19.93-22.29Zm34.74 0v-.16c0-8.3-5.86-13.75-12.45-13.75s-12.37 5.21-12.37 13.75v.16c0 8.3 5.7 13.75 12.37 13.75s12.45-5.53 12.45-13.75ZM391.52 52.72v6.67h-9.84V0h9.84v23.59c3.17-4.47 7.65-8.05 14.64-8.05 10.09 0 19.93 7.97 19.93 22.29v.16c0 14.24-9.76 22.29-19.93 22.29-7.16 0-11.63-3.58-14.64-7.57Zm24.57-14.73v-.16c0-8.3-5.61-13.75-12.29-13.75s-12.53 5.53-12.53 13.75v.16c0 8.22 5.86 13.75 12.53 13.75s12.29-5.29 12.29-13.75ZM464.01 16.44h10.25l-17.09 44.18c-3.42 8.79-7.24 12.04-14.16 12.04-4.07 0-7.16-.98-10.17-2.6l3.34-7.32c1.79.98 3.74 1.63 5.78 1.63 2.77 0 4.47-1.22 6.1-4.88l-17.9-43.04h10.58l12.12 31.89 11.15-31.89Z"
                        />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Main footer END -->
