###
### This file contains many default variable values.
###
{
    global: {
        options: {
            ## Light or dark
            ## This will affect a lot of other variables if set.
            # preset: "light"
        },
        mainColors: {
            ## Primary foreground color. Used for text and icons.
            # fg: "#555A62",
            ## Primary background color.
            ## Used for the background of modals, dropdowns, the page, and various containers.
            # bg: "#FFFFFF",
            ## Primary brand color
            # primary: "#0291DB",
            ## Secondary brand color. Used for various accents.
            # secondary: "#028BD3" (generated default),
        },
        body: {
            backgroundImage: {
                ## Body background color.
                ## You may want to set this rather than setting the main bg.
                ## Default generated based on mainColors.bg
                # color: "#FFFFFF",
            },
        },
        ##
        ## Border variables
        ##
        border: {
            # color: "#E6E6E7", colorHover: "#DDDEE0", width: 1, style: "solid", radius: 6
        },
        borderType: {
            # formElements: {
            #     default: { color: "#BEC2CE", colorHover: "#DDDEE0", width: 1, style: "solid", radius: 6 },
            #     buttons: { color: "#E6E6E7", colorHover: "#DDDEE0", width: 1, style: "solid", radius: 6 },
            # },
            # modals: { color: "#E6E6E7", colorHover: "#DDDEE0", width: 1, style: "solid", radius: 6 },
            # dropDowns: { color: "#E6E6E7", colorHover: "#DDDEE0", width: 1, style: "solid", radius: 6 },
        },
        # Sizing variables.
        panel: {
            # width: 216,
        },
        content: {
            # width: 1264
        },
        ##
        ## Global font styles.
        ##
        fonts: {
            ## Default sizes.

            size: {
                # large: 16,
                # medium: 14,
                # small: 12,
                # largeTitle: 32,
                # title: 22,
                # subTitle: 18,
            },
            mobile: {
                size: {
                    # title: 26,
                },
            },

            ## Weight for the font.

            weights: {
                # normal: 400,
                # semiBold: 600,
                # bold: 700,
            },

            ## Use these to configure a google font easily.

            # googleFontFamily: "Open Sans",
            # forceGoogleFont: false,

            customFont: {
                ## CSS file for the font.
                # url: "https:#use.typekit.net/xxxxxxx.css",
                ## The font name to use
                # name: "Helvetica",
            },
        },
        ## Link colors.
        ## By default all are generated from the mainColors.
        links: {
            colors: {
                # default: "#028BD3",
                ## By default all of these will be generated as an offset from the default.
                # hover: "#028AD0",
                # focus: "#028AD0",
                # keyboardFocus: "#028AD0",
                # active: "#028AD0",
            },
        },
        userContent: {
            font: {
                sizes: {
                    ## Font sizes in user content.
                    # default: 14,
                    # h1: "2em",
                    # h2: "1.5em",
                    # h3: "1.25em",
                    # h4: "1em",
                    # h5: ".875em",
                    # h6: ".85em",
                },
            },
        },
    },
    navigation: {
        ##
        ## See https:#success.vanillaforums.com/kb/articles/142-navigation-links#customizing-navigation-links
        ##
        navItems: {
            # default: [
            # {
            #     to: "/discussions",
            #     children: "Discussions",
            # },
            # {
            #     to: "/categories",
            #     children: "Categories",
            # },
            # {
            #     children: "Help",
            #     permission: "kb.view",
            #     to: "/kb",
            # },
            # ],
            ## Some other languages
            # en: [],
            # fr: [],
            # cz: [],
        },
        logo: {
            # url: "/",
        },
    },
    banner: {
        options: {
            ## Can be used to disable the banner entirely.
            # enabled: true,
            ## How should content in the banner be aligned?
            ## "left" or "center"
            # alignment: "center",
            # mobileAlignment: "center",
            ## Hide parts of the banner.
            # hideDescription: false,
            # hideTitle: false,
            # hideSearch: false,
        },
        outerBackground: {
            # image: "https:#site.com/path/to/some/image.jpg",
            # color: "#1DB1FD",
            # position: "50% 50%",
            # repeat: "no-repeat",
            # size: "cover",
        },
        backgrounds: {
            ## Apply an overlay on the banner background.
            # useOverlay: false,
            # overlayColor: "rgba(0, 0, 0, 0.3)",
        },
        ##
        ## Padding and sizing of the banner.
        ##
        spacing: {
            # padding: {
            #     top: 69,
            #     bottom: 40,
            #     horizontal: "8px",
            # },
            # mobile: {
            #     padding: {
            #         top: 0,
            #         bottom: 16,
            #         horizontal: "8px",
            #     },
            # },
        },
        contentContainer: {
            # minWidth: 550,
            # padding: {
            #     top: 69,
            #     bottom: 40,
            #     horizontal: 0,
            # },
            # mobile: {
            #     padding: {
            #         top: 12,
            #         bottom: 12,
            #     },
            # },
        },
        dimensions: {
            # minHeight: 50,
            # mobile: {
            #     minHeight: 50,
            # },
        },
        ##
        ## Style the banner title.
        ##
        title: {
            # maxWidth: 700,
            # font: {
            #     color: "#FFFFFF",
            #     size: 32,
            #     weight: 600,
            #     shadow: "0 1px 1px rgba(0,0,0,0.25), 0 1px 25px rgba(0,0,0,0.75)",
            #     align: "center",
            # },
            # fontMobile: {
            #     color: "#FFFFFF",
            #     size: 22,
            #     shadow: "0 1px 1px rgba(0,0,0,0.25), 0 1px 25px rgba(0,0,0,0.75)",
            #     align: "center",
            # },
            # margins: { top: 18, bottom: 8 },
            # text: "Some title here",
        },
        ##
        ## Style the banner description.
        ##
        description: {
            # font: {
            #     color: "#FFFFFF",
            #     size: 16,
            #     shadow: "0 1px 1px rgba(0,0,0,0.25), 0 1px 25px rgba(0,0,0,0.75)",
            #     align: "center",
            # },
            # maxWidth: 400,
            # margins: { bottom: 12 },
        },
        ##
        ## Border radius on the search bar.
        ##
        inputAndButton: {
            # borderRadius: 6,
        },
        # isTransparentButton: true,
        ##
        ## Put the search in a "strip" below the banner.
        ##
        searchStrip: {
            # bg: "#0291DB",
            # minHeight: 60,
            # padding: { top: 12, bottom: 12 },
            # mobile: { padding: {} },
        },
    },
    titleBar: {
        ##
        ## Overlay the titlebar on the banner.
        ##
        fullBleed: {
            # enabled: false,
            # startingOpacity: 0,
            # endingOpacity: 0.15,
            # bgColor: "#0291DB",
        },
        ##
        ## Add a border under the titlebar.
        ##
        border: {
            ## "border", "none", "shadow"
            # type: "none",
            # color: "#E6E6E7",
            # width: 1,
        },
        ##
        ## Sizing of the titlebar.
        ##
        sizing: {
            # height: 48,
            # spacer: 12,
            # mobile: {
            #     height: 44,
            #     width: 36,
            # },
        },
        colors: {
            # fg: "#FFFFFF",
            # bg: "#0291DB",

            ## Apply a background image to the title bar.
            ## See example: https:#success.vanillaforums.com/kb/developers
            # bgImage: null,
            state: {
                ## Colors of items when hovered/focused.
                # bg: "rgba(255, 255, 255, 0.1)",
                # fg: "#FFFFFF",
            },
        },
        ##
        ## When to switch to mobile layout.
        ## May happen sooner than with a lot of navigation items.
        ##
        breakpoints: {
            # compact: 800,
        },
        navAlignment: {
            ## "left", "center"
            # alignment: "left",
        },
        logo: {
            ## Strategy for handling a logo in a custom theme header.
            ## "visible" - TitleBar Logo is always visible.
            ## "hidden" - TitleBar Logo is never visible.
            ## "fade-in" - TitleBar Logo take space, but is hidden, until theme header scrolls out of view.

            # doubleLogoStrategy: "visible",

            ## Offset to the right of the logo.
            # offsetRight: 16,

            ## Alignment of the logo in the titlebar
            ## "left" or "center"
            # justifyContent: "left",

            ## Maximum width of the logo.
            # maxWidth: 200,

            ## URL to a logo.
            desktop: {
                # url: "https:#mysite.com/path/to/logo.png",
            },

            ## Some vertical padding around the logo.
            ## A larger value will shring the logo.
            # heightOffset: 16,
            mobile: {
                ##
                ##
                # heightOffset: 16,
                ## URL to a logo.
                # url: "https:#mysite.com/path/to/logo.png",
            },

            ## Translation values to apply to the logo.
            ## Can help with precise positioning.
            offsetVertical: {
                # amount: 0,
                mobile: {
                    # amount: 0,
                },
            },
        },
        mobileLogo: {
            ## Can be set to "left" to left align logo on mobile.
            # justifyContent: "center",
        },
    },
    shadow: {
        ##
        ## Variables for shadows used across the site.
        ##
        widget: {
            # horizontalOffset: 0,
            # verticalOffset: 1,
            # blur: 3,
            # spread: 0,
            # opacity: 0.22,
        },
        widgetHover: {
            # horizontalOffset: 0,
            # verticalOffset: 2,
            # blur: 4,
            # spread: 0,
            # opacity: 0.22,
        },
        dropDown: {
            # horizontalOffset: 0,
            # verticalOffset: 5,
            # blur: 10,
            # spread: 0,
            # opacity: 0.3,
        },
        modal: {
            # horizontalOffset: 0,
            # verticalOffset: 5,
            # blur: 20,
            # spread: 0,
            # opacity: 0.5,
        },
    },

    ##
    ## Variables for a collection of tiles.
    ## Examples include:
    ## - Knowledge Base Tile Grid
    ## - Category Tile Grid
    ##
    tiles: {
        options: {
            ##
            ## Max number of columns.
            # columns: 2,
            ##
            ## Align tiles to "center" or "left"
            # alignment: "center",
        },
        ##
        ## Paddings for each column count.
        ##
        itemSpacing: {
            # paddingOneColumn: 14,
            # paddingTwoColumns: 24,
            # paddingThreeColumns: 14,
            # paddingFourColumns: 14,
        },
        ##
        ## Spacing inside the container.
        ##
        containerSpacing: {
            padding: {
                # vertical: 24,
            },
        },
        sizing: {
            ##
            ## Outer max-width for each number of columns.
            ## Using 100% will still be constrained to the site max-width.
            ##
            # containerWidthTwoColumns: 864,
            # containerWidthThreeColumns: 864,
            # containerWidthFourColumns: 1152,
        },
    },

    ##
    ## Varibles for an individual tile.
    ##
    tile: {
        options: {
            ##
            ## Alignment inside the tile
            # alignment: "center",
        },
        title: {
            font: {
                # color: "inherit",
                # weight: "inherit",
                # shadow: "inherit",
                # align: "inherit",
                # family: "inherit",
                # transform: "inherit",
                # size: 16,
                # lineHeight: 1.25,
            },
            # marginBottom: 6,
        },
        description: {
            # fontSize: 14,
            # lineHeight: 1.4,
            # marginTop: 6,
        },

        ##
        ## The tile itself
        ##
        link: {
            padding: {
                # top: 36,
                # bottom: 24,
                # left: 24,
                # right: 24,
            },
            # borderRadius: 6,
            # fg: "#555A62",
            # bg: "#FFFFFF",
            # bgHover: "#FFFFFF",
        },
        fallBackIcon: {
            # width: 90,
            # height: 90,
            # fg: "#0291DB",
        },
    },
}
