@import "../new-features/icons";

$authenticateUser-column_width: 311px !default;
$authenticateUser-column_horizontalPadding: 32px !default;
$authenticateUser-userImage_width: 117px !default;
$authenticateUser-spacer: 18px !default;
$authenticateUser-socialIcon_width: 42px !default;
$authenticateUser-socialIcon_borderWidth: 3px !default;
$authenticateUser-socialIcon_bg: #fff !default;
$fontSize-small: 12px !default;
$brand-color: #0291db !default;
$baseUnit: 6px !default;

// Dev, do not commit
body.Entry #Content,
.Row {
    width: 100%;
    max-width: 100%;
}

// End dev


.authenticateUser {
    padding: 0 $authenticateUser-column_horizontalPadding;
    margin: auto;
    width: #{$authenticateUser-column_width + $authenticateUser-column_horizontalPadding * 2};

    .pageTitle {
        text-align: center;
        margin-bottom: $authenticateUser-spacer;
    }
}

.ssoUser-photoCrop,
.ssoUser-imageWrap {
    display: block;
    width: 100%;
    max-width: $authenticateUser-userImage_width;

}


.ssoUser-photoCrop {
    overflow: hidden;
    border-radius: 50%;
}

.ssoUser-imageWrap {
    position: relative;
    margin: auto;
}

.ssoUser-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: #{$authenticateUser-socialIcon_width + $authenticateUser-socialIcon_borderWidth * 2};
    height: #{$authenticateUser-socialIcon_width + $authenticateUser-socialIcon_borderWidth * 2};
    background-color: $authenticateUser-socialIcon_bg;
    border: {
        style: solid;
        width: $authenticateUser-socialIcon_borderWidth;
        color: $authenticateUser-socialIcon_bg;
        radius: 50%;
    }

}

.ssoUser-photo {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}


.ssoUser-arrowDown {
    display: block;
    margin: 0 auto;
}



.ssoUser-frame {
    position: relative;
    text-align: center;
}

.ssoUser-name {
    //font-size: $fontSize-large;
    //font-weight: $fontWeight-bold;
    margin-top: $baseUnit;
}

.ssoUser-userName {
    //font-size: $fontSize-small;
    //color: $ssoUser-userName_color;
}

.rememberMeAndForgot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: $fontSize-small;

    a {
        font-size: inherit;
        color: $brand-color;
    }
}

.rememberMeAndForgot-rememberMe {
    flex-grow: 1;
    padding-right: $baseUnit;
}
