$vanillaHeader_height                                : 48px !default; // Min 42px
$vanillaHeader_mobile_height                         : $global-formElement_height + 2 * $utility-baseUnit !default; // Derived

$vanillaHeader_bg                                    : #333333 !default;
$vanillaHeader_fg                                    : $global-color_white !default; // Derived
$vanillaHeader_highlight                             : $global-color_primary !default; // Derived
$vanillaHeader_secondary                             : mix($vanillaHeader-fg, $vanillaHeader-bg , 70%) !default; // Derived

$vanillaMenu-activeElement_color                     : $global-color_primary !default;  // Derived

$vanillaMenu-iconFill_hover_opacity                  : .5 !default;

// Styles go here


/* -------------------------------------------------------------- *\
    Convert to CSS Variables
\* -------------------------------------------------------------- */

//.vanillaHeader {
//    @include sassToCss("$utility-baseUnit", $utility-baseUnit);
//}
