.Button,
.TextButton {
  @extend .btn;
  @extend .btn-primary;
}

.SmallButton {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-sm;
}

#Head h1 a span {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

.Buttons {
  //@extend .btn-group;
}

.Tabs ul,
.tabbed-content {
  padding-left: 0;

  @extend .btn-group;

  li {
    display: inline-block;
  }

  li a {
    @extend .btn;
    @extend .btn-secondary;
  }

  li.Active a,
  .current-tab {
    @extend .active;
  }
}

.SmallButton + .SmallButton {
  margin-left: $spacer / 4;
}
