.Clearfix {
  @extend .clearfix;
}

.Hidden,
.hidden {
  display: none;
}

.caret {
  @extend .dropdown-toggle::after;
}

.Help.Aside {
  position: absolute;
  display: block;
  width: 200px;
  right: -200px;

  h2 {
    font-size: $font-size-lg;
  }
}
