$authenticateUser-column_width: 334px !default;
$authenticateUser-column_horizontalPadding: 26px !default;
$authenticateUser-userImage_width: 117px !default;
$authenticateUser-spacer: 18px !default;
$authenticateUser-ssoButton_margin: 12px !default;
$authenticateUser-socialIcon_width: 42px !default;
$authenticateUser-socialIcon_borderWidth: 3px !default;
$authenticateUser-socialIcon_bg: #fff !default;
$authenticateUserName-opacity: .6 !default;
$authenticateUserArrowDown-opacity: .6 !default;
$authenticateMethod-button_boxShadow: 0 1px 3px 0 rgba(0, 0, 0, .3) !default;
$authenticateMethod-button_horizontalMargin: 12px !default;
$linkUser-profilePic_width: 120px;
$linkUser-provider_width: 45px;
$linkUser-providerIcon_borderWidth: 3px;
$linkUser-providerIcon_width: $icon-default_size;

.authenticateUserCol {
    padding: 0 $authenticateUser-column_horizontalPadding;
    margin: auto;
    width: #{$authenticateUser-column_width + $authenticateUser-column_horizontalPadding * 2};
    max-width: 100%;
    box-sizing: border-box;

    .pageTitle {
        text-align: center;
        margin-bottom: $authenticateUser-spacer;
    }

    .button.button-fullWidth {
        margin-bottom: $authenticateUser-spacer;

        &.button-sso {
            margin-bottom: $authenticateUser-ssoButton_margin;
        }
    }
}

.authenticateUser-photoCrop,
.authenticateUser-imageWrap {
    display: block;
    width: 100%;
    max-width: $authenticateUser-userImage_width;

}


.authenticateUser-photoCrop {
    overflow: hidden;
    border-radius: 50%;
}

.authenticateUser-imageWrap {
    position: relative;
    margin: auto;
}

.authenticateUser-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: $authenticateUser-socialIcon_width;
    height: $authenticateUser-socialIcon_width;
    background-color: $authenticateUser-socialIcon_bg;
    border: {
        style: solid;
        width: $authenticateUser-socialIcon_borderWidth;
        color: $authenticateUser-socialIcon_bg;
        radius: 50%;
    }

}

.authenticateUser-photo {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}


.authenticateUser-arrowDown {
    display: block;
    margin: $authenticateUser-spacer auto;
    opacity: $authenticateUserArrowDown-opacity;
}

.authenticateUser-name {
    font-size: $global-subTitle_fontSize;
    font-weight: 600;
    text-align: center;
}

.authenticateUser-userName {
    font-size: $global-small_fontSize;
    opacity: $authenticateUserName-opacity;
    text-align: center;
}

.rememberMeAndForgot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: $global-small_fontSize;
    line-height: $global-base_lineHeight;

    a {
        font-size: inherit;
        color: $global-color_primary;
        line-height: inherit;
    }
}

.rememberMeAndForgot-rememberMe {
    flex-grow: 1;
    padding-right: $utility-baseUnit;
}

.authenticateUser-divider {
    text-align: center;
}

.authenticateUser-footer {
    text-align: center;
}

.authenticateUser-ssoLabel {
    display: inline;
    margin-left: $utility-baseUnitDouble;
}

.button.Button {
    &.Primary.buttonCTA,
    &.button-sso {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: none;
        box-sizing: border-box;
        text-decoration: none !important;
    }

    &.button-sso {
        box-shadow: $authenticateMethod-button_boxShadow;
    }
}

.button-ssoLabel {
    margin: {
        left: $authenticateMethod-button_horizontalMargin;
        right: $authenticateMethod-button_horizontalMargin;
    }
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
}

.ssoMethod-icon {
    width: $icon-default_size;
    height: auto;

    &.ssoMethod-iconSpacer {
        display: block;
        visibility: hidden;
        height: $icon-default_size;
    }
}

.button-ssoContents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}

.ssoMethods {
    margin-bottom: $authenticateUser-spacer;
}

.ssoUser-info,
.ssoUser-imageWrap.PhotoWrap,
.ProfilePhotoLarge.ssoUser-image {
    display: block;
    position: relative;
    width: $linkUser-profilePic_width;
    height: auto;
    margin: auto;
    padding: 0;
    overflow: hidden;
}



.ssoUser-info {
    position: relative;
    text-align: center;
}

.ssoUser {
    padding-bottom: $utility-baseUnitDouble;
}

.ssoUser-imageWrap {
    overflow: hidden;
    border-radius: 50%;
}

.ssoUser-provider {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    width: $linkUser-provider_width - 2 * $linkUser-providerIcon_borderWidth;
    height: $linkUser-provider_width - 2 * $linkUser-providerIcon_borderWidth;
    overflow: hidden;
    border: {
        radius: 50%;
        style: solid;
        width: $linkUser-providerIcon_borderWidth;
    }
}

.ssoUser-icon {
    width: $linkUser-providerIcon_width;
    height: auto;
}

.ssoUser-arrowDown{
    display: block;
    width: $icon-large_size;
    height: auto;
    margin: {
        top: $utility-baseUnitDouble;
        right: auto;
        left: auto;
    }
}

.ssoUser-namePrimary {
    font-size: $global-subTitle_fontSize;
    margin-top: 1em;
    text-align: center;
    color: inherit;
}

.ssoUser-nameSecondary {
    font-size: $global-small_fontSize;
    text-align: center;
    color: inherit;
    opacity: .7;
    margin-top: $utility-baseUnit;
}


.authenticateUser-paragraph {
    margin-bottom: $global-formElement_marginBottom;
}

.errorOrLinkLabel-message {
    color: $global-error_fg;
}


