// This is only for new pages, with new form element markup.


.checkbox-box {
  display: none; // for old themes
}


label.checkbox {
  input.checkbox-input {
    float: none;
    margin: 0;
  }
}

.checkbox-label {
  user-select: none;
  margin-left: 6px;
  line-height: inherit;
}
