// This is only for new pages, with new form element markup.

.checkbox-box {
    display: none; // for old themes
}


label.checkbox {
    line-height: $global-base_lineHeight;
    font-size: $global-small_fontSize;

    input.checkbox-input {
        float: none;
        margin: 0;
    }
}



.checkbox-label {
    user-select: none;
    margin-left: 6px;
    font-size: inherit;
    line-height: inherit;
}
