// This is only for new pages, with new form element markup.
$lineHeight-base    : 1.428571429;
$fontSize-large     : 16px !default;
$fontSize-default   : 14px !default;
$fontSize-small     : 12px !default;

.inputBlock {
    display: block;
    margin-bottom: 24px;

    .checkbox {
        display: flex;
        align-items: center;
    }

    &.inputBlock-tighter {
        margin-top: -12px;
    }

    &.hasError {
        .inputText {
            border-color: #ff3933;
            background-color: #ffebeb;
            color: #ff3933;
        }
    }

    ::-ms-clear { // IE fix
        display: none;
    }
}

.inputBlock-errors,
.inputBlock-labelAndDescription {
    display: block;
}

.inputBlock-labelText {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    line-height: $lineHeight-base;
}

.InputBox.inputText {
    width: 100%;
}

.inputBlock-error {
    word-break: break-word;
    display: block;
    color: #ff3933;
    line-height: $lineHeight-base;
    font-size: $fontSize-small;
    margin-top: 3px;

    &:first-letter {
        text-transform: capitalize;
    }

    + .inputBlock-error {
        margin-top: 6px;
    }
}

.inputBlock-inputWrap {
    display: block;
}


.inputBlock-labelNote {
    display: block;
    font-size: 12px;
    line-height: $lineHeight-base;
    opacity: .6;

    + .inputBlock-inputWrap {
        margin-top: $baseUnit;
    }
}

.inputBlock-inputText {
    box-sizing: border-box;
}

.label-wrap {
    img {
        max-width: 50%;
        max-height: 180px;
        margin-top: $utility-baseUnitHalf;
        margin-bottom: $utility-baseUnitHalf;
    }
}

.FormWrapper {

    .form-group {
        margin: {
            top: $utility-baseUnit;
            bottom: $utility-baseUnit;
        };
    }

    .file-upload {
        display: flex;
        align-items: flex-start;
        position: relative;
        width: 100%;
        font-weight: $global-fontWeight_normal;
        min-height: $formElement_height;
        cursor: pointer;
        margin-bottom: 0;

        input {
            padding: 0;
            margin: 0;
            filter: alpha(opacity = 0);
            opacity: 0;
            width: 0;

            &:disabled,
            &.disabled {
                opacity: 0;
            }
        }
    }

    .file-upload-browse {
        display: inline-block;
        position: relative;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        min-width: $global-button_minWidth;
        line-height: $formElement_height;
        height: $formElement_height;
        font-weight: $global-fontWeight_normal;
        user-select: none;
        overflow: hidden;
        cursor: pointer;
        background-color: $button-basic_bg;
        color: $button-basic_fg;
        border: {
            width: $formElement_borderWidth;
            radius: $global-button_radius;
            style: solid;
            color: $button-basic_border;
        }
        order: -1;
        margin-right: $utility-baseUnit;
    }

    .file-upload-choose {
        line-height: $formElement_height;
        height: $formElement_height;
        font-size: $global-medium_fontSize;
        font-weight: $global-fontWeight_normal;
        font-family: $global-body_fontFamily;
    }

}
