.followButton {
  white-space: nowrap;
  font-size: 10px;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 400;
  padding: 0 5px;
  text-decoration: none;

  &.isFollowing:not(:hover) {
    opacity: 0.7;
  }
}

.followButton-icon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  vertical-align: sub;
}
