{
    global: {
        middleColumn: {
            width: 1000
        }
    },
    userContent: {
        fonts: {
            size: 14
        }
    },
    input: {
        font: {
            size: 14,
        }
    }
}
