/*
Welcome to the Conversations CSS File! Some things you should know:

1. There is a generic style.css file that contains the majority of the style
   definitions. This file is only included for Conversations pages.
   Specifically:
   + Messages/*

2. This file is broken down into the following sections:
   + Autocomplete Definitions
   + General Conversations Definitions
   + Add Message Form
   + New Conversation Form
*/
   
   
/* Note: jQuery Autocomplete used in conversations screens */
textarea.MultiComplete {
   height: 20px;
   padding: 3px 0;
   width: 400px;
   text-align: left;
}
.ac_results {
   padding: 0;
   border: 1px solid #bbb;
   border-top: 0;
   background-color: white;
   overflow: hidden;
   z-index: 99999;
}
.ac_results ul {
   width: 100%;
   list-style-position: outside;
   list-style: none;
   padding: 0;
   margin: 0;
}
.ac_results li {
   margin: 0;
   padding: 5px;
   cursor: default;
   display: block;
   /* 
   if width will be 100% horizontal scrollbar will apear 
   when scroll mode will be used
   */
   /*width: 100%;*/
   font-size: 12px;
   /* 
   it is very important, if line-height not setted or setted 
   in relative units scroll will be broken in firefox
   */
   line-height: 16px;
   overflow: hidden;
   border-bottom: 1px solid #bbb;
   text-align: left;
}
.ac_lastitem {
   border-bottom: 0 !important;
}
.ac_results strong {
   font-weight: bold;
   background: #daf4fd;
}
.ac_over strong {
   font-weight: bold;
   background: #2ab0de;
}
.ac_over {
   background: #44c7f4;
   color: #fff;
}
div.AddPeople h4 {
  border-bottom: 0px;
}
#Panel input.InputBox,
div.AddPeople textarea.MultiComplete {
  width: 228px;
  margin-bottom: 2px;
}
div.AddPeople form div {
	text-align: right;
}


/* ============================================================ Conversations */
fieldset {
  padding: 0px !important;
}
h2.NewConversation {
  float: right;
}
h2.NewConversation a {
  font-weight: bold;
}
body.Conversations h2 {
  margin: 0;
}
ul.Conversations li.New {
  background: #ffd;
}
ul.Conversations li.Active {
  cursor: pointer;
  background: #ffe;
}
ul.Conversations li.HasPhoto {
	padding: 4px 5px;
}
ul.Conversations div.ItemContent {
   margin:0 0 0 5px;
}


/* ========================================================= Add Message Form */
#MessageForm {
	background: #E9F9FF;
	padding: 4px 8px 8px;
	margin: 1px 0 0;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
}
#MessageForm h2 {
  font-size: 115%;
  color: #2786C2;
  font-weight: bold;
  border: 0;
}
#MessageForm form div {
	text-align: right;
}
#MessageForm textarea {
  width: 655px;
  height: 100px;
  min-height: 100px;
  margin-bottom: 2px;
}


/* ==================================================== New Conversation Form */
body.add #Panel {
   display: none;
}
body.add #Content {
   width: auto;
}
#ConversationForm form {
	-moz-border-radius:2px 2px 2px 2px;
	background:none repeat scroll 0 0 #E2F4FF;
	border:1px solid #A5D0E7;
	margin:0;
	padding:20px;
	text-align: right;
}
#ConversationForm h2 {
	color:#02475A;
	font-size:140%;
	font-weight:bold;
	margin:0;
	padding:6px;
	text-align: left;
	border: 0;
}
#ConversationForm label {
	display: block;
	text-align: left;
	color:#666666;
	font-size:14px;
	font-weight:bold;	
}
#ConversationForm textarea.MultiComplete {
  width: 910px;
}
#ConversationForm .TextBox {
   width: 910px;
   height: 100px;
   min-height: 100px;
   margin: 8px 0 6px;
	padding: 0;
}
a.Cancel {
   margin-left: 20px;
}
div.Popup #ConversationForm form {
	background: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 10px;
}
div.Popup #ConversationForm h2 {
	color: #fff;
	font-size: 120%;
	font-weight: bold;
	padding: 6px 9px 4px;	
}
div.Popup #ConversationForm textarea.MultiComplete,
div.Popup #ConversationForm .TextBox {
	width: 478px;
}
