.simplePager {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.simplePager-button {
    margin: 8px;
    &.isSingle {
        min-width: 208px;
    }
}
