/* Full-width */
.Row {
    width: 100%;
}

/* Breadcrumbs */
.BreadcrumbsWrapper {
    font-size: 11px;
    padding: 6px;
    background: #fafafa;
    border: 1px dashed #eee;
    border-width: 1px 0;
    margin-bottom: 10px;
}

/* Transparent Head & Menu */
#Head {
    background: transparent;
    color: #000;
    padding: 4px 0;
}

#Head a {
    color: #1E79A7;
}

#Head a:hover {
    color: #ff0084;
}

.SiteTitle {
    display: none;
}

/* Panel on the right */
#Panel {
    float: right;
}

#Body .ContentColumn {
    margin: 0 230px 0 0;
}

#Panel input.InputBox {
    width: 192px;
}

/* Backwards compatibility for themes that extended/customized the old version */
#Body .Wrapper #Content {
    margin: 0 215px 0 0;
}

.Banner ul {
    background: none repeat scroll 0 0 #3B5998;
    margin: 0;
    padding: 0;
}

#Menu {
    margin-right: 0 !important;
}

.Banner ul li,
#Menu li {
    display: inline;
}

.Banner ul li a,
#Menu a {
    display: inline-block;
    padding: 3px 7px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
}

.Banner ul li a:hover,
#Menu a:hover {
    text-decoration: underline;
    color: #fff;
}

#Head #Search form {
    float: right;
    padding: 0;
    margin-top: -30px;
}

#Head #Search form input.InputBox {
    width: 204px;
    border: 0;
    padding: 4px;
    margin: 0 6px 0 0;
    background: #fff;
    -moz-border-radius: 2px;
    -webkit-border: 2px;
    border-bottom: 2px;
    color: #969696;
    font-size: 13px;
    vertical-align: bottom;
}

#Head #Search form input.Button {
    font-size: 11px;
    border: none;
}

/* If window is less than 800px wide, hide the panel for all pages except profile. */
@media screen and (max-width: 799px) {
    /* Hide the "started by" column of the discussions table. */
    body.Discussions .DataTable .FirstUser {
        display: none;
    }

    /* Hide the panel on non-profile pages. */
    #Body .Row {
        position: relative;
    }

    #Body .ContentColumn {
        padding-top: 50px;
    }

    .MeBox,
    .BigButton {
        visibility: visible;
        position: relative;
        width: 120px;
        display: inline-block;
    }

    .BigButton {
        padding: 8px 20px;
    }

    .MeBox {
        width: 200px;
    }

    #Panel {
        overflow: visible;
        visibility: hidden;
        position: absolute;
        right: 2px; /* Don't know why this is adding some extra padding */
        width: auto;
        display: block;
    }

    .Column.ContentColumn {
        margin: 0 !important;
    }

    /* Don't hide the panel on the profile page */
    body.Profile #Body .ContentColumn {
        padding-top: 0;
    }

    body.Profile .MeBox,
    body.Profile .BigButton {
        visibility: visible;
        position: relative;
        top: auto;
        right: auto;
        width: auto;
    }

    body.Profile .MeBox {
        width: auto;
        right: auto;
    }

    body.Profile #Panel {
        visibility: visible;
        position: relative;
        right: auto;
        width: 200px;
    }

    body.Profile .Column.ContentColumn {
        margin: 0 220px 0 0 !important;
    }
}
