#Panel {
	display: none;
}
body.Profile #Panel {
	display: block;
}
#Content {
	margin: 24px 10px 0 !important;
	position: relative;
}
body.Profile #Content {
	margin:0 10px 0 220px !important;
}
.BigButton,
.BigButton:hover,
.BigButton:focus {
	padding: 2px 6px;
	position: absolute;
	display: inline;
	top: 0;
	right: 0;
}
#Content .BoxFilter {
   display: block;
}