$richEditor-icon_size: 24px !default;
$richEditor-menuButton_size: 39px !default;
$richEditor_leftPadding: 36px !default;
$richEditor_minHeight: 200px !default;
$richEditor_verticalPadding: 9px !default;
$richEditor_padding: $richEditor_verticalPadding 12px !default;
$richEditor-paragraphMenu_offset: 9px!default;
$richEditor-embedMenu_padding: 0 !default;
$richEditor-icon_opacity: .6 !default;
$richEditor-atMention_width: 200px !default;
$richEditor-atMentionAvatar_width: 30px !default;
$richEditor-atMentionAvatar_margin: 10px !default;
$richEditor-atMentionMark_weight: 600 !default;
$richEditor-insertLink_width: 387px !default;
$richEditor-insertPopover_paddingVertical: 9px !default;
$richEditor-insertPopover_paddingHorizontal: 12px !default;
$richEditor-insertPopover_maxHeight: 250px !default;
$richEditor-emoji_width: 7 * $richEditor-menuButton_size + 2 * $richEditor-insertPopover_paddingHorizontal;

.richEditor {
  position: relative;
  display: block;
  padding-left: $richEditor_leftPadding;

    em {
      font-style: oblique;
    }
}

.richEditor-frame.InputBox {
  background: white;
  height: auto;
  padding: 0;
}

.richEditor-menu {
  display: inline-block;
  position: relative;


  &.FlyoutMenu { // Temporary
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    display: block;
    float: none;
  }
}

.richEditor-inlineNub {
    width: 8px;
    height: 8px;
    background: black;
    position: absolute;
}

.richEditorParagraphMenu {
  position: absolute;
  top: $richEditor-paragraphMenu_offset;
  left: #{($richEditor_leftPadding - $richEditor-icon_size) / 2};
  height: $richEditor-icon_size;
  width: $richEditor-icon_size;
}

.richEditor-text {
  position: relative;
  min-height: $richEditor_minHeight;
  padding: $richEditor_padding;
  outline-color: transparent;

  .ql-editor {
      min-height: $richEditor_minHeight - $richEditor_verticalPadding;
  }

  &:focus {
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
    outline-color: Highlight;
    outline-color: -webkit-focus-ring-color;
    z-index: 1;
  }
}

.ql-clipboard {
    display: none;
}

.richEditor-menuItems {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.richEditor-menuItem {
  display: block;
  margin: 0;
  padding: 0;

  .richEditor-button {
    height: $richEditor-menuButton_size;
    width: $richEditor-menuButton_size;
  }

  &.isRightAligned {
    margin-left: auto;
  }
}

.richEditor-button {
  display: block;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  height: $richEditor-icon_size;
  width: $richEditor-icon_size;
  background: none;

  &.richEditorParagraphMenu-handle {
    background: transparent;

    .richEditorInline-icon {
      opacity: 1;
    }
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:focus {
    z-index: 1;
  }

  &:hover,
  &:focus,
  &.isActive{
    .richEditorInline-icon {
      opacity: 1;
    }
  }
}

.embedBar {
  display: block;
  width: 100%;
  padding: $richEditor-embedMenu_padding;

}

.richEditorInline-icon {
  display: block;
  margin: auto;
  height: $richEditor-icon_size;
  width: $richEditor-icon_size;
  opacity: $richEditor-icon_opacity;
}

// @mention menu
.atMention {
  width: $richEditor-atMention_width;
}

.atMention-items {
  width: 100%;


  &.MenuItems { // Temporary
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    display: block;
  }
}

.atMention-user {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.atMention-photoWrap {
  margin-right: $richEditor-atMentionAvatar_margin;
}

.atMention-photo {
  width: $richEditor-atMentionAvatar_width;
  height: $richEditor-atMentionAvatar_width;
}

.atMention-userName {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - #{$richEditor-atMentionAvatar_margin + $richEditor-atMentionAvatar_width});
}

.atMention-mark {
  padding: 0;
  font-weight: $richEditor-atMentionMark_weight;
}

.atMention-photo {
  display: block;
}

// Link Menu
.insertLink.FlyoutMenu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: $richEditor-insertLink_width;
  width: 100%;
  padding: {
    left: 5px;
  }
}

.richEditor-close.Close {
  position: relative;
  display: block;
  width: $richEditor-menuButton_size;
  height: $richEditor-menuButton_size;
  line-height: $richEditor-menuButton_size;
  top: auto;
  right: auto;
  text-align: center;
  user-select: none;
}

.insertLink-input.InputBox {
  border: 0 !important;
  flex-grow: 1;
  max-width: calc(100% - #{$richEditor-menuButton_size})
}

// Insert Media
.insertPopover {


  .InputBox {
    width: 100%;
    box-sizing: border-box;
  }

  .richEditor-close {
    position: absolute;
    top: 0;
    right: 0;
  }

  .Footer {
    display: flex;
  }
}

.insertPopover-header {
  padding: {
    top: $richEditor-insertPopover_paddingVertical;
    bottom: $richEditor-insertPopover_paddingVertical;
    left: $richEditor-insertPopover_paddingHorizontal;
    right: $richEditor-insertPopover_paddingHorizontal;
  }
}

.insertPopover-footer {
  padding: {
    bottom: $richEditor-insertPopover_paddingVertical;
    left: $richEditor-insertPopover_paddingHorizontal;
    right: $richEditor-insertPopover_paddingHorizontal;
  }
}

.insertMedia-title {
  margin: 0;
  max-width: calc(100% - #{$richEditor-menuButton_size});
  min-height: #{$richEditor-menuButton_size - $richEditor-insertPopover_paddingVertical};
}

.insertMedia-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: {
    left: $richEditor-insertPopover_paddingHorizontal;
    right: $richEditor-insertPopover_paddingHorizontal;
    bottom: $richEditor-insertPopover_paddingVertical;
  }
}

.insertMedia-help {
  margin-right: auto;
  font-size: 12px;
}

.insertMedia-insert {
  margin-bottom: 3px;
}


.insertPopover-body {
  max-height: $richEditor-insertPopover_maxHeight;
  overflow: auto;
  padding: {
    left: $richEditor-insertPopover_paddingHorizontal;
    right: $richEditor-insertPopover_paddingHorizontal;
  }
  margin-bottom: $richEditor-insertPopover_paddingHorizontal;
}

.richEditor-emojis {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.richEditor-insertEmoji {
  width: $richEditor-menuButton_size;
  height: $richEditor-menuButton_size;
  font-size: $richEditor-icon_size;
}

.richEditor ~ .TextBoxWrapper {
  display: none;
}

.richEditor-container {
  position: relative;
}