$richEditor-icon_size: 24px !default;
$richEditor-menuButton_size: 39px !default;
$richEditor_leftPadding: 36px !default;
$richEditor_minHeight: 200px !default;
$richEditor_padding: 9px 12px 0 !default;
$richEditor-paragraphMenu_offset: 9px!default;
$richEditor-embedMenu_padding: 0 !default;
$richEditor-icon_opacity: .5 !default;
$richEditor-atMention_width: 200px !default;
$richEditor-atMentionAvatar_width: 30px !default;
$richEditor-atMentionAvatar_margin: 10px !default;
$richEditor-atMentionMark_weight: 600 !default;
$richEditor-insertLink_width: 387px !default;

.richEditor {
  position: relative;
  display: block;
  padding-left: $richEditor_leftPadding;
}

.richEditor-frame.InputBox {
  background: white;
  height: auto;
  padding: 0;
}

.richEditor-menu {
  display: inline-block;
  position: relative;

  &.FlyoutMenu { // Temporary
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    display: block;
    float: none;
  }
}

.richEditorParagraphMenu {
  position: absolute;
  top: $richEditor-paragraphMenu_offset;
  left: #{($richEditor_leftPadding - $richEditor-icon_size) / 2};
  height: $richEditor-icon_size;
  width: $richEditor-icon_size;
}

.richEditor-text {
  position: relative;
  min-height: $richEditor_minHeight;
  padding: $richEditor_padding;

  &:focus {
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
    outline-color: Highlight;
    outline-color: -webkit-focus-ring-color;
    z-index: 1;
  }
}



.richEditor-menuItems {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.richEditor-menuItem {
  display: block;
  margin: 0;
  padding: 0;

  .richEditor-button {
    height: $richEditor-menuButton_size;
    width: $richEditor-menuButton_size;
  }

  &.isRightAligned {
    margin-left: auto;
  }
}

.richEditor-button {
  display: block;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  height: $richEditor-icon_size;
  width: $richEditor-icon_size;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:focus {
    z-index: 1;
  }

  &:hover,
  &:focus {
    .richEditorInline-icon {
      opacity: 1;
    }
  }
}

.richEditorEmbedMenu {
  display: block;
  width: 100%;
  padding: $richEditor-embedMenu_padding;

}

.richEditorInline-icon {
  display: block;
  margin: auto;
  height: $richEditor-icon_size;
  width: $richEditor-icon_size;
  opacity: $richEditor-icon_opacity;
}

// @mention menu
.richEditorAtMentionMenu {
  width: $richEditor-atMention_width;
}

.richEditorAtMentionMenu-items {
  width: 100%;


  &.MenuItems { // Temporary
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    display: block;
  }
}

.richEditorAtMentionMenu-user {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.richEditorAtMentionMenu-photoWrap {
  margin-right: $richEditor-atMentionAvatar_margin;
}

.richEditorAtMentionMenu-photo {
  width: $richEditor-atMentionAvatar_width;
  height: $richEditor-atMentionAvatar_width;
}

.richEditorAtMentionMenu-userName {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - #{$richEditor-atMentionAvatar_margin + $richEditor-atMentionAvatar_width});
}

.richEditorAtMentionMenu-mark {
  padding: 0;
  font-weight: $richEditor-atMentionMark_weight;
}

.richEditorAtMentionMenu-photo {
  display: block;
}

// Link Menu
.richEditorInsertLinkMenu.FlyoutMenu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: $richEditor-insertLink_width;
  width: 100%;
  padding: {
    left: 5px;
    right: 5px;
  }
}

.richEditor-close.Close {
  position: relative;
  display: block;
  width: $richEditor-menuButton_size;
  height: $richEditor-menuButton_size;
  line-height: $richEditor-menuButton_size;
  top: auto;
  right: auto;
  text-align: center;

}

.richEditorInsertLinkMenu-input.InputBox {
  border: 0 !important;
  flex-grow: 1;
}
