@import url('reset.css') /* NoFollow */; 
/*
Welcome to the Admin CSS File! Some things you should know:

1. The reset.css file imported above breaks all elements down to a base style.

2. This css file will be included on all "admin" pages. Specifically:
   + Home/*
   + Messages/*
   + Role/*
   + Routes/*
   + Settings/*
   + User/*

3. This file is broken down into the following sections:
   + Line 30:     Header
   + Line 49:     Panels / Sidebars
   + Line 126:    General Styles & Typography
   + Line 449:    Forms
   + Line 713:    Main Menu
   + Line 746:    Dashboard
   + Line 812:    DataList (Search Results)
   + Line 821:    User Search Page
   + Line 875:    Footer
*/
   

/* =================================================================== Header */
#Head {
	background:#e2f4ff none repeat scroll 0 0;
	border-bottom:1px solid #FFFFFF;
	padding: 10px 18px 18px;
   text-align: right;
}
#Head h1 {
	line-height: 160%;
	border: 0;
	float: left;
	margin: 0;
	padding: 3px 0 0;
}
#Head h1 a {
	color:#02475a;
	font-size:160%;
	text-shadow: #fff 0 1px 0;
}
#Head h1 a span {
	font-family: 'lucida grande', 'Lucida Sans Unicode';
	font-size: 40%;
	text-shadow: none;
	font-weight: normal;
	background: #c2e7fc;
	border: 1px solid #aedefc;
	padding: 2px 4px;
	margin: 0 0 0 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	vertical-align: middle;
}
#Head div.User {
	padding: 8px 0 0;
}
#Head div.User a {
	color:#02475a;
	font-family: 'lucida grande', 'Lucida Sans Unicode';
	margin-left: 20px;
}
#Head div.User a span {
	background: #c2e7fc;
	border: 1px solid #aedefc;
	padding: 0 4px;
	margin: 0 0 0 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

/* ======================================================== Panels / Sidebars */
#Panel {
	margin: 15px;
   width: 150px;
   float: left;
}
div.Box {
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   background: #d3f0ff;
   color: #999;
   padding: 6px 0;
   margin: 0 0 10px 0;
	border: 1px solid #a5d0e7;
}
div.Box h4 {
   font-size: 110%;
   color: #076C8E;
	text-shadow: #fff 0 1px 0;
   font-weight: bold;
   margin: 0;
   padding: 0 6px;
}
div.Box dl {
   border-bottom: 1px solid #aedefc  /* Panel Inlay Border Color */;
   background: #f0fbff /* Panel Inlay Background Color */;
   padding: 3px;
   font-size: 90%;
   overflow: hidden;
}
div.Box dl dt {
   float: left;
   width: 80px;
   color: #2786C2 /* Panel Font Color */;
}
div.Box dl dd {
   margin-left: 80px;
}
div.Box p {
   font-size: 100%;
   padding: 0 0 4px;
   color: #555 /* Body Text Font Color */;
}
ul.PanelInfo {
	margin-bottom: 6px;
}
ul.PanelInfo li {
   padding: 2px 0;
   font-family: tahoma;
   font-size: 80%;
}
ul.PanelInfo li a {
	padding: 0 8px;
   font-size: 120%;
	display: block;
}
ul.PanelInfo li.HighlightButton {
	background: #ff5;
}
ul.PanelInfo li.Active {
   background: #fff;
}
#Panel a.PanelButton {
   padding: 6px 0;
   display: block;
   text-align: center;
   font-size: 16px;
   font-weight: bold;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   background: #44c7f4 /* Banner Background Color */;
   color: #fff /* Banner Font Color */;
   text-decoration: none;
   margin: 0 0 10px 0;
}
#Panel a.PanelButton:hover {
   background: #11e420 /* Menu Hover Background Color */;
   color: #fff /* Menu Hover Font Color */;
}

/* ============================================== General Styles & Typography */
body {
   color: #000;
   font: 75%/1.7em "Helvetica Neue",Helvetica,arial,sans-serif;
   margin: 0;
   padding: 0;
   font-size: small;
   background: #ffffff;
	background: #c2e7fc url(slicesplash.jpg) no-repeat scroll center top;
}
#Body {
	border-top:1px solid #a5d0e7;
}
#Content {
	font-family: "Lucida Grande", 'Lucida Sans Unicode',Verdana,Arial,"Bitstream Vera Sans",sans-serif;
   margin: 15px 15px 15px 180px;
}
.Hidden {
   display: none;
}
.nowrap {
   white-space: nowrap;
}
.Center {
	text-align: center;
}
.Right {
	text-align: right;
}
h1, h2, h3, h4, h5, h6 {
   color: #000 /* Body Heading Font Color */;
   font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
   font-weight: normal;
   margin: 0;
}
#Content h1, #Content h2, #Content h3, #Content h4, #Content h5 {
	font-family: "Lucida Grande",'Lucida Sans Unicode',Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}
p {
   margin: 0.5em 0 0 0;
   line-height: 1.6em;
   font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
}
h1, h2 {
   font-size:140%;
   font-weight:bold;
   margin-bottom:10px;
	text-shadow: #fff 0 1px 0;
}
h3 {
   font-size:120%;
}
h4 {
   font-size: 110%;
	font-weight: bold;
}
h5 {
   font-size: 110%;
}
.Arrow {
	font-size: 18px;
}
a,
a:link,
a:visited,
a:active {
   text-decoration: none;
   color: #2786c2  /* Body Link Font Color */;
}
a:hover {
   text-decoration: none;
   color: #ff0084 /* Body Hover Font Color */;
}
input.DateBox,
input.InputBox,
input.SmallInput,
textarea {
   font-family: arial;
   color: #444;
   font-size: 16px;
   padding: 3px;
   margin: 0;
   width: 250px;
   border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
textarea.TextBox {
	font-size: 14px;
   width: 500px;
   height: 100px;
   min-height: 100px;
   max-height: 500px;
}
#Popup textarea.TextBox {
   width: 465px;
}
input.SmallInput,
input.InputBox {
   font-size: 15px;
   padding: 6px 3px;
}
input.SmallInput:focus,
input.InputBox:focus,
textarea:focus {
   background: #ffd;
	color: #333;
	border: 1px solid #aaa;
}
textarea {
   line-height: 128%;
}
select {
   font-family: arial;
   font-size: 14px;
   color: #222;
   margin: 0;
   padding: 3px;
   }
select.Day,
select.Year {
   margin-left: 4px;
}
.Button {
   cursor: pointer;
   margin: 0;
   font-family: 'lucida grande','Lucida Sans Unicode', Tahoma, sans-serif;
   font-size: 11px;
   padding: 4px;
   background: url('button_bg2.png') repeat-x center left #f8f8f8;
   color: #02475A;
	text-shadow: 0 1px 0 #fff;
   border: 1px solid #999;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
	box-shadow: 0px 0px 2px #999;
	-moz-box-shadow: 0px 0px 2px #999;
	-webkit-box-shadow: 0px 0px 2px #999;  
}
.FilterMenu a.Button {
   font-weight: bold;
	font-size: 13px;	
}
input.Button {
   font-weight: bold;
	font-size: 16px;
}
.FilterMenu a.Button:hover,
.Button:hover {
   color: #111;
   border: 1px solid #666;
}
.Button:focus {
   background: #eee;
}

.Loading {
   height: 100px;
   padding: 0 20px;
   background: url('progress.gif') center center no-repeat;
}
.AfterButtonLoading {
   background: url('progress.gif') center center no-repeat;
   padding: 0 20px;
}
.Progress {
   padding: 10px 40px 10px 0;
   background: url('progress.gif') center center no-repeat;
}
/* Note: Messages are the yellow notices that appear at the top/center of the
  page to notify users of things like drafts being saved, etc. */
div.Messages {
   text-align: center;
   position: fixed;
   top: 10px;
   left: 0;
   z-index: 200;
   margin: 0 !important;
   padding: 0 !important;
   list-style: none !important;
   font-size: 12px;
   display: block;
   width: 100%;
}
* html div.Messages {
  position: absolute;
  width: 100%;/*IE5.5*/
  top: 0;
  left: 0;
  overflow: visible; 
  top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop : document.body.scrollTop);
}
div.Messages ul {
   cursor: pointer;
   width: auto !important;
   border: 1px solid #ee8 !important;
   margin: 0 auto !important;
   padding: 4px 8px !important;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   background: #ff9 !important;
   display:-moz-inline-stack;
   display:inline-block;
   zoom:1;
   *display:inline;
}
div.Messages ul li {
   text-align: left !important;
   border: 0 !important;
   color: #000 !important;
   padding: 0 !important;
   margin: 0 !important;
   list-style-position: outside;
	font-size: 120%;
}
div.Errors ul {
   background: #d50a0a !important;
   border: 1px solid #a00 !important;
}
div.Errors ul li {
   color: #fff !important;
}
/* Note: Warning, Alert & Info are simple boxes that can be used to wrap message
   strings & imply importance. */
.DismissMessage {
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   font-size: 14px;
}
.Warning {
	line-height: 180%;
   background: #ffc;
   border: 1px solid #aaa;
   color: #000;
   padding: 6px;
}
div.Info {
	line-height: 180%;
   background: #e2f4ff;
   color: #333;
   padding: 6px;
   margin: 0 0 10px;
	border: 1px solid #aedefc;
}
strong {
	font-weight: bold;
}
.Alert {
   background: #d00;
   border: 1px solid #b00;
   color: #fff;
   padding: 3px 6px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
	text-shadow: 1px 1px 1px #444;
}
.Alert a {
   color: #fff;
}
.Alert a:hover {
   text-decoration: underline;
}
div.EmptyInfo {
   margin: 10px 0;
}
/* Note: The MessageModule (in /applications/garden/modules) wraps all messages
  that it renders in a div with this DismissMessage class. */
div.DismissMessage {
   margin: 6px 0 10px;
	padding: 0 6px 4px;
}
div.DismissMessage p {
   margin: 2px 0;
	padding: 4px 0 0;
}
div.DismissMessage a.Dismiss {
	font-family: arial;
   float: right;
	font-size: 22px;
	font-weight: bold;
   line-height: 120%;
   color: #999;
}
div.DismissMessage a.Dismiss:hover {
	color: #ff0084;
}
/* Note: The close class is used on the "close" anchor in popups. */
a.Close {
	color: #777;
	cursor: pointer;
	font-family: arial;
	font-size: 22px;
	font-weight: bold;
	padding: 0;
}
a.Close:hover {
	color: #333;
}
/* Note: MorePager is related to the /applications/garden/modules/MorePagerModule. */
.MorePager {
   list-style: none;
   margin: 1px 0 0;
   padding: 3px 6px;
   text-align: right;
   background: #d3f0ff;
   }
.MorePager a {
   font-size: 13px;
   font-weight: bold;
   text-align: right;
}
.MorePager a:hover {
   color: #2786c2 !important;
   text-decoration: underline;
}
.MorePager a.Loading:hover {
	text-decoration: none;
}
#PagerLess {
   -moz-border-radius-topright: 2px;
   -moz-border-radius-topleft: 2px;
   -webkit-border-top-right-radius: 2px;
   -webkit-border-top-left-radius: 2px;
   margin-bottom: 1px;
}
tr#PagerMore td {
   border: 0;
   text-align: right;
	border-bottom: 1px solid #aedefc;
}
#PagerMore {
   margin-bottom: 1px;
}
/* Note: FilterMenu is used on most administrative garden screens to help
   organize information being managed on screen. For example: applications and
   plugins. */
.FilterMenu {
   color: #aaa;
   padding: 0 0 10px;
}
.FilterMenu strong {
   font-weight: bold;
   color: #111;
}
.FilterMenu span {
   color: #999;
   padding: 0 4px;
}


/* ==================================================================== Forms */
form ul {
   list-style: none;
   margin: 0px;
   padding: 0px;
}
form ul li {
   margin-bottom: 10px;
   padding: 0;
   font-size: 12px;
   color: #555 /* Body Text Font Color */;
}
form ul li label {
   color: #000;
   display: block;
   font-size: 14px;
	font-weight: bold;
   }
body.Messages div.Popup form ul li label {
   width: 100px;
}
form ul li label.RadioLabel {
   float: none;
   display: inline;
   font-weight: normal;
}
table.Label tbody th {
   width: 140px;
}
form ul li table label {
   float: none;
   display: inline;
   width: auto;
}
body.Messages div.Popup form ul li label.CheckBoxLabel,
form ul li label.CheckBoxLabel {
   float: none;
   width: auto;
   display: block;
   font-size: 13px;
   cursor: pointer;
   margin: 0px;
   padding: 0px;
   line-height: 27px;
	font-weight: normal;
}
form ul li label.CheckBoxLabel input {
   margin: 7px 6px 4px 2px;
   padding: 0px;
   float: left;
}
form ul li label span {
   font-size: 11px;
   color: #999;
   padding-left: 6px;
   }
form li.RadioInput label {
   display: inline;
   }
input.SmallButton {
   cursor: pointer;
   margin: 0px 0px 0px 0px;
   font-size: 11px;
}
input.SmallInput {
   width: 80px;
}
/* FormTable */
table {
   width: 100%;
   border-collapse: collapse;
   margin: 10px 0;
	background: #e2f4ff;
	border: 1px solid #a5d0e7;
}
table label {
   font-size: 12px;
   padding: 0px;
}
table tr.Last td,
table tr.Last th {
   border-bottom: 0px;
}
table th,
table td {
   font-weight: normal;
   color: #555 /* Body Text Font Color */;
   padding: 6px;
}
form ul li table label {
	font-size: 100%;
}
table thead th,
table thead td {
   border-bottom: 1px solid #a5d0e7;
}
table tbody th {
   font-weight: bold;
   color: #000;
}
table tbody th,
table tbody td {
   border-bottom: 1px solid #a5d0e7;
   line-height: 150%;
}
table tbody tr.FootNote td {
   background: #ff9;
   color: #454545;
   border-bottom: 0px;
}
table tbody tr.More th,
table tbody tr.More td {
   border-bottom: 0;
}
table.AltRows tbody tr.Enabled td.Info,
table.AltColumns tbody tr.Enabled td.Info,
table.AltRows tbody tr.Disabled td.Info,
table.AltColumns tbody tr.Disabled td.Info {
   color: #aaa;
}
table tbody td.Info span {
   padding: 0 6px;
}
table tbody td.Info strong {
   font-weight: bold;
   color: #000 /* Body Default Font Color */;
}
table thead th {
   font-weight: bold;
   font-size: 13px;
   /* line-height: 100%; This made the headings on checkbox lists highlight incorrectly. */
   color: #000 /* Body Heading Font Color */;
}
table input.Button {
   margin: 0px;
}
table.AltRows tr.Alt th,
table.AltRows tr.Alt td {
   background: #d3f0ff /* Body Alt Background Color */;
}
table.AltColumns th.Alt,
table.AltColumns td.Alt {
   background: #d3f0ff /* Body Alt Background Color */;
}
table.AltColumns tr.Alt {
   background: none;
}
table.AltColumns tr.Parent td,
table tr.Parent td {
   background: #fff;
}
table.AltColumns tr.Parent td.Alt,
table tr.Parent td.Alt {
	background: #fcfcfc;
}
table tr.Child td.First {
   padding-left: 20px;
}
table tr.Highlight th,
table tr.Highlight td {
   color: #000;
}
table tbody td blockquote {
   margin: 0px;
   padding: 2px;
}
table.Sortable tbody td {
   cursor: move;
}
/* Status Rows - Certain tables have "Enabled" and "Disabled" rows (plugins, applications) that need to override default styles */
table.AltRows tr.Enabled th,
table.AltRows tr.Enabled td,
table.AltColumns tr.Enabled th,
table.AltColumns tr.Enabled td {
   background: #ffd /* Discussion New Background Color */;
   color: #000 /* Body Default Font Color */;
}
table.AltRows tr.Disabled th,
table.AltRows tr.Disabled td,
table.AltColumns tr.Disabled th,
table.AltColumns tr.Disabled td {
   background: #d3f0ff /* Body Background Color */;
}

/* CheckBoxGrid */
.CheckBoxGrid {
   margin: 10px 0;
   width: auto;
}
.CheckBoxGrid a {
   display: block !important;
   padding: 5px;
}
.CheckBoxGrid a:hover {
   background: #ff9;
   text-decoration: none;
}
.CheckBoxGrid th a,
.CheckBoxGrid td a,
.CheckBoxGrid th a:hover,
.CheckBoxGrid td a:hover {
   color: #555 !important;
}
.CheckBoxGrid td {
   text-align: center;
}
.CheckBoxGrid tbody th {
   font-weight: normal;
   padding: 0;
}
.CheckBoxGrid tbody th,
.CheckBoxGrid tbody td {
   vertical-align: middle;
}
.CheckBoxGrid thead th a,
.CheckBoxGrid thead th a:hover {
   color: #333 !important;
}
.CheckBoxGrid thead td {
   padding: 0;
}
.CheckBoxGrid tbody th a span.Parent {
   background: url('parent_divider.gif') center right no-repeat;
   padding: 6px 10px 6px 0;
   margin: 0 6px 0 0;
}
.CheckBoxGrid th {
   width: 150px;
}
.CheckBoxGrid td {
   width: 50px;
}
.CheckBoxGrid th,
.CheckBoxGrid td {
   padding: 3px;
}
.CheckBoxGrid th.Alt,
.CheckBoxGrid td.Alt {
   background: #d3f0ff  /* Body Alt Background Color */;
}
/* CheckColumn */
.CheckColumn thead td a {
   display: block !important;
   padding: 6px 5px;
   color: #333333 !important;
   font-weight: bold;
}
.CheckColumn thead td a:hover {
   background: #f9f4c0;
   text-decoration: none;
   color: #333333 !important;
}
/* CheckBoxList */
.CheckBoxList {
   padding: 4px 0px 4px 0px;
}
.CheckBoxList li {
   border: 0px;
   margin: 0px;
   padding: 3px 0px 3px 0px;
   font-size: 11px;
}
.CheckBoxList li label.CheckBoxLabel {
   float: none;
   display: inline;
   width: auto;
   font-weight: normal;
   padding: 0px 0px 0px 0px;
}

/* ================================================= Dashboard Customizations */
.Column {
	width: 50%;
	float: left;
}
.Column table {
	margin: 0 0 10px;
   width: 98%;
}
.Col {
	width: 175px;
	float: left;
}
#RecentUsers img {
	float: left;
	height: 20px;
	width: 20px;
	margin-right: 8px;
}


/* ========================================================= User Search Page */
#garden_user_index div.Info .InputBox {
   margin-right: 6px;
}
#garden_user_index div.Info .Button {
   margin-right: 20px;
}


/* ================================================== Splash Information Page */
.SplashInfo {
	margin: 80px 0;
	border-top: 1px solid #a5d0e7;
	border-bottom: 1px solid #a5d0e7;
	background: #e2f4ff;
}
.SplashInfo h1 {
	text-align: center;
	border-top: 1px solid #fff;
	color:#02455B;
	font-size:300%;
	text-shadow:0 1px 0 #FFFFFF;
	padding: 20px 0 0;
}
.SplashInfo p {
	text-align: center;
	border-bottom: 1px solid #fff;
	margin: 0;
	padding: 0 0 10px;
	color: #076C8E;
	font-size: 20px;
}


/* =================================================================== Popups */
div.Popup div.Errors ul {
	border: 1px solid #a00 !important;
}
div.Popup div.Messages {
   text-align: left;
   position: inherit;
   top: auto;
   left: auto;
   z-index: auto;
	margin: 10px 0 !important;
	font-family: 'lucida grande','Lucida Sans Unicode';
}
div.Popup div.Warning {
	margin: 10px 0 0;
}
div.Popup div.Messages ul {
	display: block;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
div.Popup div.Info {
	border: 0;
}
* html div.Popup div.Messages {
  position: inherit;
  width: auto;
  top: auto;
  left: auto;
  overflow: auto; 
}
div.Popup .Loading {
   display: block;
}
div.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div.Popup {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5000;
  text-align: center;
}
div.Popup div.Body {
  margin: 0px auto;
  text-align: left;
  position: relative;
  padding: 0px;
  background: #e2f4ff;
  max-width: 500px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 8px solid #555 /* Body Text Font Color */;
}
div.Popup div.Body div.Body {
   border: 0;
}
div.Popup div.Legal,
div.Popup .Content form {
	max-height: 440px;
	overflow: auto;
	padding: 0 10px 10px;
}
div.Popup .Loading {
  text-align: center;
}
div.Popup h1,
div.Popup h2 {
	font-size:150%;
	font-weight:bold;
	margin-bottom: 0;
	color: #02455B;
	background: #c0e6fc;
	border-bottom: 1px solid #a5d0e7;
	text-shadow: none;
	padding: 6px 9px 4px;
	text-shadow: 0 1px 0 #fff;
}
div.Popup h3 {
	font-size: 120%;
	font-weight: bold;
	padding: 20px 0 10px;
}
div.Popup p {
	padding: 6px 10px 10px;
	font-family: 'lucida grande','Lucida Sans Unicode';
}
div.Popup small {
	font-family: 'lucida grande','Lucida Sans Unicode';
	font-size: 80%;
}
div.Popup form p {
	padding: 0;
}
div.Popup form ul li label {
	color:#000;
	display:block;
	font-size:14px;
	font-weight:bold;
	margin: 10px 0 0;
}
div.Popup form ul li label.RadioLabel,
div.Popup form ul li label.CheckBoxLabel {
	font-weight: normal;
}
div.Popup input.Button {
	margin: 4px 0 2px;
}
body.Entry div.Popup p {
	color: #000;
}
div.Popup .Footer {
	border-top: 1px solid #a5d0e7;
	background: #c0e6fc;
	padding:4px 8px 0 5px;
	text-align: right;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
div.Popup .Footer input.Button {
	font-size: 11px;
}

/* ==================================================================== Legal */
div.Legal ol {
	list-style-position:outside;
	list-style-type:decimal;
	margin:0 30px 10px;
}
div.Legal ul {
	list-style-position:outside;
	list-style-type:disc;
	margin:0 30px 10px;
}
div.Legal li {
	padding: 5px 0;
}
div.Legal strong {
	font-weight: bold;
}
div.Legal * {
	font-family: 'lucida grande','Lucida Sans Unicode';
}
div.Legal em {
	font-style: italic;
}
div.Legal p {
	padding: 6px 0 10px;
}
div.Legal h3 {
	font-weight: bold;
	padding: 6px 0 0;
}
div.Legal {
	margin: 0 0 10px;
	padding: 2px 10px;
	border: 1px solid #a5d0e7;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #f6ffff;
}
div.Popup div.Legal {
	margin: 0;
	padding: 0 10px 10px;
	border: none;
	background: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}



/* =================================================================== Themes */
body.themes #Content img {
	border: 1px solid #777;
}
body.themes h3 {
	padding: 0 0 10px;
}
.CurrentTheme img {
	float: left;
	margin: 0 20px 0 0;
}
.CurrentTheme {
	min-height: 170px;
	border-bottom: 1px solid #AFD3E0;
	margin-bottom: 20px;
}
.CurrentTheme h4 {
	padding: 6px 0;
}
.CurrentTheme h4 span {
	padding-left: 10px;
}
table.SelectionGrid {
	background: none;
	border-left: 0;
	border-right: 0;
}
table.SelectionGrid td {
	width: 33%;
	border: 1px solid #a5d0e7;
	border-left: 0;
	border-right: 0;
	padding: 16px;
	vertical-align: top;
}
table.Themes td {
   min-width: 235px;
}
table.Themes td h4 {
	padding: 6px 0;
}
table.SelectionGrid td.FirstCol {
	border-right: 1px solid #a5d0e7;
}
table.SelectionGrid td.EmptyCol,
table.SelectionGrid td.LastCol {
	border-left: 1px solid #a5d0e7;
}
table.SelectionGrid td:hover {
   background: #e2f4ff;
}
table.SelectionGrid td.EmptyCol:hover {
   background: none;
}
table.SelectionGrid h4 {
   font-size: 16px;
   color: #02455B;
   text-shadow: 0 1px 0 #fff;
}
table.SelectionGrid em {
   display: block;
   padding: 3px 0 8px;
   font-style: oblique;
}
table.SelectionGrid div.Buttons {
   float: right;
   width: 70px;
   text-align: center;
}
table.SelectionGrid div.Buttons a {
   display: block;
   padding: 2px 4px;
   margin: 4px 0;
}
table.Themes em {
	padding-top: 13px;
}
table.Themes div.Buttons a {
	margin: 0 0 8px;
}
table.SelectionGrid dl {
	padding: 0 0 10px;
}
table.SelectionGrid dl dt {
	display: inline;
   color: #000;
   border-right: 1px solid #a5d0e7;
   padding: 4px 6px 4px 0;
	margin: 0 4px 0 0;
}
table.SelectionGrid dl dd {
	display: inline;
}

/* =================================================================== Footer */
#Foot {
   clear: both;
   font-size: 13px;
   border-bottom: 1px solid #a5d0e7;
   color: #076C8E;
   font-weight: bold;
   border-top: 1px solid #fff;
   background: #e2f4ff;
	padding: 10px 18px;
}
#Foot a {
	color: #076C8E;
}