div.Popup .Loading {
   width: 500px;
}
div.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/*
  z-index:1001;
  background-color: #000;
  -moz-opacity: 0.6;
  opacity:.60;
  filter: alpha(opacity=60);
*/
}
div.Popup {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5000;
  text-align: center;
}
div.Popup div.Body {
  margin: 0px auto;
  text-align: left;
  position: relative;
  padding: 0px;
  background: #fff;
  max-width: 500px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 8px solid #555 /* Body Text Font Color */;
}
div.Popup div.Body div.Body {
   border: 0;
}
div.Popup .Content {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
div.Popup .Loading {
  text-align: center;
}
div.Popup .Footer {
  background: #f3f3f3;
  padding: 1px 10px 5px 5px;
  text-align: right;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}