/* Begin Typography */
body {
   margin: 0;
   padding: 0;
}
div {
   font: 14px 'lucida grande', "Helvetica Neue",Helvetica,arial,sans-serif;
   padding: 0 12px;
   background: #464646;
   border-bottom: 1px solid #333;
   color: #fff;
   text-align: right;
   height: 40px;
   overflow: hidden;
}
div div {
   padding: 10px 0 8px;
   height: auto;
   border: 0;
}
strong {
   padding: 11px 0;
   display: block;
   float: left;
   font-weight: normal;
}
strong em {
   font-weight: bold;
   font-style: normal;
}
.Button {
   cursor: pointer;
   margin: 0;
   font-family: 'lucida grande', Tahoma, 'Trebuchet MS', Arial, Verdana;
   padding: 4px;
   margin-left: 16px;
   font-size: 12px;
   color: #ddd;
   text-decoration: none;
   }
.Button:hover {
   color: #fff;
   text-decoration: underline;
}
iframe {
   width: 100%;
   border: 0;
   margin: 0;
   padding: 0;
}