body,
div {
   font-family: Arial, Helvetica, Verdana;
}
body {
   background: url('slicesplash.jpg') top center no-repeat #DCF5FE;
   margin: 0px;
   padding: 0px;
   text-align: center;
   color:#076C8E;
   text-shadow:0 1px 0 #FFFFFF;   
   }
a,
a:link,
a:active,
a:visited {
   color: #2786C2;
   text-decoration: none;
   }
a:hover {
   color: #FF0084 !important;
   text-decoration: underline;
   }
div.Title {
   background:#F2FBFF none repeat scroll 0 0;
   border-bottom:1px solid #FFFFFF;
   padding: 30px 0;
   text-align:left;
}
h1 {
   color: #02455B;
   width: 568px;
   margin: 0 auto;
   padding: 0;
   font-size: 180%;
}
div.Form {
   border-top: 1px solid #C0E7F5;
   text-align: center;
}
div.Form ul {
   width: 568px;
   margin: 0 auto;
   padding: 40px 0;
   }
div.Form div.Errors ul {
   padding: 0;
}
div.Errors {
   background: #d00;
   padding: 20px 8px !important;
   margin: 0 0 10px;
   border-bottom: 1px solid #C0E7F5;
}
.Errors li {
   padding: 4px 0 !important;
   border: 0px !important;
   margin: 0px !important;
   color: #fff !important;
   font-size: 16px;
   line-height: 150%;
   text-shadow: #900 0 1px 0;
}
.Errors li a {
   color: #ff0;
}
.Errors li a:hover {
   color: #ff0 !important;
}
.ImportProgress {
   padding-left: 40px;
   background: url('progress.gif') left center no-repeat;
}
.ImportProgress strong {
   background: #ff9;
   color: #000;
   padding: 3px 6px;
   margin: 0 4px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
}
.Loading {
   height: 100px;
   background: url('progress.gif') center center no-repeat;
}
.Progress {
   padding: 10px 40px 10px 0px;
   background: url('progress.gif') center center no-repeat;
}
.Hidden {
   display: none;
}
/* Forms */
form {
   margin: 0 0 20px;
   text-align: right;
}
form ul {
   text-align: left;
   list-style: none;
   margin: 0px;
   padding: 10px;
}
form ul li {
   padding: 10px 0;
   font-size: 18px;
}
form ul li.Warning {
   padding-bottom: 0;
   border-bottom: 0;
   font-size: 17px;
}
form ul li.Warning div {
   font-size: 90%;
   padding: 16px 0 8px;
}
form ul li label {
   font-weight: bold;
   display: block;
   padding: 8px 0 0;
   font-size: 120%;
   }
form ul li input.InputBox {
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   font-size: 110%;
   padding: 8px;
   width: 550px;
   border: 1px solid #C0E7F5;
   color: #555 /* Body Text Font Color */;
}
form ul li input.InputBox:focus {
   color: #000;
   background: #FFFEDE;
   border: 1px solid #a0c7c5;
}
form ul li.Last {
   padding: 12px 0 2px;
   border-bottom: 0;
}
div.Button {
   text-align: right;
   padding: 12px 0 30px;
   width: 568px;
   margin: 0 auto;
}
div.Button a,
input.Button {
   font-family: arial, helvetica, verdana;
   cursor: pointer;
   margin: 0;
   padding: 3px 10px;
   font-size: 25px;
   text-shadow:0 1px 0 #FFFFFF;   
   color: #073C5E;
   background: url('button_bg2.png') repeat-x center left #f8f8f8;
   border: 1px solid #bbb;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   font-weight: bold;
}
div.Button a {
   padding: 4px 8px;
}
div.Button a:hover,
input.Button:hover {
   text-decoration: none;
   color: #333 !important;
   border: 1px solid #888;
}