body,
div {
   font-family: Tahoma, 'Trebuchet MS', Arial, Verdana;
}
body {
   background: #ffffff;
   margin: 0px;
   padding: 0px;
   text-align: center;
   font-size: small;
   }
table {
   border-collapse: separate;
   }
#Frame {
   width: 800px;
   text-align: left;
   margin-left: auto;
   margin-right: auto;
   }
#Content {
   padding: 10px;
   }
a,
a:link,
a:active {
   color: #0063dc;
   text-decoration: none;
   }
a:visited {
   color: #ff0084;
   text-decoration: none;
   }
a:hover {
   color: #0063dc !important;
   text-decoration: underline;
   }
div.Title {
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   background: #E9F9FF;
   color: #31b8e7;
   padding: 0;
   margin: 10px 0;
   text-align: left;
   height: 80px;
}
h1 {
   -moz-border-radius-topleft: 4px;
   -webkit-border-top-left-radius: 4px;
   -moz-border-radius-bottomleft: 4px;
   -webkit-border-bottom-left-radius: 4px;
   background: url('install-vanilla.png') center center no-repeat #44c7f4;
   color: #E9F9FF;
   padding: 0;
   margin: 0;
   float: left;
   display: block;
   width: 180px;
   height: 80px;
}
h1 span {
   display: none;
}
h2 {
   padding: 28px 0 0;
   margin: 0 0 10px;
   text-align: left;
   text-indent: 12px;
   }
ul {
   margin: 0px;
   padding: 0px 40px 20px 40px;
   }
div.Errors {
   -moz-border-radius: 4px;
   background: #d00;
   padding: 0 8px !important;
   margin: 0 0 10px;
}
.Errors li {
   padding: 4px 0 !important;
   border: 0px !important;
   margin: 0px !important;
   color: #fff !important;
   font-size: 16px;
   line-height: 150%;
}
.Errors li a {
   color: #ff0;
}
.Errors li a:hover {
   color: #ff0 !important;
}
code {
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   background: #b00;
   font-family:Monaco,Verdana,Sans-serif;
   overflow:auto;
   padding:4px 8px;
   font-size: 80%;
}

.ImportProgress {
   padding-left: 40px;
   background: url('progress.gif') left center no-repeat;
}
.ImportProgress strong {
   background: #ff9;
   color: #000;
   padding: 3px 6px;
   margin: 0 4px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
}
.Loading {
   height: 100px;
   background: url('progress.gif') center center no-repeat;
}
body.Profile .Loading {
   margin-left: 232px;
}
.Progress {
   padding: 10px 40px 10px 0px;
   background: url('progress.gif') center center no-repeat;
}
.Hidden {
   display: none;
}
/* Forms */
form {
   margin: 0 0 20px;
   text-align: right;
}
form ul {
   text-align: left;
   list-style: none;
   margin: 0px;
   padding: 10px;
}
form ul li {
   border-bottom: 1px solid #eee;
   padding: 10px 0;
   color: #555 /* Body Text Font Color */;
   font-size: 18px;
}
form ul li.Warning {
   padding-bottom: 0;
   border-bottom: 0;
   font-size: 17px;
}
form ul li.Warning div {
   background: #ff9;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   font-size: 90%;
   padding: 8px 12px;
}
form ul li label {
   color: #222;
   float: left;
   display: block;
   width: 240px;
   padding: 8px 6px 0px 4px;
   }
form ul li input.InputBox {
   font-size: 18px;
   padding: 8px;
   width: 485px;
   border: 1px solid #999;
   color: #555 /* Body Text Font Color */;
}
form ul li input.InputBox:focus {
   color: #000;
   border: 1px solid #333;
}
form ul li.Last {
   padding: 12px 0 2px;
   border-bottom: 0;
}
div.Button {
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   background: #E9F9FF;
   padding: 12px;
}
div.Button a,
input.Button {
   cursor: pointer;
   margin: 0px 0px 0px 0px;
   font-family: Tahoma, 'Trebuchet MS', Arial, Verdana;
   padding: 4px;
   font-size: 16px;
   background: url('button_bg2.png') repeat-x center left #f8f8f8;
   color: #555;
   border: 1px solid #bbb;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   font-weight: bold;
}
div.Button a {
   padding: 4px 8px;
}
div.Button a:hover,
input.Button:hover {
   text-decoration: none;
   color: #333 !important;
   border: 1px solid #888;
}