@import url('reset.css') /* NoFollow */; 
/*
Welcome to the Generic Style CSS File! Some things you should know:

1. The reset.css file imported above breaks all elements down to a base style.

2. This file is included on all front-end/user-facing pages. Individual
   applications can override this file in their own custom files
   (ie. vanilla.css or conversations.css).

3. This file is broken down into the following sections:
   + Line 24:     General Styles & Typography
   + Line 325:    Header
   + Line 556:    Main Menu
   + Line 591:    Panels / Sidebars
   + Line 782:    Activities
   + Line 971:    Profile Page
   + Line 1072:   Profile Tab Menu
   + Line 1194:   Thumbnail Cropper
   + Line 1244:   Footer
*/
   
   
/* ============================================== General Styles & Typography */
body {
   color: #000;
   font: 75%/1.7em "Helvetica Neue",Helvetica,arial,sans-serif;
   font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
   background: #fff;
   margin: 0;
   padding: 0;
   text-align: center;
   font-size: small;
}
#Body {
   width: 960px;
   text-align: left;
   margin: 0 auto;
}
#Body {
   margin: 15px auto 0;
}
#Content {
   float: left;
   width: 680px;
   margin: 0 0 40px;
}
.Hidden {
   display: none;
}
.nowrap {
   white-space: nowrap;
}
.Center {
	text-align: center;
}
.Right {
	text-align: right;
}
h1, h2, h3, h4, h5, h6 {
   color: #000;
   font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
   font-weight: normal;
   margin: 0;
}
p {
   margin: 0.5em 0 0 0;
   line-height: 1.6em;
   font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
}
h1, h2 {
   border-bottom:1px solid #bbb;
   font-size:140%;
   font-weight:bold;
   margin-bottom:10px;
}
h3 {
   font-size:140%;
}
h4 {
   font-size: 120%;
   color: #6C6C6C;
}
h5 {
   font-size: 120%;
   color: #6C6C6C;
}
a,
a:link,
a:visited,
a:active {
   text-decoration: none;
   color: #2786c2;
}
a:hover {
   text-decoration: none;
   color: #ff0084;
}
input.DateBox,
input.InputBox,
input.SmallInput,
textarea {
   font-family: 'lucida grande','Lucida Sans Unicode', tahoma, sans-serif;
   color: #333;
   font-size: 15px;
   padding: 3px;
   margin: 0;
   width: 250px;
   border: 1px solid #ccc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
textarea.TextBox {
   width: 500px;
   height: 100px;
   min-height: 100px;
   max-height: 500px;
}
#Popup textarea.TextBox {
   width: 465px;
}
input.SmallInput,
input.InputBox {
   padding: 6px 3px;
}
input.SmallInput:focus,
input.InputBox:focus,
textarea:focus {
   background: #ffe;
}
textarea {
   line-height: 128%;
}
select {
   font-family: arial;
   font-size: 14px;
   color: #222;
   margin: 0;
   padding: 3px;
   }
.Button {
   cursor: pointer;
   margin: 0;
   font-family: 'lucida grande','Lucida Sans Unicode', Tahoma, sans-serif;
   font-size: 11px;
   padding: 4px;
   background: url('button_bg2.png') repeat-x center left #f8f8f8;
   color: #02475A;
	text-shadow: 0 1px 0 #fff;
   border: 1px solid #999;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
	box-shadow: 0px 0px 2px #999;
	-moz-box-shadow: 0px 0px 2px #999;
	-webkit-box-shadow: 0px 0px 2px #999;  
   }
input.Button {
	font-size: 14px;
   font-weight: bold;
}
.Button:hover {
   color: #111;
   border: 1px solid #666;
}
.Button:focus {
   background: #eee;
}
.Loading {
   height: 100px;
   padding: 0 20px;
   background: url('progress.gif') center center no-repeat;
}
.Progress {
   padding: 10px 40px 10px 0;
   background: url('progress.gif') center center no-repeat;
}
/* Note: Messages are the yellow notices that appear at the top/center of the
  page to notify users of things like drafts being saved, etc. */
div.Messages {
   text-align: center;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 200;
   margin: 0 !important;
   padding: 0 !important;
   list-style: none !important;
   font-size: 12px;
   display: block;
   width: 100%;
	font-family: 'lucida grande','Lucida Sans Unicode', tahoma, sans-serif;	
}
* html div.Messages {
  position: absolute;
  width: 100%;/*IE5.5*/
  top: 0;
  left: 0;
  overflow: visible; 
  top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop : document.body.scrollTop);
}
div.Messages ul {
   cursor: pointer;
   width: auto !important;
   border: 0 !important;
   margin: 0 auto !important;
   padding: 4px 8px !important;
   -moz-border-radius-bottomleft: 2px;
   -moz-border-radius-bottomright: 2px;
   -webkit-border-bottom-left-radius: 2px;
   -webkit-border-bottom-right-radius: 2px;
   background: #ff9 !important;
   display:-moz-inline-stack;
   display:inline-block;
   zoom:1;
   *display:inline;
}
div.Messages ul li {
   text-align: left !important;
   border: 0 !important;
   color: #000 !important;
   padding: 0 !important;
   margin: 0 !important;
   list-style-position: outside;
}
div.Errors ul {
   background: #d50a0a !important;
}
div.Errors ul li {
   color: #fff !important;
}
/* Note: Warning, Alert & Info are simple boxes that can be used to wrap message
   strings & imply importance. */
.Warning {
   background: #ffc;
   border: 1px solid #ff9;
   color: #000;
   padding: 6px 8px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}
.Alert {
   background: #d00;
   border: 1px solid #b00;
   color: #fff;
   padding: 3px 6px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}
.Alert a {
   color: #fff;
}
.Alert a:hover {
   text-decoration: underline;
}
div.Info {
   font-size: 13px;
   background: #fafafa;
   border: 1px solid #eee;
   color: #888;
   -moz-border-radius: 4px;
   padding: 6px;
   margin: 0 0 10px;
}
div.EmptyInfo {
   margin: 10px 0;
}
/* Note: The MessageModule (in /applications/garden/modules) wraps all messages
  that it renders in a div with this DismissMessage class. */
div.DismissMessage {
   margin: 6px 0 10px;
	text-align: left;
}
div.DismissMessage p {
   margin: 2px 0;
}
div.DismissMessage a.Dismiss {
	font-family: arial;
   float: right;
	font-size: 22px;
	font-weight: bold;
   line-height: 120%;
   color: #999;
}
div.DismissMessage a.Dismiss:hover {
	color: #ff0084;
}
/* Note: The close class is used on the "close" anchor in popups. */
a.Close {
	color:#777;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	cursor:pointer;
	padding: 0 2px;
}
a.Close:hover {
	color: #333;
}
/* Note: MorePager is related to the /applications/garden/modules/MorePagerModule. */
.MorePager {
   list-style: none;
   margin: 1px 0 0;
   padding: 3px 6px;
   text-align: right;
   background: #e9f9ff;
   }
.MorePager a {
   font-size: 13px;
   font-weight: bold;
   text-align: right;
}
.MorePager a:hover {
   color: #2786c2 !important;
   text-decoration: underline;
}
#PagerLess {
   -moz-border-radius-topright: 2px;
   -moz-border-radius-topleft: 2px;
   -webkit-border-top-right-radius: 2px;
   -webkit-border-top-left-radius: 2px;
   margin-bottom: 1px;
}
tr#PagerMore td {
   border: 0;
   text-align: right;
}
#PagerMore {
   margin-bottom: 1px;
}
.NumberedPager {
   margin: 1px 0 0;
	text-align: right;
	font-weight: bold;
	font-size: 16px;
}
#PagerBefore {
   margin: 1px 0;
}
.NumberedPager a,
.NumberedPager span {
	padding: 0 4px;
}
.NumberedPager span,
.NumberedPager a.Highlight {
	color: #777;
}
.NumberedPager a.Next,
.NumberedPager span.Next,
.NumberedPager a.Previous,
.NumberedPager span.Previous {
	font-family: 'lucida grande','Lucida Sans Unicode', tahoma, sans-serif;
	font-size: 16px;
	line-height: 10px;
}
.NumberedPager a.Next,
.NumberedPager span.Next {
	margin-left: 6px;
}
.NumberedPager a.Previous,
.NumberedPager span.Previous {
	margin-right: 6px;
}


/* =================================================================== Header */
#Head {
   background: #44c7f4;
   padding: 0;
   text-align: right;
   /* height: 50px; Added a clearfix instead. */
}
div#Search:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}
body #Head h1 {
   display: block;
   font-weight: bold;
   margin: 0;
   padding: 21px 7px 0 0;
   border: 0;
   float: left;
   line-height: 1;
}
#Head h1 a span {
   font-size: 24px;
   color:#E4F7FE;
   text-shadow:0 1px 0 #30ACD6;   
}
#Head h1 a:hover span {
   color:#f3fcff;
}
#Head form {
   float: right;
   width: 250px;
   background: #fff;
   padding: 0;
   margin: 15px 0 0;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
}
#Head form input.InputBox {
   width: 204px;
   border: 0;
   padding: 4px 2px 4px 0;
   background: #fff;
   margin: 0;
   -moz-border-radius-topleft: 2px;
   -moz-border-radius-bottomleft: 2px;
   -webkit-border-top-left-radius: 2px;
   -webkit-border-bottom-left-radius: 2px;
   color: #969696;
   font-size: 13px;
}
#Head form input.Button {
   border: 0;
   width: 38px;
   height: 26px;
   background: #E9F9FF;
   color: #2786C2;
   padding: 3px 0 4px;
   margin: 0;
   -moz-border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius-topright: 2px;
   -moz-border-radius-bottomright: 2px;
   -webkit-border-top-right-radius: 2px;
   -webkit-border-bottom-right-radius: 2px;
}
#Menu * {
   font-family: 'lucida grande','Lucida Sans Unicode', tahoma, sans-serif;
}
#Menu {
   height: 28px;
   padding: 0;
}
#Menu,
#Menu ul {
   margin: 0;
   padding: 0;
}
#Menu ul {
   position: absolute;
   visibility: hidden;
   z-index: 100;
   -moz-border-radius-bottomleft: 2px;
   -moz-border-radius-bottomright: 2px;
   -webkit-border-bottom-left-radius: 2px;
   -webkit-border-bottom-right-radius: 2px;
}
#Menu li ul li.First {
   margin-top: 2px;
}
#Menu li ul li.Last {
   padding-bottom: 2px;
}
#Menu li {
   line-height: 27px;
   float: left;
   position: relative;
   display: block;
   list-style: none;
   padding: 0;
   margin: 0 4px 0 0;
   font-weight: bold;
   text-align: left;
}
* html #Menu li {
	display: inline;
}
* html #Menu ul  {
	left: 0;
	top: 27px;
}
* html #Menu ul li  {
	display: block;
	height: 1%;
	width: 85px;
}
#Menu li
#Menu li a,
#Menu li a:hover,
#Menu li.Active,
#Menu li.Active a,
#Menu li.Active a:hover {
   -moz-border-radius-topleft: 2px;
   -moz-border-radius-topright: 2px;
   -webkit-border-top-left-radius: 2px;
   -webkit-border-top-right-radius: 2px;
}
#Menu li ul li,
#Menu li ul li a,
#Menu li ul li a:hover,
#Menu li.Active ul li,
#Menu li.Active ul li a,
#Menu li.Active ul li a:hover {
   -moz-border-radius-topleft: 0;
   -moz-border-radius-topright: 0;
   -webkit-border-top-left-radius: 0;
   -webkit-border-top-right-radius: 0;
}
#Menu li ul li.Last a {
   -moz-border-radius-bottomleft: 1px;
   -moz-border-radius-bottomright: 1px;
   -webkit-border-bottom-left-radius: 1px;
   -webkit-border-bottom-right-radius: 1px;
}
#Menu li ul li {
   margin: 0;
   line-height: 22px;
   font-weight: normal;
}
#Menu li ul li a {
   height: auto;
}
#Menu a {
   border: 0;
   text-decoration: none;
   position: relative;
	display: block;
   padding: 0 7px;
   white-space: nowrap;
   font-size: 11px;
   height: 28px;
}
* html #Menu a  {
   display: inline;
   padding: 6px 10px;
}
* html #Menu ul li a  {
   display: block;
   padding: 3px 10px;
   width: 85px;
}
#Menu ul li {
	display: block;
	float: none;
}
#Menu ul .Active .First {
	padding-left: 1px;
}
#Menu li.NonTab,
#Menu li.NonTab a {
   background: transparent;
   border: 0;
   font-weight: normal;
}
#Menu a span,
#Menu li.Active a span,
#Menu li.Highlight a:hover span {
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   margin-left: 4px;
   padding: 0 2px;
   font-size: 9px;
   line-height: 12px;
   font-weight: normal;
}

/* Option (dropdown) Menus

Menu takes a z-index of 100
Option menu takes a z-index of 300

*/
ul.Options,
ul.Options ul {
   margin: 0;
   padding: 0;
   display: none;
}
ul.Options {
   z-index: 298;
}
ul.Options ul {
   z-index: 300;
   position: absolute;
}
ul.Options li {
   float: left;
   position: relative;
   display: block;
   list-style: none outside none;
   padding: 0;
   font-size: 11px;
   line-height: 22px;
}
ul.Options h3 {
   display: block;
   cursor: pointer;
   margin: 0;
   padding: 0;
}
ul.Options li ul li {
   float: none;
   text-align: left;
   margin: 0;
   font-weight: normal;
}
ul.Options li ul li a {
   width: 104px;
   padding: 0 6px;
   height: auto;
}
ul.Options a {
   text-decoration: none;
   display: block;
   position: relative;
   white-space: nowrap;
   font-size: 11px;
}
ul.Options ul li {
   display: block;
   float: none;
}
.Center {
   text-align: center;
}


/* ================================================================ Main Menu */
div.Menu {
   text-align: right;
   width: 960px;
   margin: 0 auto;
}
ul#Menu {
   float: left;
   margin: 0 auto;
   padding: 22px 0 0 10px;
}
#Menu ul,
#Menu li.Active {
   background: #44c7f4;
}
#Menu a,
#Menu li.Active a {
   color: #fff;
}
#Menu a:hover {
   background: #28bcef;
}
#Menu a:hover,
#Menu li.NonTab a:hover {
   color: #fff !important;
}
/* Numbers next to menu items */
#Menu a span,
#Menu li.Active a span,
#Menu li.Highlight a:hover span {
   background: #f2fcff;
   color: #299fc7;
}


/* ======================================================== Panels / Sidebars */
#Panel {
   width: 250px;
   float: right;
}
div.Box {
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   background: #e9f9ff;
   color: #999;
   padding: 6px 10px;
   margin: 0 0 10px;
	box-shadow: 0px 0px 2px #999;
	-moz-box-shadow: 0px 0px 2px #999;
	-webkit-box-shadow: 0px 0px 2px #999;  
}
div.Box h4 {
   font-size: 110%;
   color: #2786c2;
   font-weight: bold;
   margin: 0;
   padding: 0 0 1px;
   /* border-bottom: 1px solid #caf0fe; <-- This caused a 2px underline where it was above PanelInfo */
}
div.Box dl {
   border-top: 1px solid #caf0fe;
   border-bottom: 1px solid #caf0fe;
   background: #F5FCFF;
   padding: 3px;
   overflow: hidden;
   font-family: 'lucida grande','Lucida Sans Unicode', tahoma, sans-serif;	
}
div.Box dl dt {
   float: left;
   width: 80px;
   color: #555;
}
div.Box dl dd {
   margin-left: 80px;
}
div.Box p {
   font-size: 100%;
   padding: 0 0 4px;
   color: #555;
}
ul.PanelActivity {
   border-top: 1px solid #caf0fe;
	border-bottom: 0;
}
ul.PanelActivity li {
   background: #f5fcff;
   border-bottom: 1px solid #caf0fe;
   padding: 2px 4px;
   font-family: 'lucida grande','Lucida Sans Unicode', tahoma, sans-serif;
	color: #555;
}
ul.PanelActivity span {
	padding: 0 4px;
}
ul.PanelActivity p {
	padding: 0 4px;
	display: inline;
	font-size: 90%;
}
ul.PanelActivity li em {
	padding-left: 5px;
	color: #777;
	font-size: 80%;
}
ul.PanelActivity li div.Story {
	font-size: 85%;
}
ul.PanelInfo li {
   background: #f5fcff;
   border-bottom: 1px solid #caf0fe;
   padding: 2px 4px;
   font-family: 'lucida grande','Lucida Sans Unicode', tahoma, sans-serif;
   text-align: right;
}
ul.PanelInfo {
   border-top: 1px solid #caf0fe;
	border-bottom: 0;
}
ul.PanelInfo li strong {
   font-weight: normal;
   text-align: left;
   margin-right: 12px;
   font-weight: normal;
}
ul.PanelInfo li a {
   float: left;
}
ul.PanelInfo div.Meta {
   font-size: 11px;
}
ul.PanelInfo div.Meta span,
ul.PanelInfo div.Meta strong {
   margin-right: 8px;
}
ul.PanelInfo div.Meta span a {
   margin-left: 8px;
}
ul.PanelInfo div.Meta strong {
   font-weight: normal;
	font-size: 100%;
   display: inline;
   color: #80828C;
   background: #ffc;
   padding: 1px 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
	box-shadow: 0px 0px 3px #999;
	-moz-box-shadow: 0px 0px 3px #999;
	-webkit-box-shadow: 0px 0px 3px #999;     
}
ul.PanelInfo li.Active {
   background: #fff;
   border-bottom: 1px solid #a3e6ff;
}
ul.PanelInfo li.Active a {
   color: #2786C2;
}
ul.PanelActivity li.ShowAll,
ul.PanelInfo li.ShowAll {
   font-weight: bold;
   border: 0;
   text-align: right;
	background: none;
}
body.Profile ul.PanelInfo {
   border-bottom: 1px solid #caf0fe;
}
body.Profile ul.PanelInfo li {
	border-bottom: 0;
	text-align: left;
}
body.Profile ul.PanelInfo li a {
   float: none;
}


/* ============================================================= Entry Screen */
body.Entry {
   text-align: center;
}
body.Entry div.Panel {
   display: none;
}
body.Entry #Content {
   float: none;
   margin: 0 auto;
   width: 360px;
   text-align: center;
}
body#garden_entry_handshake #Content {
	width: 720px;
}
body#garden_entry_handshake ul.LinkAccount {
	float: left;
	width: 330px;
	margin-right: 29px;
	border-right: 1px solid #A5D0E7;
}
body#garden_entry_handshake div.Info {
	border: 1px solid #A5D0E7;
	background: #D3F0FF;
	color: #02475A;
}
body.Entry #Content div.Box {
   background: #E2F4FF;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
	border: 1px solid #A5D0E7;
	margin: 0;
	padding: 0;
}
body.Entry p {
	text-align: left;
	padding: 0 10px;
	margin: 10px 0 10px;
}
body.Entry p.Leaving {
	margin-left: 43px;
   background: url('progress.gif') left center no-repeat;
   padding-left: 50px;
}
body.Entry #Content h1 {
   border: none;
   color: #02475A;
   font-size:140%;
   font-weight:bold;
   padding: 6px;
	margin: 0;
	text-align: left;
}
body.Entry #Content form {
	text-align: left;
	padding: 10px 30px 20px;
}
body.Entry form ul li label {
	font-size: 14px;
	color: #555;
	font-weight: bold;
	padding: 6px 0 0;
	display: block;
}
body.Entry form ul li label.CheckBoxLabel,
body.Entry form ul li label.RadioLabel {
	font-size: 12px;
	font-weight: normal;
   width: auto;
}
body.Entry input.DateBox,
body.Entry input.InputBox,
body.Entry textarea {
   width: 290px;
}
body.Entry div.Popup input.DateBox,
body.Entry div.Popup input.InputBox,
body.Entry div.Popup textarea {
   width: 250px;
}
span.Incorrect {
   display: block;
   color: red;
}
body.Entry input.Button {
	margin: 10px 0 0;
}
#Form_User_SignIn li.Buttons span {
	padding: 0 6px;
}
#Form_User_SignIn li.Buttons input.Button,
body.Entry li.Buttons input.Button {
	margin: 10px 0;
}
#Form_User_Password,
body.Entry #Content #Form_User_Password {
	padding-top: 0;
}
#garden_entry_index #Form_User_Password ul li label,
#garden_entry_signin #Form_User_Password ul li label {
	padding: 0;
}


/* =============================================================== Activities */
body.Activity h1 {
   margin: 0;
}
ul.Activities {
	margin-bottom: 6px;
}
ul.Activities li {
   border-bottom: 1px solid #ddd;
   padding: 8px 0 6px;
   color: #454545;
   clear: left;
}
ul.Activities div span {
   padding: 0 6px 0 0;
}
ul.Activities li a.Photo {
   float: left;
}
ul.Activities li img {
   margin: 0;
   border: 0;
   height: 40px;
   width: 40px;
}
ul.Activities li.ActivityComment img {
   height: 32px;
   width: 32px;
}
ul.Activities li h3 {
   display: inline;
   padding: 0;
   font-size: 100%;
   font-weight: normal;
}
ul.Activities li h3 em {
   font-weight: normal;
   font-style: normal;
   color: #33afda;
   font-size: 10px;
   margin: 0 10px;
}
ul.Activities li h3 a.CommentOption {
   font-size: 10px;
   font-weight: normal;
}
ul.Activities li a.Delete {
	font-family: 'lucida grande','Lucida Sans Unicode', Tahoma, sans-serif;
   float: right;
   width: auto;
   padding: 5px;
   margin: 0 1px 0 0;
   font-size: 11px;
   font-weight: normal;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   color: #555;
   cursor: pointer;
   line-height: 100%;
}
ul.Activities li a.Delete:hover {
	padding: 4px;
   color: #333;
   border: 1px solid #888;
   background: url('button_bg2.png') repeat-x center left #f8f8f8;
}
ul.Activities li div.Story {
   border: 1px solid #eee;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   background: #fafafa;
   margin: 4px 0;
   padding: 4px 6px;
   line-height: 130%;
   color: #2b3033;
   display: block;
	font-size: 110%;
}
ul.Activities li.PictureChange div.Story {
	border: 0;
   background: none;
   margin: 4px 0 0;
   padding: 0 8px;
}
ul.Activities li div.Story blockquote {
   margin: 2px 0 0;
   padding: 0;
   background: none;
	border: 0;
   color: #999;
}
ul.Activities li div.Story img {
   height: auto;
   width: auto;
   background: #fff;
   padding: 2px;
   border: 1px solid #ccc;
   float: none;
   margin: 0 4px 0 0;
}
ul.Activities ul.Comments {
   background: #fff;
   margin: 0 0 0 46px;
   padding: 1px 0 0;
   list-style: none;
   font-size: 85%;
   clear: left;
}
ul.Activities ul.Comments li {
   background: #e9f9ff /* Panel Background Color */;
   margin-bottom: 1px;
   border-bottom: 0;
   padding: 6px;
   line-height: 1;
}
ul.Activities * {
	font-family: 'lucida grande','Lucida Sans Unicode', tahoma, sans-serif;
}
ul.Activities li.HasPhoto div {
   margin-left: 46px;
}
ul.Activities li.HasPhoto ul.Comments div {
   margin: 0;
}
ul.Activities ul.Comments li.HasPhoto div {
   margin-left: 40px;
}
ul.Activities a.Name,
ul.Activities a.Photo {
   font-weight: bold;
   padding-right: 6px;
}
ul.Activities p {
   display: inline;
   margin: 0;
   line-height: 1.4;
}
ul.Activities div.Meta {
   line-height: 1;
   color: #888;
   padding: 4px 0 0 6px;
  	margin: 0 !important;
   font-size: 80%;
	display: inline;
}
ul.Activities li.AboutUpdate div.Meta,
ul.Activities li.WallComment div.Meta,
ul.Activities ul.Comments div.Meta {
   display: block;
   padding: 4px 0 4px;
}
ul.Activities div.Meta a {
   font-weight: normal;
}
ul.Activities div.Meta span {
   padding: 0 6px;
   font-size: 8px;
}
ul.Activities ul.Comments li.CommentForm {
   clear: left;
   padding: 8px;
}
ul.Activities ul.Comments li.CommentForm a.CommentLink,
ul.Activities ul.Comments li.CommentForm a.CommentLink:hover {
   cursor: text;
   background: #fff;
   color: #bbb !important;
   padding: 5px;
   text-decoration: none;
   border: 1px solid #aaa;
   display: block;
   line-height: 100%;
   font-weight: normal;
}
ul.Activities li.CommentForm textarea.TextBox {
   width: 610px;
	min-height: 40px;
   height: 40px;
   margin-bottom: 2px;
	font-size: 12px;
}
body.Profile ul.Activities {
   margin-top: 10px;
   border-top: 1px solid #ddd;
}
div.EmptyInfo {
   margin: 10px;
}
ul.Notifications {
   margin-top: 0;
   border: 0;
}

/* ================================================ DataList (Search Results) */
body.Search h1 {
   margin:0;
}
ul.DataList li {
   margin: 0;
   padding: 0 0 4px 0;
   border-bottom: 1px solid #dbe3e6;
}
ul.DataList li li {
   border: 0;
   padding: 0;
}
ul.DataList,
ul.DataList li ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
ul.DataList li ul li.Title a {
   border: 1px solid #eee;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   background: #fafafa;
   margin: 4px 0;
   padding: 2px 8px;
   line-height: 130%;
   color: #2b3033;
   font-size: 105%;
   display: block;
}
ul.DataList li ul li.Title strong {
	display: block;
   padding: 6px 0 0 6px;
   margin: 0;
   font-size: 110%;
   font-weight: bold;
}
ul.DataList li ul li.Title strong a {
   display: inline;
   border: 0;
   padding: 0;
   margin: 0;
   color: #2d7bb2 /* Body Link Font Color */;
   background: none;
}
ul.DataList li ul li.Meta {
   margin-left: 5px;
   font-size: 80%;
   color: #80828c /* Meta Label Font Color */;
}
ul.DataList li ul li.Meta span,
ul.DataList li ul li.Meta span a,
ul.DataList li ul li.Meta strong {
   margin-right: 12px;
}
ul.DataList li ul li.Meta strong {
   background: #ff0;
   padding: 0 2px;
}
ul.DataList li ul li.Meta a {
   color: #2b2d33;
}
div.SearchBox {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 10px;
	padding: 8px;
}
div.SearchBox input.InputBox {
	width: 575px;
	margin-right: 10px;
}

/* ============================================================= Profile Page */
body.Profile #Content {
   width: auto;
   margin: 0 0 40px 20px;
   width: 690px;
	float: right;
}
body.Profile #Panel {
   float: left;
   width: 250px;
}
ul.SideMenu {
   -moz-border-radius: 0;
   -webkit-border-radius: 0;
   background: none;
   padding: 0;
   margin: 0 0 10px;
}
ul.SideMenu li ul {
   margin: 0;
   padding: 0;
   border: 0;
   background: none;
}
ul.SideMenu li ul li {
   border-bottom: 1px solid #dbe3e6 /* Panel Inlay Border Color */;
}
ul.SideMenu li ul li a {
   padding: 0 8px;
   display: block;
}
ul.SideMenu li ul li a:hover {
   text-decoration: none;
   background: #e9f9ff /* Panel Hover Font Color */;
}
div.User {
   line-height: 150%;
}
div.User,
div.User a {
   text-decoration: none;
}
div.User h1 {
   padding: 0 0 8px;
   margin: 0;
   line-height: 100%;
   border: 0;
}
#Status {
   -moz-border-radius-topleft: 2px;
   -moz-border-radius-topright: 2px;
   -webkit-border-top-left-radius: 2px;
   -webkit-border-top-right-radius: 2px;
   background: #e9f9ff;
   margin: 0;
   padding: 8px 8px 0;
   color: #999;
   font-weight: normal;
   line-height: 100%;
}
#Status p {
   font-size: 120%;
   color: #6c6c6c;
   display: inline;
   margin: 0;
   padding: 0;
   line-height: 1;
}
#Status a {
   text-transform: lowercase;
   font-size: 11px;
   text-decoration: none;
}
#Status a:hover {
   text-decoration: underline;
}
div.User form {
   -moz-border-radius-topleft: 2px;
   -moz-border-radius-topright: 2px;
   -webkit-border-top-left-radius: 2px;
   -webkit-border-top-right-radius: 2px;
   background: #e9f9ff;
   padding: 8px 8px 0;
}
div.User form input.InputBox {
   width: 618px;
   margin-right: 2px;
}
form.Activity {
   display: block;
   padding: 10px 10px 0 10px;
}
form.Activity textarea {
   width: 660px;
   margin-bottom: 2px;
   height: 60px;
   min-height: 60px;
   max-height: 300px;
}
/* Invitations Form */
#Form_Invitation table {
   width: 100%;
   border-collapse: collapse;
   margin: 10px 0;
	background: #F2FBFF;
	border: 1px solid #C0E7F5;
}
#Form_Invitation table label {
   font-size: 12px;
   padding: 0px;
}
#Form_Invitation table tr.Last td,
#Form_Invitation table tr.Last th {
   border-bottom: 0px;
}
#Form_Invitation table th,
#Form_Invitation table td {
   font-weight: normal;
   color: #555 /* Body Text Font Color */;
   padding: 6px;
}
#Form_Invitation table thead th,
#Form_Invitation table thead td {
   border-bottom: 1px solid #C0E7F5;
}
#Form_Invitation table tbody th {
   font-weight: bold;
   color: #000;
}
#Form_Invitation table tbody th,
#Form_Invitation table tbody td {
   border-bottom: 1px solid #C0E7F5;
   line-height: 150%;
}
#Form_Invitation table thead th {
   font-weight: bold;
   font-size: 13px;
   color: #000;
}
#Form_Invitation table.AltRows tr.Alt th,
#Form_Invitation table.AltRows tr.Alt td,
#Form_Invitation table.AltColumns th.Alt,
#Form_Invitation table.AltColumns td.Alt {
   background: #E9F9FF;
}
#Form_Invitation table.AltColumns tr.Alt {
   background: none;
}


/* ========================================================= Profile Tab Menu */
ul.Tabs,
ul.Tabs li {
   float: none;
   display: inline;
   border-bottom: 0;
}
ul.Tabs {
   clear: left;
   display: block;
   border-bottom: 1px solid #caf0fe /* Panel Inlay Border Color */;
   padding: 10px 0 0 10px;
   margin: 0;
   background: #e9f9ff /* Panel Background Color */;
}
ul.Tabs li {
   padding: 5px 0;
   margin: 0;
   line-height: 24px;
   -moz-border-radius-topleft: 3px;
   -moz-border-radius-topright: 3px;
   -webkit-border-top-left-radius: 3px;
   -webkit-border-top-right-radius: 3px;
}
ul.Tabs li.Active {
   border: 1px solid #caf0fe /* Panel Inlay Border Color */;
   border-bottom: 0;
   background: #fff /* Panel Selected Background Color */;
}
ul.Tabs li a,
ul.Tabs li a:link,
ul.Tabs li a:hover,
ul.Tabs li a:active,
ul.Tabs li a:visited {
   -moz-border-radius-topleft: 3px;
   -moz-border-radius-topright: 3px;
   -webkit-border-top-left-radius: 3px;
   -webkit-border-top-right-radius: 3px;
   display: inline;
   background: #daf4fd /* Panel Inlay Background Color */;
   font-weight: bold;
   color: #2786C2 /* Panel Inlay Font Color */ !important;
   text-decoration: none;
   padding: 5px 10px 4px 10px;
   margin: 1px 0 0;
}
ul.Tabs li a:hover {
   background: #f3fcff /* Panel Inlay Background Color */;
}
ul.Tabs li.Active a {
   background: #fff /* Panel Selected Background Color */ !important;
   color: #454545 /* Panel Selected Font Color */ !important;
   text-decoration: none;
   padding: 5px 10px 4px 10px;
}
ul.Tabs li a span {
   line-height: 1;
   font-size: 80%;
   padding: 0 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   font-weight: normal;
   background: #2786C2;
   color: #eaf4fd;
   margin: 0 0 0 4px;
}


/* ======================================================== Thumbnail Cropper */
form.Thumbnail table {
   width: 100%;
}
form.Thumbnail table td {
   width: 50%;
}
form.Thumbnail table tr td {
   vertical-align: top;
}
.jcropper-holder {
   border: 1px black solid;
}
.jcrop-holder {
   text-align: left;
}
.jcrop-vline, .jcrop-hline {
   font-size: 0;
   position: absolute;
   background: white url('jcrop.gif') top left repeat;
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-handle {
   font-size: 1px;
   width: 7px !important;
   height: 7px !important;
   border: 1px #eee solid;
   background-color: #333;
   *width: 9px;
   *height: 9px;
}
.jcrop-tracker {
   *background-color: gray;
   width: 100%; height: 100%;
}
.custom .jcrop-vline,
.custom .jcrop-hline {
   background: yellow;
}
.custom .jcrop-handle {
   border-color: black;
   background-color: #C7BB00;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}
form.Thumbnail table {
	width: 100%;
}
form.Thumbnail table td {
	font-weight: normal;
}


/* =================================================================== Popups */
div.Popup div.Errors ul {
	border: 1px solid #a00 !important;
}
div.Popup div.Messages {
   text-align: left;
   position: inherit;
   top: auto;
   left: auto;
   z-index: auto;
	margin: 10px 0 !important;
}
div.Popup div.Messages ul {
	display: block;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
* html div.Popup div.Messages {
  position: inherit;
  width: auto;
  top: auto;
  left: auto;
  overflow: auto; 
}
div.Popup .Info {
	margin-top: 10px;
}
div.Popup .Loading {
   display: block;
}
div.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div.Popup {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5000;
  text-align: center;
}
div.Popup div.Body {
  margin: 0px auto;
  text-align: left;
  position: relative;
  padding: 0px;
  background: #fff;
  max-width: 500px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 8px solid #555;
	box-shadow: 0px 0px 10px #333;
	-moz-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;  
}
div.Popup div.Body div.Body {
   border: 0;
}
div.Popup div.Legal,
div.Popup .Content form {
	max-height: 440px;
	overflow: auto;
	padding: 0 10px 10px;
}
div.Popup .Loading {
  text-align: center;
}
div.Popup h1,
div.Popup h2 {
	font-size:120%;
	font-weight:bold;
	margin-bottom: 0;
	color: #fff;
	background: #44C7F4;
	border-bottom: 1px solid #3DB9E5;
	text-shadow: none;
	padding: 6px 9px 4px;
}
div.Popup .Footer {
  background: #E9F9FF;
  text-align: right;
  padding: 2px 6px 0 0;
  border-top:1px solid #CAF0FE;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
div.Popup h3 {
	font-size: 120%;
	font-weight: bold;
	padding: 20px 0 10px;
}
div.Popup p {
	padding: 6px 10px 10px;
}
div.Popup div.Legal * {
	font-family: 'lucida grande','Lucida Sans Unicode', tahoma, sans-serif;
}
div.Popup div.Legal p {
	padding: 6px 0 10px;
}
div.Popup small {
	font-family: 'lucida grande','Lucida Sans Unicode', tahoma, sans-serif;
	font-size: 11px;
}
div.Popup form p {
	padding: 0;
}
body.Profile #Form_Invitation ul li label,
body.Profile #Form_User ul li label,
div.Popup form ul li label {
	color:#000;
	display:block;
	font-size:14px;
	font-weight:bold;
	margin: 10px 0 0;
}
body.Entry form ul li.Gender label.RadioLabel,
body.Profile #Form_User ul li.Gender label.RadioLabel,
div.Popup form ul li.Gender label.RadioLabel {
	display: inline;
	padding-right: 20px;
}
li.Gender {
	margin-bottom: 10px;
}
body.Profile #Form_User ul li label.RadioLabel,
body.Profile #Form_User ul li label.CheckBoxLabel,
div.Popup form ul li label.RadioLabel,
div.Popup form ul li label.CheckBoxLabel {
	font-weight: normal;
}
div.Profile #Form_User input.Button,
div.Popup input.Button {
	margin: 4px 0 2px;
}
body.Entry div.Popup p {
	color: #000;
}
div.Popup #Form_User div.Warning,
#garden_profile_picture #Form_User div.Warning {
	margin: 6px 0;
}
div.SignInPopup div.Body {
	max-width: 320px;
}
div.SignInPopup .Content form {
	padding: 0 30px 10px;
}
div.SignInPopup div.Box {
	margin: 0;
	padding: 0;
	background: none;
	border: 0;
}

/* ==================================================================== Legal */
div.Legal h3 {
	padding: 0;
	margin: 20px 0 0;
	font-size: 120%;
	font-weight: bold;
}
div.Legal ol {
	list-style-position:outside;
	list-style-type:decimal;
	margin:0 30px 10px;
}
div.Legal ul {
	list-style-position:outside;
	list-style-type:disc;
	margin:0 30px 10px;
}
div.Legal li {
	padding: 5px 0;
}
div.Legal strong {
	font-weight: bold;
}


/* =================================================================== Footer */
#Foot {
   clear: both;
   text-align: center;
   margin: 2px 0;
   padding: 4px 9px;
   font-size: 13px;
   color: #ddd;
   line-height: 1;
}
#Foot a {
   color: #ccc;
}
#Foot a:hover {
   color: #aaa;
}
#Foot div {
	width: 960px;
	border-top: 1px solid #ddd;
	padding: 6px 0;
	margin: 20px auto 0;
   font-family: 'lucida grande','Lucida Sans Unicode','helvetica neue',helvetica,arial,sans-serif;
	text-align: left;
}
