// Components
//
//
//
// Styleguide 6.

// Small media item
//
// Small media item for table or list.
//
// Markup:
// <div class="media-sm">
//   <div class="media-sm-image-wrap">
//     <a title="amelia" href="/en/profile/amelia" class="PhotoWrap  Offline"><img src="http://vanil.la/uploads/defaultavatar/nRZOCO2G7UFIN.jpg" alt="amelia" class="ProfilePhoto ProfilePhotoMedium"></a>
//   </div>
//   <div class="media-sm-content">
//     <div class="media-sm-title username">
//       <a href="#">amelia</a>
//     </div>
//     <div class="media-sm-info user-email">
//       <a href="#">name@email.com</a>
//     </div>
//   </div>
// </div>
//
// Styleguide 6.1.

.media-sm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.media-sm-image-wrap {
  display: inline-block;
  @include image-wrap(to-rem(30), to-rem(30), .0625rem);
  margin-right: $spacer / 2;
}

.media-sm-content {
  line-height: 1;
}

.media-sm-title {
  font-size: $font-size-tables;
  margin-bottom: to-rem(30) - $font-size-tables - $font-size-sm;

  a {
    color: $gray-dark;
    transition: color 200ms;

    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }
}

.media-sm-info {
  font-size: $font-size-sm;
  @extend .info;
}

.btn-media-sm {
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
  @extend .btn-secondary;
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, .575rem, $line-height-sm, $btn-border-radius-navbar);
}
