// Components
//
//
//
// Styleguide 6.

// Small media item
//
// Small media item for table or list.
//
// Markup:
// <div class="media-sm">
//   <div class="media-sm-image-wrap">
//     <a title="amelia" href="/en/profile/amelia" class="PhotoWrap  Offline"><img src="http://vanil.la/uploads/defaultavatar/nRZOCO2G7UFIN.jpg" alt="amelia" class="ProfilePhoto ProfilePhotoMedium"></a>
//   </div>
//   <div class="media-sm-content">
//     <div class="media-sm-title username">
//       <a href="#">amelia</a>
//     </div>
//     <div class="media-sm-info user-email">
//       <a href="#">name@email.com</a>
//     </div>
//   </div>
// </div>
//
// Styleguide 6.1.

.media-sm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.media-sm-image-wrap {
  display: inline-block;
  @include image-wrap(to-rem(30), to-rem(30), .0625rem);
  margin-right: $spacer / 2;
}

.media-sm-title {
  margin-bottom: to-rem(30) - $font-size-tables - $font-size-sm;
  font-size: $font-size-tables;
  line-height: 1;

  a {
    color: $gray-dark;
    transition: color 200ms;

    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }
}

.media-sm-info {
  font-size: $font-size-sm;
  line-height: 1;
  color: $grey;
}

.btn-media-sm {
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
  @extend .btn-secondary;
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, .575rem, $line-height-sm, $btn-border-radius-navbar);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: ($spacer * 2) $spacer;

  > * {
    flex-grow: 1;
  }

  .label-selector {
    margin-left: 0;
    margin-right: 0;
  }

  .hero-content {
    padding: 0 $spacer * 6 0 $spacer * 4;
    font-size: $font-size-tables;
    text-align: center;
    flex-shrink: 1;
  }

  .tagline {
    font-size: $font-size-sm;
    font-weight: 500;
  }

  .vanilla-logo {
    width: $spacer * 6;
    height: $spacer * 4;
  }

  .hero-title {
    @extend .h2;
  }

  .btn {
    margin-top: $spacer * 2;
  }

  .hero-media-wrapper {
    flex-shrink: 0;
  }
}

.video-section-heading {
  @extend .full-border;
  padding: $spacer 0;
  font-weight: 500;
}

.video.label-selector-item {
  .video-title {
    font-size: $font-size-sm;
    text-align: left;
  }

  .overlay {
    background-color: rgba(0,0,0,.75);
  }

  &.current .overlay {
    height: 100%
  }

  svg {
    fill: $white;
    width: 40%;
  }
}

.video-section {
  .info {
    padding-top: $spacer;
  }

  &:first-child {
    .video-section-heading {
      border-top: $border-width solid $grey-light;
    }
  }
}
