.Hidden,
.hidden {
  display: none !important;
}

.Padded,
.padded {
  padding: $padding-default 0;
}

.Help.Aside {
  position: absolute;
  display: block;
  width: 200px;
  right: -200px;

  h2 {
    font-size: $font-size-lg;
  }
}
