.imagewrap-table {
  display: block;
  height: $spacer * 2;
  width: $spacer * 2;
  overflow: hidden;
}

.img-fluid {
  @include img-fluid();
}

.DataList {
  .IconWrap {
    @include image-wrap();
  }
}

/*Checkerboard background for transparent images  */
.checkerboard-bg {
  background-color: #FEFEFE;
  background-image: -webkit-linear-gradient(45deg, #d8d8d8 25%, transparent 25%, transparent 75%, #d8d8d8 75%, #d8d8d8), -webkit-linear-gradient(45deg, #d8d8d8 25%, transparent 25%, transparent 75%, #d8d8d8 75%, #d8d8d8);
  background-image: -moz-linear-gradient(45deg, #d8d8d8 25%, transparent 25%, transparent 75%, #d8d8d8 75%, #d8d8d8), -moz-linear-gradient(45deg, #d8d8d8 25%, transparent 25%, transparent 75%, #d8d8d8 75%, #d8d8d8);
  background-image: -o-linear-gradient(45deg, #d8d8d8 25%, transparent 25%, transparent 75%, #d8d8d8 75%, #d8d8d8), -o-linear-gradient(45deg, #d8d8d8 25%, transparent 25%, transparent 75%, #d8d8d8 75%, #d8d8d8);
  background-image: -ms-linear-gradient(45deg, #d8d8d8 25%, transparent 25%, transparent 75%, #d8d8d8 75%, #d8d8d8), -ms-linear-gradient(45deg, #d8d8d8 25%, transparent 25%, transparent 75%, #d8d8d8 75%, #d8d8d8);
  background-image: linear-gradient(45deg, #d8d8d8 25%, transparent 25%, transparent 75%, #d8d8d8 75%, #d8d8d8), linear-gradient(45deg, #d8d8d8 25%, transparent 25%, transparent 75%, #d8d8d8 75%, #d8d8d8);
  -webkit-background-size: 8px 8px;
  -moz-background-size: 8px 8px;
  background-size: 8px 8px;
  background-position: 0 0, 4px 4px;
}

.addon-image-wrap {
  display: flex;
  align-items: center;
  @include image-wrap();
}

// Components
//
//
//
// Styleguide 6.

// User block
//
// Small user block
//
// Markup:
// <div class="user-block">
//   <div class="user-image-wrap">
//     <a title="amelia" href="/en/profile/amelia" class="PhotoWrap  Offline"><img src="http://vanil.la/uploads/defaultavatar/nRZOCO2G7UFIN.jpg" alt="amelia" class="ProfilePhoto ProfilePhotoMedium"></a>
//   </div>
//   <div class="user-info">
//     <div class="username">
//       <a href="#">amelia</a>
//     </div>
//     <div class="info">
//       <a href="#">name@email.com</a>
//     </div>
//   </div>
// </div>
//
// Styleguide 6.1.

.user-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .user-image-wrap {
    display: inline-block;
    @include image-wrap(2rem, 2rem, .125rem);
    margin-right: $spacer / 2;
  }
}

.user-info {
  .username {
    line-height: 1.125rem;
  }

  .user-email {
    line-height: .875rem;
  }
}

.btn-userblock {
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
  @extend .btn-secondary;
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, .575rem, $line-height-sm, $btn-border-radius-navbar);
}
