.imagewrap-table {
  display: block;
  height: $spacer * 2;
  width: $spacer * 2;
  overflow: hidden;
}

.img-fluid {
  @include img-fluid();
}

@mixin image-wrap($width: 4rem, $height: 4rem, $radius: .25rem, $background-color: $grey-light) {
  position: relative;
  height: $height;
  border-radius: $radius;
  overflow: hidden;
  background-color: $background-color;

  &::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: ($border-width * 1) solid rgba(0,0,0,.125);
    border-radius: $radius;
    content: '';
  }

  img {
    width: $width;
  }
}


.DataList {
  .IconWrap {
    @include image-wrap();
  }
}

.addon-image-wrap {
  display: flex;
  align-items: center;
  @include image-wrap();
}

.user-image-wrap {
  display: inline-block;
  @include image-wrap(2rem, 2rem, .125rem);
}

// User block

.user-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .user-image-wrap {
    margin-right: $spacer / 2;
  }

  .username {
    line-height: 1.125rem;
  }

  .user-email {
    line-height: .875rem;
  }
}
