.imagewrap-table {
  display: block;
  height: $spacer * 2;
  width: $spacer * 2;
  overflow: hidden;
}

.img-fluid {
  @include img-fluid();
}

.DataList {
  .IconWrap {
    @include image-wrap();
  }
}

// Checkerboard background for transparent image uploads
$checkerboard-background: #fefefe;
$checkerboard-foreground: #d8d8d8;

.checkerboard-bg {
  background-color: $checkerboard-background;
  background-image: linear-gradient(45deg, $checkerboard-foreground 25%, transparent 25%, transparent 75%, $checkerboard-foreground 75%, $checkerboard-foreground), linear-gradient(45deg, $checkerboard-foreground 25%, transparent 25%, transparent 75%, $checkerboard-foreground 75%, $checkerboard-foreground);
  background-size: .5rem .5rem;
  background-position: 0 0, .25rem .25rem;
}

.addon-image-wrap {
  display: flex;
  align-items: center;
  @include image-wrap();
}

.icon {
  svg {
    display: block;
    fill: $grey-dark;
  }
}

.icon-text {
  @extend .icon;
  position: relative;

  svg {
    position: relative;
    display: inline-block;
    height: $font-size-base;
    top: 2px;
  }
}
