.media {
  @extend .row;
  padding: $spacer $padding-default;
  margin-bottom: 0;
  border-bottom: 1px solid $border-color;

  &:first-child {
    border-top: 1px solid $border-color;
  }
}

.media-options {
  display: flex;
  align-self: center;

  .btn {
    margin-right: $spacer * 2;
  }
}


//
// Alignment
//

.media-right {
  padding-left: $spacer;
}

.media-left {
  padding-right: $spacer;
}



//
// Media item
//

.media-heading {
  margin-top: 0;
  margin-bottom: $spacer / 2;
}

.media-title {
  font-weight: 500;
  margin-bottom: $spacer / 4;
}

.media-description {
  line-height: $line-height-lg;
}


.media-callout {
  background-color: $grey-lighter;

  .info {
    font-size: $font-size-tables;
    font-weight: 300;
  }

  .flag {
    margin-top: -.0625rem;
    margin-bottom: $spacer / 2;
  }

  .media-title {
    margin-bottom: $spacer * (2 / 3);
  }

  .media-description {
    font-weight: 300;
  }

  img {
    height: 10rem;
    border: 1px solid $border-color;
  }
}
