.close {
  position: absolute;
  right: 10px;
  top: $spacer;
  font-size: 3rem;
  line-height: 1rem;
  font-weight: 100;

  &:hover {
    text-decoration: none;
  }
}

.modal-content {
  border-radius: $border-radius;
}

.modal-body {
  overflow-x: hidden;
}

div.Popup {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5000;

  .Buttons {
    display: block;
    margin-left: -$spacer;
    margin-right: -$spacer;
    padding: $spacer;
    border-top: 1px solid $grey-light;
  }
}
