// Navs
//
// The dashboard panel nav styling.
//
// No styleguide reference.

.nav-heading {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: .75rem;
  margin-top: 0;
  margin-bottom: .25rem;
  border-bottom: 1px dotted rgba(0,0,0,.0875);
  font-size: $font-size-sm;
  font-weight: 500;
  text-transform: uppercase;

  &:before {
    @extend .caret;
    margin-left: -1rem;
    margin-right: .5rem;
  }
}

.nav-inline {
  font-size: 0;

  .nav-item {
    display: inline-block;
  }

  .nav-item + .nav-item,
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.panel {
  a {
    color: $grey;
  }

  .nav-link {
    font-weight: 300;

    &.active {
      color: $white;
      border-radius: $nav-pills-panel-border-radius;
    }
  }

  .nav-stacked {
    .nav-item + .nav-item {
        margin-top: 0;
    }
  }
}

.nav-link {
  &,
  &.active,
  &:active,
  &.hover,
  &:hover {
    cursor: pointer;
  }
}

