// Navs
//
// The dashboard panel nav styling.
//
// No styleguide reference.

.nav-heading {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: .75rem;
  margin-top: 0;
  margin-bottom: .25rem;
  border-bottom: 1px dotted rgba(0,0,0,.0875);
  font-size: $font-size-sm;
  font-weight: 500;
  text-transform: uppercase;

  &:before {
    @extend .caret;
    margin-left: -1rem;
    margin-right: .5rem;
  }
}

.panel {
  .nav-link {
    font-weight: 300;

    &:hover {
      color: $white;
    }
  }

  li:not(.Active) {
    a {
      color: $grey;
    }
  }

  .nav-stacked {
    .nav-item + .nav-item {
        margin-top: 0;
    }
  }
}
