// Panel
//
// Find the panel styling here.
//
// No styleguide reference.

.panel {
  padding-top: $spacer * 4;

  code {
    word-wrap: break-word;
  }
}

.panel-content {
  width: 204px;
}

.panel-left-toggle {
  display: none;
}

.panel-left {
  padding-left: $spacer;

  .panel-content {
    float: right;
  }

  .btn-signout {
    display: none;
  }
}

.panel-right {
  color: $grey-dark;
  font-weight: 200;
  padding-right: $spacer;


  .panel-content {
    padding-left: $spacer;
    float: left;
  }

  h2 {
    padding-bottom: $spacer;
    margin-bottom: $spacer / 2;
    letter-spacing: .0625rem;
    border-bottom: 1px dotted $grey;
    font-weight: 100;
    text-transform: uppercase;
  }

  a {
    color: $brand-primary;
  }

  ul {
    @include list-reset();
  }

  li {
    margin-bottom: $spacer / 2;
  }

  .Aside,
  .aside {
    margin-bottom: $spacer * 3;
  }
}

@include media-breakpoint-down(md) {
  .panel-right {
    display: none;
  }

  .panel-left {
    display: none;

    .btn-signout {
      margin-top: $spacer * 2;
      display: inline-block;
    }
  }

  .panel-left-toggle {
    display: block;
    color: $white;
    font-size: $font-size-lg;

    &:hover,
    &:active,
    &:focus {
      color: $white;
      text-decoration: none;
      outline: 0;
    }

    &:hover,
    &:active {
      background-color: $nav-navbar-active-link-active-bg;
    }
  }

  .drawer-show .panel-left {
    position: absolute;
    display: block;
    width: $drawer-width;
    height: 100%;
  }
}
