// Panel
//
// Find the panel styling here.
//
// No styleguide reference.

.panel {
  padding-top: $spacer * 4;
  padding-left: $spacer * 4;
}

$border-color: rgba(0,0,0,.125);

.panel-left {
  padding-right: 0;
}

.panel-right {
  padding-left: 0;
}
