// Panel
//
// Find the panel styling here.
//
// No styleguide reference.

.panel {
  padding-top: $spacer * 4;

  code {
    word-wrap: break-word;
  }
}

.panel-content {
  width: 204px;
}

@include media-breakpoint-down(sm) {
  .panel-left {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .panel-right {
    display: none;
  }
}

.panel-left {
  padding-left: $spacer;

  .panel-content {
    float: right;
  }
}

.panel-right {
  color: $grey-dark;
  font-weight: 200;
  padding-right: $spacer;


  .panel-content {
    padding-left: $spacer;
    float: left;
  }

  h2 {
    padding-bottom: $spacer;
    margin-bottom: $spacer / 2;
    letter-spacing: .0625rem;
    border-bottom: 1px dotted $grey;
    font-weight: 100;
    text-transform: uppercase;
  }

  a {
    color: $brand-primary;
  }

  ul {
    @include list-reset();
  }

  li {
    margin-bottom: $spacer / 2;
  }

  .Aside,
  .aside {
    margin-bottom: $spacer * 3;
  }
}
