div.Popup {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5000;

  .Body {
    padding: 1rem;
  }

  .Close {
    position: absolute;
    right: 10px;
    top: 7px;
    height: 18px;
    width: 18px;
    overflow: hidden;
  }
}
