// Scaffold
//
// No styleguide reference.

.main {
  flex-grow: 1;
  padding: 0 $padding-default;
  max-width: 1024px;

  // Ensure the footer is flush with the bottom of the window if the
  // page height is less than the window height.
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $white;
  border: 1px solid $border-color;
  border-top: 0;
  border-bottom: 0;

  .content,
  .footer {
    flex: 1 100%;
  }

  .footer {
    max-height: 4rem;
  }

  .content {
    padding-bottom: 4rem;
  }
}


.main-row {
  display: flex;
  justify-content: center;
}
