// Scaffold
//
// No styleguide reference.

.main {
  background-color: $white;
  border: 1px solid $border-color;
  border-top: 0;
  padding-bottom: 4rem;
}

.main-row,
.footer-row {
  justify-content: center;
}

.main,
.footer {
  max-width: 1024px;
}
