.table-wrap {
  display: block;
  margin-top: $spacer;
  margin-right: (-$padding-default);
  margin-bottom: $spacer;
  margin-left: (-$padding-default);
}

.header-block + .table-wrap {
  // TODO: collapse border
  margin-top: 0;
}

table {
  td {
    vertical-align: middle;
  }

  .options {
    width: 6rem;
  }

  thead {
    tr {
      background-color: $grey-light;
    }

    th {
      padding: ($spacer / 2) ($spacer * .75);
      border: 1px solid #eee;
      border-top: 1px solid #ddd;
      text-transform: uppercase;
      font-weight: 500;
      font-size: $font-size-sm;
      line-height: $line-height-lg;
      vertical-align: middle;

      &:last-child {
        border-right: 0;
      }
    }
  }

  tbody {
    font-size: $font-size-tables;
    tr {
      &:hover {
        background-color: #f9fdfe;
      }
    }
  }
}

.CheckBoxGrid {

  .checkbox {
    margin-bottom: 0;
  }

  th {
    font-weight: $headings-font-weight;
  }

  a {
    color: $grey-dark;

    &:hover {
      color: $brand-primary;
    }
  }

  thead {
    tr {
      background-color: $grey-light;
    }

    td {
      text-align: center;
      padding: ($spacer / 2) ($spacer * .75);
      border: 1px solid #eee;
      border-top: 1px solid #ddd;
      text-transform: uppercase;
      font-weight: 500;
      font-size: $font-size-sm;
      line-height: $line-height-lg;
      vertical-align: middle;

      &:last-child {
        border-right: 0;
      }
    }

    th {
      font-weight: 700;
    }
  }

  tbody {
    td {
      padding: ($spacer / 2) ($spacer * .75);
      text-align: center;
    }
  }
}

