.SelectionGrid {
  text-align: center;

  td {
    width: 33%;
    border: 1px dotted $border-color;
  }

  em {
    display: block;
    padding: $padding-default;
    font-style: normal;
    @extend small;
  }

  img {
    padding: $padding-default;
    margin-left: auto;
    margin-right: auto;
    max-width: inherit;
  }

}
