// Typography
//
// Basic heading and paragraph styling.
//
// Styleguide 1.

// Headings
//
// Base heading styles. Each header level has a css class associated with it, so
// one can emulate the heading style. (i.e., p class='h1' would adopt the styles
// associated with a h1 tag)
//
// Markup:
// <h1>Heading level 1</h1>
// <h2>Heading level 2</h2>
// <h3>Heading level 3</h3>
// <h4>Heading level 4</h4>
// <h5>Heading level 5</h5>
// <h6>Heading level 6</h6>
//
// Styleguide 1.1

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: $spacer;
  margin-bottom: $headings-margin-bottom;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: $headings-margin-bottom;
  margin-bottom: $headings-margin-bottom;
}

// Paragraph
//
// Base paragraph style
//
// Markup:
// <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing
// mauris a ante mollis congue. Nam quis mauris nulla. Aenean accumsan volutpat
// purus vitae venenatis. Fusce non lacus quis erat aliquam pharetra.</p>
// <p>Nunc quis lobortis nunc. Duis mattis porta gravida. In sit amet eros ac
// nisl fermentum sagittis. Cras condimentum felis sed tincidunt varius. Cum
// sociis natoque penatibus et magnis dis parturient montes, nascetur
// ridiculus mus.</p>
//
// Styleguide 1.2

p {
  margin-bottom: ($line-height-computed / 2);
}
