html,
body {
    width: 100%;
    height: 100%;
}
.storybookDashboardStyles {
    $staticVariables: true;
    @import "../../../scss/admin.scss";

    // Re-apply these because we're nested inside the body.
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height;
    color: $body-color;
}
