/* ================================================================ Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-weight: inherit;
   font-style: inherit;
   font-size: 100%;
   font-family: inherit;
   vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
   outline: 0;
}
ol, ul {
   list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
   border-collapse: separate;
   border-spacing: 0;
}
caption, th, td {
   text-align: left;
   font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: "";
}
blockquote, q {
   quotes: "" "";
}

/* ============================================== General Styles & Typography */
body {
   font-family: 'lucida grande','Lucida Sans Unicode', 'Tahoma', sans-serif;
   font-size: 75%;
	line-height: 1.7;
   margin: 0;
   padding: 0;
   font-size: small;
   color: black;
	background: #878787;
}

div#Frame div#Head {
   margin: 25px 0px 10px 0px;
   height: 273px;
   background: transparent url('images/update-banner-bg.gif') repeat-x top left;
}

a, a:hover, a:visited {
   color: #b0ea2e;
   text-decoration: none;
}

a:hover {
   color: #7ac509;
}

div#Frame div#Head div.Header {
   background: transparent url('images/update-banner-image.jpg') no-repeat 40px 15px;
   font-family: "Arial","Verdana","sans-serif";
   color: white;
   padding: 85px 0px 85px 218px;
}

div#Frame div#Head div.Header h1 {
   font-size: 90px;
   line-height: 80px;
   font-weight: bold;
   padding: 0px;
   margin: 0px;
   clear: right;
}

div#Frame div#Head div.Header span.About {
   font-size: 14px;
   font-weight: normal;
   margin-left: 14px;
   color: #8d8d8d;
}

#Body {
   width: 1000px;
   margin: 0px auto;
   position: relative;
   height: 100%;
   overflow: hidden;
}

/* 
 * PANEL AND MODULE
 * 
 */
 
#Panel {
   background: transparent url('images/update-panel-bg.gif') repeat-x top left;
   height: 33px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}

#Content {
	padding: 20px 0px;
}

div#Frame div#Body div#Panel div.Box {
   border-width: 0px;
   border-bottom-width: 1px;
   border-style: solid;
   margin-bottom: 20px;
}

div#Panel div#UpdateModule h4 {
   font-size: 14px;
   font-weight: bold;
   padding: 10px;
   background: transparent url("images/dashboard-sprites.png") no-repeat scroll 214px -1140px;
   color: black;
}

ul.PanelUpdate {
   
}

ul.PanelUpdate div.UpdateTask {
   width: 250px;
   height: 100%;
   overflow: hidden;
}

ul.PanelUpdate div.UpdateTask div.TaskName {
   font-weight: bold;
   float: left;
   width: 200px;
   padding: 0px 5px;
   
}

ul.PanelUpdate div.UpdateTask div.TaskCompletion {
   float: right;
   width: 22px;
   padding: 0px 5px;
   padding-right: 11px;
   text-align: right;
}

ul.PanelUpdate div.TaskCompletion img {
   width: 22px;
   height: 22px;
   display: inline;
   background: transparent url("images/star_sprite.png") no-repeat scroll 0px 0px;
}

ul.PanelUpdate div.UpdateTaskChildren div.TaskName {
   font-weight: normal;
   padding-left: 15px;
   font-size: 85%;
   width: 185px;
}

ul.PanelUpdate div.UpdateTaskChildren div.TaskCompletion {
   font-weight: normal;
   font-size: 85%;
}

ul.PanelUpdate div.TaskCompletion img.Complete {
   background-position: 0px -22px;
}

ul.PanelUpdate div.TaskCompletion img.Incomplete {
   background-position: 0px -44px;
}

ul.PanelUpdate div.TaskCompletion img.NotStarted {
   background-position: 0px 0px;
}

body div#Panel div.UpdateSettings h4 {
   background-position: 214px -145px;
}

div#Panel div#UpdateModule div.TagDescription {
   background-color: #DBF3FC;
   margin: 0px 10px 15px 10px;
   padding: 10px;
   color: #014989;
}

/*
 * CONTENT
 * 
 * 
 */
 
/** UPDATE **/

div.UpdateBig {
   text-align: center;
}

div.UpdateBig h2 {
   font-size: 24px;
   margin: 0px;
   line-height: 22px;
}

div.UpdatePrompt p {
   margin-top: 20px;
}

div.UpdatePrompt p div {
   padding: 10px;

}