
.Sortable,
.DataList {
  padding-left: 0;

  li {
    list-style: none;
  }
}

.Current,
.current-theme {
  @extend .active;
}

// Autocomplete

.ac_input {
  @extend .form-control;
  height: $control-height-rem !important;
}

.ac_results {
  @extend .dropdown-menu;
  @include list-reset;
  z-index: 1100;

  li {
    @extend .dropdown-item
  }
}
