
.Sortable,
.DataList {
  padding-left: 0;

  li {
    list-style: none;
  }
}

.emojiset-author {
  @extend .info;
}

.emojiext-list {
  @extend .label-selector;
}

.Current,
.current-theme {
  @extend .active;
}

.FilterMenu {
  select {
    display: inline-block;
    width: inherit;
  }
  .FilterButton {
    display: inline-block;
    @extend .btn;
    @extend .btn-primary;
  }
}

// Autocomplete

.ac_input {
  @extend .form-control;
  height: $control-height-rem !important;
}

.ac_results {
  @extend .dropdown-menu;
  @include list-reset();
  z-index: 1100;

  li {
    @extend .dropdown-item
  }
}
