{#
    /**
     * Formats a h1 heading block for the dashboard. Only to be used once on a page as the h1 header.
     * Handles url-ifying. Adds an optional button or return link.
     *
     * @param {string} title
     * @param {string} returnUrl (optional) A URL to use for a back button.
     * @param {\Twig\Markup} buttons (optional) Twig button content.
     */
#}
{% from "@dashboard/components/macros.twig" import dashboardSymbol %}
<header class="header-block">
    <div class="title-block">
        {% if params.returnUrl|default(false) %}
            <a href="{{ url(params.returnUrl) }}" class="btn btn-icon btn-return" aria-label="Return">
                {{ dashboardSymbol({ name: 'chevron-left' }) }}
            </a>
        {% endif %}
        <h1>{{ params.title }}</h1>
    </div>
    {% if params.buttons|default(false) %}
        <div class="btn-container">
            {{ params.buttons }}
        </div>
    {% endif %}
</header>
