{#
    /**
     * Formats a h1 header block for the dashboard. Only to be used once on a page as the h1 header.
     * Handles url-ifying. Adds an optional button or return link.
     *
     * @param {string} title
     * @param {string} returnUrl (optional) A URL to use for a back button.
     * @param {string} buttonHtml (optional) Pre-sanitized HTML button button content to apply.
     */
#}
{% from "@dashboard/components/macros.twig" import dashboardSymbol %}
<header class="header-block">
    <div class="title-block">
        {% if params.returnUrl is defined %}
            <a href="{{ url(params.returnUrl) }}" class="btn btn-icon btn-return" aria-label="Return">
                {{ dashboardSymbol({ name: 'chevron-left' }) }}
            </a>
        {% endif %}
        <h1>{{ params.title }}</h1>
    </div>
    {% if params.buttonHtml is defined and params.buttonHtml is not empty %}
        <div class="btn-container">
            {{ params.buttonHtml|raw }}
        </div>
    {% endif %}
</header>
