$embedLoader_width: 135px;
$embedLoader-box_bg: #FFFFFF;
$embedLoader-box_boxShadow: 0 0 2px 0 rgba(0, 0, 0, .3);
$embedLoader_spinner-width: 42px;
$embedLoader-spinner-color: #0291db;
$embedLoader-embedError-bg: rgba(255, 57, 52, .12);
$embedLoader-embedError-padding: 15px;
$embedLoader-embedError-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
$embedLoader-closeButton_width: 24px;
$embedLoader-closeButton_opacity: .7;
$embeded-error_bg: rgba(255,57,52,0.12);
$embeded-icon_width: 24px;

.embed {
    display: block;
}

.embedLoader-icon {
    display: inline-block;
    width: $embeded-icon_width;
    height: $embeded-icon_width;
    flex-basis: $embeded-icon_width;
}

// Loading embed

.embedLoader {
    display: block;
    position: relative;
}

.embedLoader-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $embedLoader-box_bg;
    box-shadow: $embedLoader-box_boxShadow;
    width: $embedLoader_width;
    height: $embedLoader_width;
    margin: auto;
}

.embedLoader-loader {
    @include spinnerLoader($embedLoader_spinner-width);
}


// Loading Error

.embedLoader-errors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: $embedLoader_width;
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;

    // todo: undo list styles
}

.embedLoader-error {
    display: flex;
    overflow: hidden;
    align-items: center;
    list-style: none;
    margin:0;
    box-shadow: $embedLoader-embedError-shadow;
    padding: $embedLoader-embedError-padding;
    background: $embeded-error_bg;

    + .embedLoader-error {
        margin-top: 12px;
    }

    .embedLoader-warningIcon {
        align-self: flex-start;
    }

    .closeButton {
        opacity: $embedLoader-closeButton_opacity;
        width: $embedLoader-closeButton_width;
        height: $embedLoader-closeButton_width;
        align-self: flex-start;
        margin: 0 0 0 auto;
        cursor: pointer;

        &,
        &:hover,
        &:focus
        {
            background: none !important;
            border: 0 !important;
            color: inherit !important;
            line-height: normal;
            overflow: hidden;
            padding: 0 !important;
            -webkit-appearance: button !important; /* for input */
            -webkit-user-select: none !important; /* for button */
            -moz-user-select: none !important;
            -ms-user-select: none !important;
        }

        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}

.userContent {
    .embedLoader-errorMessage {
        max-width: calc(100% - #{$embeded-icon_width * 3});
        padding-left: $embeded-icon_width;
    }
}

.embedImage {
    display: block;
    width: $embedImage_width;
    max-width: 100%;
    margin: auto;
}

.embedVideo {
    position: relative;
    display: block;
    width: $embedVideo_width;
    max-width: 100%;
    margin: auto;


    background-color: #000000;
    padding: {
        left: 0;
        right: 0;
        bottom: 0;
    };

    &.is21by9 {
        padding-top: #{(9/21*100%)};
    }

    &.is16by9 {
        padding-top: #{(9/16*100%)};
    }

    &.is4by3 {
        padding-top: #{(3/4*100%)};
    }

    &.is1by1 {
        padding-top: 100%;
    }

    iframe,
    .embedVideo-iframe {
        @include absolute-fullSizeOfParent;
    }

    &:focus,
    &:hover {
        .embedVideo-playIcon {
            transform: scale(1.1);
        }
    }
}

.embedVideo-playButton {
    @include absolute-fullSizeOfParent;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.embedVideo-playIcon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: $richEditor-videoPlayIcon_width;
    height: $richEditor-videoPlayIcon_width;
    color: white;
}

.embedVideo-playIconPath {
    stroke: rgba(0, 0, 0, 0.1);
}
