.nativeEmoji {
    font-family: "Segoe UI Emoji"; // Helps with IE
}

.fallBackEmoji {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    user-select: none;
}
