.button .icon {
    display: inline-block;
    line-height: 100%;
    vertical-align: middle;
    margin: auto;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}


.iconLarge {
    display: inline-block;
    width: 42px;
    height: 42px;
    vertical-align: middle;
}
