$spoiler-borderColor: #aaadb1 !default;
$spoiler-borderRadius: 2px !default;
$spoiler-bg: #fff8d9 !default;
$spoiler-fontSize: 16px !default;
$spoiler-horizontalPadding: 18px !default;
$spoiler-icon_size: 30px !default;
$buttonSpoiler-fg: #555a62 !default;
$buttonSpoiler-bg: transparent !default;
$buttonSpoiler-hover_fg: #f52c6e !default;
$buttonSpoiler-hover_bg: transparent !default;
$buttonSpoiler-focus_fg: #f52c6e !default;
$buttonSpoiler-focus_bg: transparent !default;

$buttonSpoiler: (
    default: (
        border: 0,
        border-radius: 0,
        color: $buttonSpoiler-fg,
        background-color: $buttonSpoiler-bg,
        text-align: left
    ),
    hover: (
        color: $buttonSpoiler-hover_fg,
        background-color: $buttonSpoiler-hover_bg,
    ),
    focus: (
        color: $buttonSpoiler-focus_fg,
        background-color: $buttonSpoiler-focus_bg
    )
) !default;

.spoiler {
    border: {
        style: solid;
        color: $spoiler-borderColor;
        width: 1px;
        radius: $spoiler-borderRadius;
    }
    background-color: $spoiler-bg;

    .spoiler-content {
        display: none;
    }

    .spoiler-chevronUp {
        display: none;
    }

    &.isShowingSpoiler {
        .spoiler-content {
            display: block;
        }

        .spoiler-chevronUp {
            display: inline-block;
        }

        .spoiler-chevronDown {
            display: none;
        }
    }
}

.spoiler-chevronUp,
.spoiler-chevronDown {
    width: 8px;
    height: 4px;
    display: inline-block;
    margin-left: 6px;
    vertical-align: .2em;
}

.button-spoiler {
    @include generateButtonClass($buttonSpoiler);
    @include noSelect;
    width: 100%;
    max-width: 100%;
    font-size: $spoiler-fontSize;
    min-height: $spoiler-icon_size * 2;
    padding: 0 $spoiler-horizontalPadding;
    outline: 0;
    cursor: pointer;

    .spoiler-icon {
        @include absolute-topLeft(50%);
        transform: translateY(-50%);
        width: $spoiler-icon_size;
        height: $spoiler-icon_size;
    }
}

.spoiler-warning {
    position: relative;
    top: .1em;
    padding-left: #{$spoiler-icon_size + 6px};

}

.spoiler-chevron {
    margin-left: 6px;
}

.spoiler-content {
    padding: 0 $spoiler-horizontalPadding $spoiler-horizontalPadding $spoiler-horizontalPadding;
}
